[2017-11-06 19:56] paolafer commented on #389
After a bit more of playing with voxelization, I may have a possible explanation why the two versions of the algorithm perform differently, actually why the "wrong" version (let's call it 'old') performs better than the "right" ('new') one. @jacg, please, shout out loud if I misunderstood some part of your code.

Let me remind you the difference between the two versions:

old: the size of the voxe

[2017-11-06 23:16] jacg commented on #389
This is exactly the point I was trying to get across in my emails of `2017-10-07 12:48` and `2017-10-07 13:39`.

Apparently I failed. Sorry.

[2017-11-07 07:40] paolafer commented on #389
Yes, but I'm a bit slow, you have to forgive me!!! I didn't realize that this voxel size thing had such a big impact in blob distribution, so I just catalogued the issue as 'solved' in my head at that time, until I bumped into real data with some problems and I had to re-discover it again.

[2017-11-07 11:40] gonzaponte opened #390 "Test failing because of updated database"
We have a test failing because of a recently masked sensor in the database. @jacg is it ok with you if we push a quick temporary fix (`mark.skip` the test) and keep it in our TODO list for a while? We don't have time to be spent here now and we don't want continuous fails of travis builds. Besides, the test is not very relevant as that part of the code is very stable.

If so, can it be pushed dire

[2017-11-07 14:51] jacg commented on #390
@everybody-in-IC It's course week, so assume long delays in me reading, let alone answering, what you write. Best assume that I'm offline until the weekend.

@gonzaponte After 3 seconds of consideration, what you propose seems reasonable.

[2017-11-09 12:06] #374 closed, assigned to nobody

[2017-11-17 23:44] jacg commented on #177
As it was unilaterally closed without the planned and promised gathering and analysis of use cases, without the promised peras, and given the fact that there is wide dissatisfaction with the interface as it stands, this issue is being re-opened.

After extensive discussion with @abotas, @Aretno, Carmen (whose GitHub
handle I can't find at the moment) and @gonzaponte, we have arrived at
the followi

[2017-11-19 09:46] paolafer commented on #177
Great! I have a comment: I find it useful to be able to separate S1 and S2, because we use them in different ways, how is this done in  the new scheme?

[2017-11-19 11:23] jacg commented on #177
@jahernando and @jjgomezcadenas requested something similar.

We are proposing 2 different, but isomorphic `Peak` types. The `peaks` property of `Signal`is to be upgraded to a method, which takes the type of peak you want as an optional argument:

    signal.peaks()       --> all peaks
    signal.peaks(S1) --> S1 peaks only
    signal.peaks(S2) --> S2 peaks only

[2017-11-19 11:40] gonzaponte commented on #177
Actually, `Signal` already means "collection of peaks of a given type". This representation doesn't need to know which peaks you are referring to. The different interpretation comes from the user, not from its meaning. However, they can be combined in a (probably very useful) structure: a `PMap`. The structure of this class could be:
[code]

[2017-11-19 15:11] paolafer commented on #177
Ok, so a PMap would contain a set of S1s and a set of S2s at the irene level, right? The selection of one and only one S1 stays after that.

[2017-11-19 15:25] jjgomezcadenas commented on #177
Just change the name Signal by PMap, make Peak abstract (Peak_) and derive S1 and S2 from Peak_ to explicitly the types. That gives all the functionality we need

[2017-11-19 15:34] jahernando commented on #177
S1 and S2 are structurally identical, but physically are very different. For me it is better to define them as types, S1, S2, inheriting from Peak_, and JJ proposes. If we rename Signal into PMaps with the functionality that Jack has added, then we have all the functionality, with a minimum, simple set of classes.

[2017-11-19 21:16] gonzaponte commented on #177
Ok, we have peras-ed and:
1. We agree on `SensorResponses`.
3. We agree on the `Signal` to `PMap` renaming.
2. Do we want to have `S1` and `S2` to inherit from `Peak` or `Peak` to contain a `type` attribute (which would probably be implemented as a *Symbol*)?
4. Do we want `Signal` (now `PMap`) to have a `peaks(arg)` method that can provide all peaks or a subset of them depending on `arg` or do we

[2017-11-19 21:28] jjgomezcadenas commented on #177
Derive. They are different types.

@jahernando is right, I think. I believe best is peaks (type), as suggested by Master @jacg
peaks(S1), peaks(S2), peaks(AnyNewTypeDerivedFromPeaks) then works

[2017-11-19 22:54] jacg commented on #177
Here is how we should proceed:

1. Create a pure python module (which should be called `pmaps` but that's problematic at the moment because there's already a `pmaps.pyx`. [Where is the record of the profiling procedure that indicatied that the classes in the latter needed Cythonizing?] So we should call it something like `pmaps_new.py` for now. This module should contain the classes set out above,

[2017-11-24 11:50] paolafer commented on #389
I go back to this issue with two plots to illustrate the behaviour of a fixed vs variable voxelization.
[SigVsBckg_variable_voxels.pdf](https://github.com/nextic/IC/files/1501517/SigVsBckg_variable_voxels.pdf)
[SigVsBckg_fixed_voxels.pdf](https://github.com/nextic/IC/files/1501519/SigVsBckg_fixed_voxels.pdf)

I have used a 15mm voxelization and a radius of 21 mm. For the first plot, I have used th

[2017-11-25 08:56] jacg commented on #389
Interesting how the relative efficiencies of the three approaches are re-ordered when going from fixed- to variable-sized voxels.

I can see why the barycentre version might do better than the others for fixed-size, but I'm puzzled by it being overtaken by the others when going to variable-size.

[2017-11-25 08:58] paolafer commented on #389
Me, too, in fact now I'm rerunning the analysis, because I've found a mistake in the way I was selecting the hits inside the extreme voxels: I was requiring that the distance between the centre of the voxel and the hit be lower then the voxel size, for each dimensions, while it should be lower than half the voxel size. I'll post the new results soon.

[2017-11-25 09:11] jacg commented on #389
... which would be correct for spherical voxels, but these are cuboidal!

[2017-11-25 13:50] paolafer commented on #389
I've noticed a problem with variable-size voxels: when I look for the hits inside the extreme (with the condition mentioned above), I often find none. I had a look closer to a specific event, and it happens when only one hit belong to the voxel, and it is exactly on the boundary. Could there be a problem of rounding there? I'm requiring <=, but the problem stays there.

[2017-11-26 09:06] jjgomezcadenas commented on #377
Every one, PRs are accumulating again, we need reviewers to review and get them out of the way, before attacking the major refactoring coming in...

[2017-11-26 10:42] jacg commented on #377
The likely consequence of having an unmerged PR before starting The Big Refactor, for PRs in general, is great pain and suffering for whoever is going to rebase the PR afterwards.

But please note that approval of #394 is a **hard prerequisite** for proceeding with The Big Refactor ... and given that travel arrangements and accommodation for The Big Refactor are being/have been arranged, not appro

[2017-11-26 10:53] jacg commented on #389
7277c078 attempts to deal with exactly this problem. Try increasing the `eps` which appears therein, and see whether that solves your problem.

[2017-11-26 11:14] paolafer commented on #377
What does the Big Refactor address?

[2017-11-26 11:25] paolafer commented on #389
This commit deals with fixed-size voxels, while I find this problem using the variable-size code, where the actual range of the histogram is dealt with internally by histogramdd, if I understand it correctly.

[2017-11-26 11:39] jacg commented on #377
The Big Refactor will replace the old PMAPs interface with whatever is approved in #394.

[2017-11-26 12:18] jacg commented on #389
Ah, yes, I had it backwards, sorry.

Try [this branch](https://github.com/jacg/IC/tree/switchable-voxel-size-strictness) where I

+ add an option for fixed or variable voxel size
+ apply the same margin of error trick to both.

This hopefully

+ makes it easier for you to compare the two approaches
+ avoids the problem you reported

[2017-11-26 13:34] jacg commented on #377
... also, we need to make sure that @andLaing 's PR (#399) does not get neglected. It is important that we develop the habit of making new contributors' entries as smooth, painless and welcoming as possible.

[2017-11-26 14:00] jjgomezcadenas commented on #377
Actually, my opinion is that we really must get as many PRs as possible out of the way before the big Refactor. Many of the PRs seem to be there just because people seem to suffer of the opposite illness I do. For me, as it is well known, the longer the PR lingers, the less your level of Karma. Instead, some of the PRs, like the one open by @bpalmeiro seem to carry on forever apparently to win Kar

[2017-11-26 14:03] gonzaponte commented on #377
That is true. However, take into account that the big refactor will consist of 4 PRs and only the 3rd one will be troublesome.

There is no karma involved here.

[2017-11-27 11:39] paolafer commented on #389
I'm looking at the code, but I'm afraid I don't understand how this code deals with fixed or variable voxel size. Anyway, in both cases voxels are built with a size equal to the one that is given as argument of voxelize_hits, while in the case of variable voxel size it should be the actual one.

[2017-11-27 11:57] jacg commented on #389
I find that very hard to believe: as it stands the code passes all tests; change the default value of the `strict_voxel_size` parameter from `True` to `False` and `test_voxelize_hits_repsects_voxel_dimensions` fails. This directly contradicts your claim, as I understand it.

In addition to having performed this check before committing, pushing and commenting, I repeated it again just now, so I'm f

[2017-11-27 12:05] paolafer commented on #389
Voxels are built explicitly with the voxel size that has been passed as an argument:
`return [Voxel(cx[x], cy[y], cz[z], E[x,y,z], voxel_dimensions) for (x,y,z) in np.stack(nz).T]`
Maybe they have a different size, but their property size is being set erroneously?

[2017-11-27 12:09] jacg commented on #389
Yes indeed.

You push the test that shows this up, I'll push the fix.

[2017-11-27 14:01] paolafer commented on #389
I pushed it in [this branch](https://github.com/paolafer/IC/tree/switchable-voxel-size-strictness). I modified the make_track_graph method, which doesn't need to receive the voxel size anymore.

[2017-11-27 14:39] andLaing opened #401 "Magit installation doesn't work with Mac"
Using the init.el script provided in nextic/docs I get the following errors.
[code]

I can't find where it is installed (it's not in .emacs.d/)

Additionally, I get the errors:
[code]

Mac and aquamacs info:

Mac OSX 10.12.6

Aquamacs 3.3  GNU Emacs 25.1.1

Any ideas? José María and I are not having any success solving the problem so far.

[2017-11-27 14:52] jacg commented on #401
Try the new `init.el`provided in #402.

[2017-11-27 15:18] Aretno opened #404 "New DST for diffusion analysis"
Hi everybody,

as I told you in the software workshop we had two weeks ago I am currently creating my own DSTs for the diffusion analysis, which is a big no-no. Therefore, I need to make some city (I believe at least one) in order to officialize everything.

At the moment, I am generating three DSTs, each one for a different study:

First one that has mean XYZE and the Zrms, this is to be implemen

[2017-11-27 15:24] andLaing commented on #401
Tried.

It seemed to have worked but then when I restarted aquamacs it now doesn't seem to see the init file and opens a normal emacs window where magit commands are not recognised.

[2017-11-27 15:30] jacg commented on #401
Just to be sure: you are putting this init file in an empty directory called `.emacs.d`?

[2017-11-27 15:44] andLaing commented on #401
Yes, but on my Mac it isn't empty, there's a SessionDesktop.el file. I've just tried removing this but to no change.

[2017-11-27 16:01] jacg commented on #389
Have a look to see whether the solution in my branch does the trick for you.

I split your commit into two, because there were two completely unrelated bits of work in there:

1. removing the `voxel_dimensions` parameter from `make_track_graphs`
2. adding a completely new test

I also changed the test, as simply requiring `!=` admits any old rubbish as a correct solution. (And that includes my fir

[2017-11-27 16:20] gonzaponte commented on #404
Yes, this has already been done in #381.

If you need the xyze ***of each slice***, we can achieve this by simply adding a "hit number" column to `Penthesilea`'s output. After that, you will only need to run it with the barycenter configuration (so there is only 1 hit per slice).

Otherwise, we might need a new city. However, you could first try to use the `groupby` method of `pandas.DataFrame` wh

[2017-11-27 16:22] jacg commented on #401
Hmm, Aquamacs does all sorts of weird things to Emacs, but would I hope it wouldn't break anything at this level.

Let's try this:

1. `mkdir ~/magit-install-test`
2. `cd ~/magit-install-test`
3. `mkdir .emacs.d`
4. `cd .emacs.d`
5. `curl https://raw.githubusercontent.com/jacg/IC/docs.emacs-init/doc/init.el -o init.el`
6. `cd`
7. `HOME=~/magit-install-test emacs &`

... assuming that `emacs` opens

[2017-11-27 16:37] jacg commented on #389
Our hypothesis hard profile finds a problem with this (as I was half-expecting).

I'm about to go offline. Not sure when I'll have time to take it further.

[2017-11-27 16:41] jahernando commented on #404
I have the impression, Ander, that your DSTs for PSFs are better covered by Penthesilea's hits. In the case we can make a hit for each individual SiPMs, which I think it will be good thing to do. Several studies can start from these Penthesilea's hits. Can you check with Josh?

[2017-11-27 16:46] jacg commented on #401
... to be on the safe side, change out of the new `.emacs.d` directory before starting emacs, as per the edit in the comment above.

[2017-11-27 17:17] andLaing commented on #401
Same randomness. Works the first time then doesn't after reset.

I'll have a look at the other version of emacs.

[2017-11-27 17:24] Aretno commented on #404
Great, cool.

Well, I do not need the xyze of each slice, only the e and the xyz of the full event, but I guess I could do a barycenter of those slices. However if I go that way I probably won't be able to cut easily on the events (or at least not as easily as the typical DST). Still I'll need to look into that `groupby` because it may be what I would need for the cuts.

I just spoke with him, he

[2017-11-27 19:14] paolafer commented on #389
Errata corrige: this is not a correct example, the following set of voxels actually works fine. I'll try to find another one.

No problem, I'll keep posting my findings, have a look whenever you can!
First thing, I realized that something weird happens when events are made by a bunch of hits that fill only few voxels. For instance, the following set of hits:

 38.42050696   33.12655555  298.2
 44.

[2017-11-28 11:09] paolafer commented on #389
I've tried to increase the margin from 10e-12 to 10e-06, and the number of events where no hits are found in the extreme voxel is reduced, but is not zero. Is there a way to know exactly what this margin should be? Shouldn't it depend on the precision? And can we set the precision to a value we want?

[2017-11-28 16:40] #177 closed, assigned to jacg

[2017-11-28 16:41] gonzaponte commented on #177
This shouldn't be closed until we have the 4 PR approved, right?

[2017-11-28 16:49] jacg commented on #177
This is about a new PMAPs *interface*. By approving #394 we have nailed down the new interface, so this can be (and therefore has been automaticallly) closed.

[2017-11-28 19:25] jacg opened #407 "PMAPs interface transition"
This issue exists as a focal point for the activity surrounding the PMAPs interface transition.

The work is to be done in a sequence of several PRs and issues:

1. [x] **INTERFACE** A module with just the interface and no implementation:  #394 **COMPLETED**
2. [x] **IMPLEMENTATION** Tests and corresponding *pure Python* implementation behind the interface approved in step 1: #406 **IN PROGRESS**

[2017-11-28 21:51] jacg commented on #363
I propose a further minor simplification to the merge commit tile policy (saving us another 2 precious characters!): drop the `<space>#` and just start the title with the digits of the PR number.

Please respond with the thumbs-up or thumbs-down emoticon in the GitHub interface. I'll consider the results of this referendum in a few days.

[2017-11-29 11:29] abotas commented on #177
Do we want to add classes`SiPMResponses` and `PMTResponses` classes that inherit from `SensorResponses`?

Currently we only have `SensorResponses` and its string representation does not know whether it contains the responses of PMTs or SiPMs. We could create `SiPMResponses` and `PMTResponses` that add self-documenting string representations.

[2017-11-29 12:27] jjgomezcadenas commented on #177
Yes, I like the idea very much.

[2017-11-29 12:32] abotas commented on #177
Ok sounds good

[2017-11-29 14:46] andLaing commented on #401
Hi

I managed to get round to installing the alternate version of emacs as you recommended.

The good news is that I don't get the same error, the bad that there's still an error. Opening with ```--debug-init``` I get the following error:
[code]

[2017-11-29 15:15] jacg commented on #401
Diminish isn't actually used anywhere in the file (I think), so you can remove the `(require 'diminish)` line from `init.el' ... which should make that particular problem go away.

[2017-11-29 17:39] Aretno commented on #404
I have tried and successfully (kind of) obtained the DSTs that could be obtained through Penthesilea. However for the longitudinal difusión, where I need the cathode energy each slice (1 mus slices) there are cases where the SiPM don't see light, therefore no XY position is reconstructed and the barycenter of the integrated charge differs from the barycenter of the slice's position. However is a s

[2017-11-29 18:13] jjgomezcadenas commented on #404
Not clear to me what you mean. Penthesilea writes a hits DST. Enough for you?

Yes you are!

It can be done, of course, and the question is whether one could already write this info at Penthesilea level, which I think is both easy and OK. Any opinions, from @gonzaponte et al?

At nb level you are, indeed authorised to do whatever you need to do for your analysis, but I think we can and must provid

[2017-11-29 18:29] Aretno commented on #404
Yes, it seems to be more or less enough; with an adequate Penthesilea configuration I can obtain the two DSTs I needed. The only thing I would need to add is the XY mean position of the event and the position of a slice within the event (first slice = position 0, second = position 1, etc.). I have figured how to add both of them to the DST "a posteriori" but if they can be added to the standard Pe

[2017-11-29 18:55] jjgomezcadenas commented on #404
OK, probably we can add the XY mean position of the event (this is just the overall baricenter, right?) and let you add the position of the slice on the fly. And yes, you will need to prepare PR...

[2017-11-30 16:42] andLaing commented on #401
Removing the ```(require 'diminish)``` line from the init.el worked. Loads without error and quitting and relaunching still gives me access to magit commands.

Cheers.

[2017-11-30 16:42] #401 closed, assigned to nobody

[2017-12-01 18:31] jjgomezcadenas opened #408 "documentation notebooks"
While reviewing @andLaing PR, I have prepared a little notebook to test and document the performance of the involved functions in CYTHON, PYTHON, PYTHON+NP, etc. The results are quite interesting. You boost python by using NP. If you then CYTHONIZE the code you gain very little, unless you CITHONIZE and LOOP.

I believe this NB is a good example of "documentation notebook", something that should b

[2017-12-04 09:09] jjgomezcadenas opened #409 "A (minor) refactoring of cities?"
While waiting for the BIG CITY REFACTOR (rumor has this refactoring will shake the Earth and nothing will ever be the same) I would like to propose yet another small city refactor (SCR hereafter).

Here is the logic.

A city can be viewed as a machine that transforms a set of data into another. It needs to read the input data, process it even by event and eventually write the transformed data. The

[2017-12-04 10:49] jacg opened #410 "Making the cities invisible"
The cities (as is pointed out in #409) are machines which transform streams of data, typically performing operations event-by-event.

There are many problems with the current structure of the cities, which I will briefly summarize with two points

+ The structure is too difficult to understand
+ Code reuse is sub-optimal and difficult

I am using this issue to state publicly and officially what I

[2017-12-04 10:50] jacg commented on #409
All these sorts of things are naturally solved by the dataflow paradigm proposed in #410.

[2017-12-04 11:00] jjgomezcadenas commented on #410
While I agree with the need of a large refactoring and also agree with the technology proposed, I believe we must be realistic. This is a major refactoring and will take some time. Meanwhile I see no harm in improving what we have.

[2017-12-04 11:01] jacg commented on #409
I want to *get rid of* the mega-base-class City, so I'm very reluctant to do any work on maintaining it.

In short, I want go skip this completely, and just get it done in #410.

[2017-12-04 11:02] jjgomezcadenas commented on #409
OK, the crucial issue now is how long do you think this will take?

[2017-12-04 11:02] jjgomezcadenas commented on #410
Shall we keep the discussion in a single thread?

[2017-12-04 11:25] jacg commented on #409
He-heh ... I have been around long enough to know that it is foolish to predict how long a significant piece of software work will take!

However, you and me with peras, I reckon we would knock it off in a week unless there are major surprises. Without peras ... 3 months.

[2017-12-04 11:27] jacg commented on #410
I would like to keep the discussion of how and when we move to dataflow in this issue. Any discussion of an intermediate refactor of the cities does not belong here, but in #409.

[2017-12-04 12:12] jacg commented on #363
I hereby declare this referendum to have decided, with an overwhelming majority of 3-0, that henceforth PR merge commit titles shall start with the PR number (omitting the `<space>#` that we have been using so far).

[2017-12-04 13:29] jacg commented on #407
Is The Big Refactor taking place right now? or is it next week? When do we expect it to be finished? Please remember that we have to budget time for preparing the documentation **before** the January sprint!

[2017-12-04 13:37] abotas commented on #407
The big refactor is underway and hopefully almost done!

[2017-12-04 13:39] abotas commented on #407
It will definitely be finished this week I think. Hopefully in the next couple days.

@gonzaponte and I are putting this in my branch adapt to new pmaps

[2017-12-04 13:43] jacg commented on #407
#406 was supposed to have been approved **before** starting The Big Refactor.

If you guys are doing The Big Refactor right now, then I'll incorporate my comments into #406 and approve and merge it, unless I hear something to the contrary.

I infer that in the meeting you had last week everyone was extatically happy with #406 and gave you the go-ahead.

[2017-12-04 14:05] gonzaponte commented on #407
I know, but we started to work on it before the meeting, which was supposed to be the review.

Furthermore, I find useful to have some overlap between both. At the end of the day, it doesn't matter whether the PR has been approved or not as long as we have the same interface and the product remains stable. For instance, we've found during TBR that we hadn't made the safest implementation (nor the

[2017-12-04 14:09] jacg commented on #407
Fine. Carry on. Probably a good idea, actually.

I was hoping to be able to rely on it being stable while you guys carry on with TBR, but this is probably more useful.

[2017-12-04 14:10] gonzaponte commented on #407
Wow, I was expecting a big "bronca"!

[2017-12-04 14:14] gonzaponte opened #411 "Documentation for git(hub)-related stuff"
What do you (ic-ists) think about making a document in the repo on how to proceed with reviews and merging PRs?

New users will welcome this help and it can be updated with a proper PR submission and discussion rather than commenting on a (closed) old issue. We can use it to:

- describe how to make a good commit history
- describe how a review should be performed (in terms of tests, readability,

[2017-12-04 14:18] jacg commented on #411
I think that this is important, but perhaps not at the top of the priority list, as all the things you mention are done by more experienced members of the team, who have been given write-permission for the repo. By their very nature, these are things which are done by a self-selecting group of individuals who are more familiar with the way things are done in IC than the average developer.

I think

[2017-12-04 18:50] jjgomezcadenas commented on #404
After discussion we agree that:

1. @Aretno  (with the help of @gonzaponte) will modify the existing Hit DST to add a couple of variables of use for diffusion analysis.

2. @Aretno will commit his analysis code to ICARO.

Agreed? Can we close this issue?

[2017-12-04 19:17] jjgomezcadenas commented on #390
@gonzaponte can this issue be closed?

[2017-12-04 19:18] jjgomezcadenas commented on #90
@gonzaponte can you describe the new structure of ICARO?

[2017-12-04 19:18] #91 closed, assigned to jjgomezcadenas

[2017-12-04 19:30] gonzaponte commented on #390
Yes, closed by #392.

[2017-12-04 19:30] #390 closed, assigned to nobody

[2017-12-04 19:32] gonzaponte commented on #90
I will... as soon as I have some time for it.

[2017-12-04 20:58] Aretno commented on #404
Agreed, I'll close the issue.

[2017-12-04 23:59] jjgomezcadenas commented on #389
Is this issue understood, @paolafer ?

[2017-12-05 00:00] jjgomezcadenas commented on #387
This is a lovely conversation, but are we done here, @paolafer, @gonzaponte, @jacg ?

[2017-12-05 00:02] jjgomezcadenas commented on #377
Please, usual suspects, @gonzaponte, @abotas, @jmbenlloch, @paolafer, @bpalmeiro, review and get rid of open PRs and obsolete issues before TBR!

[2017-12-05 00:07] jjgomezcadenas opened #412 "On python vs vector-python, versus Cython vs Numba"
A new version of my simple case on performance study, available here.

https://github.com/jjgomezcadenas/ICDEV/blob/master/reco/cython_vs_python.ipynb

These are the findings:

Findings
Vectorized python is consistently fast. If the problem can be expressed in terms of numpy vectors or scipy vector operations, it appears that further optimisation is not worth.

cython underperforms for simple calc

[2017-12-05 07:49] jjgomezcadenas commented on #412
Further investigation, also perusing the literature a bit, suggests that a NUMPY + NUMBA strategy could be a more elegant approach than the current CYTHON-based fix.

The nice feature about NUMBA is that it allows easy writing of ufuncs so that one base all IC programming in vector functions, using NUMBA to vectorise code that is not already vectorised by NUMPY or SCIPY. The easy-of-use of NUMBA i

[2017-12-05 08:19] jacg commented on #389
Just like the others, it requires me to find some time to make some progress on it.

[2017-12-05 08:23] jacg commented on #387
Besides the general advice not to pollute pure code with side-effects, I don't think I have anything specific to contribute to this one.

[2017-12-05 09:07] jacg commented on #412
There's something fishy here:

The calculations that you claim are being performed are the reciprocals of the calculations that you *actually* perform!

Please remove the `print`s, they are just noise, and they give you the opporutnity to introduce misinformation, as you have done here.

You have picked decent names for your timing-storing variables, so simply writing `t_python_np_mean.best / t_cy

[2017-12-05 09:17] jacg commented on #412
Oh, I see ... you are deliberately inverting it, because you use 'performance' to mean 'how goot it is for us'.

Hmmm. The problem with this is that you are injecting nuances of natural language (which contains lots of ambiguities) into a context dominated by precise computational and mathematical language, and this does not help.

When reading natural language we keep having to make adjustments f

[2017-12-05 09:22] jacg commented on #412
Did you ever figure out what was causing the numba crash in your previous attempt?

[2017-12-05 09:24] jjgomezcadenas commented on #412
Please upload the NB again, prints removed!

Also. I wrote "performance" when I meant "speed" (already corrected in NB). My conclusions were and are:

I elaborate a bit more in the NB.

[2017-12-05 09:27] jjgomezcadenas commented on #412
Yes, sorry. Already fixed.

Yes, there was actually a bug in the python function that was not filling all the element of the matrix. Apparently Numba did not like that. When I corrected the bug (which was needed anyway for the calculation), the crash vanished.

[2017-12-05 09:35] jacg commented on #412
So the black magic is not all that evil after all!

Please align the numbers in the summary tables with something like `{:6.1f}`.

I would also join pairs of cells like the following:

The printing side-effect of timeit will still appear, and the REPL will still print the value of `t_python_mean.best`, while using less space and removing any need for a paranoid reader to wonder whether, somewhere,

[2017-12-05 09:40] jacg commented on #412
I would also change the grouping:

+ I would present the function definitions together.
+ I would suppress the outputs of the functions running in all but one case: show one output so that the human sees that the structure makes sense, then merely assert equality of results, rather than barfing the same arrays onto the screen over and over again.
+ I would group the timings together.
+ I would fin

[2017-12-05 10:11] jacg commented on #412
The summary table source is very noisy, and I find it difficult to trust: I have to read it to make sure that the ratio expressions match their labels, which are a long way away.

How about making a function like this (or some variation on the theme)

    from operator import itemgetter

    def print_timing_summary(timings):
        ordered = sorted([ (name, getattr(t, 'best')) for (name, t) in t

[2017-12-05 10:32] gonzaponte commented on #387
At some point, we will have a PR that closes this by modifying corona. I guess this is @paolafer's work 🙂

[2017-12-05 10:53] paolafer commented on #387
Yes, it's in my list!

[2017-12-05 11:21] Aretno commented on #411
I have to say that I'm suposed to do a small change in Penthesilea and I really have no idea of the correct way of doing everything that has been listed by @gonzaponte. I had the tutorial long ago but since I have not put it into practice it's like I didn't have it at all. Still, I understand this not being a priority so I'll probably bug @gonzaponte in the meantime.

[2017-12-05 12:07] jacg commented on #411
I think that at this stage the best thing to do is to get someone who is *geograhpically colocated* to help you go through it.

If, in the process, you could make notes of what it is that needed explaining, then those could form the basis of the documentation that we need to write here.

[2017-12-05 15:07] jjgomezcadenas opened #414 "Plan for the sprint week"
Two people from Harvard (Justo and Corey) are coming to the spring week in January and they will need a full tutorial. In addition, I think that many people at IFIC could benefit from a refreshed tutorial on IC procedures and standards.

Then we need to define our priorities and discuss how to proceed. What do we want to do, how, which organisation...

I see several hot topics coming:

1) City flo

[2017-12-05 15:33] jacg commented on #414
**If** the cities are going to be rewritten as dataflows, then I would be **really** keen on getting this done **before** anyone new is introduced to IC. Showing people the old stuff which is

1. horrible
2. about to disappear and be replaced with something completely different

seems so wrong!

I am going to do everything humanly possible to try to do this, but this week I have to fix a number of

[2017-12-05 15:42] jacg commented on #414
**Before** migrating to GitLab it is **absolutely essential** to verify that we can reproduce our automated testing setup in GitLab CI pipelines. The procedure would be something like:

1. Create a `gitlab-migration` branch
2. push it to `master` on GitLab
3. remove Travis from it
4. configure CI pipelines
5. try pushing things and observing it in action ... and react accordingly.

IIRC, when I tr

[2017-12-06 00:57] Aretno commented on #404
I'm reopening this (or should I open another issue?) because I almost have the PR ready but I'm having some trouble with some test's fixtures, concretely with `TlMC_hits` and `TlMC_hits_skipping_NN`. This causes that some tests fail (`test_load_hits_load_events`, `test_load_hits_double_ratio_e_q_equals_one` and `test_load_hits_double_ratio_e_q_equals_one_skipping_NN`). This is due because the file

[2017-12-06 01:03] Aretno commented on #411
In the end I got help from @jmbenlloch but it was a quick fast remembering of the tutorial (seems that I kind of remembered some things in the end) so we weren't sure on how to do those notes.

In summary he explained to me how a PR should be done, how should I make branches and push them to my fork and not nextic, a bit about resetting, rebasing, etc. and how to add the commit description. We did

[2017-12-06 07:03] jacg commented on #411
No problem. If it went smoothly and quickly then don't worry about the notes.

[2017-12-06 08:20] jjgomezcadenas commented on #404
Well, we have hit the classical problem of schema evolution... we want to change our DST and all the tests (plus all the reconstruction code written so far) assumes the old format DST.

One possibility is to add to your code a flag that decides wether you should. read old or new format. This makes your code backwards compatible, which I suspect is a must. In particular, if the default is "old form

[2017-12-06 08:27] jacg commented on #404
I'm sorry, I have reached my absolute limit of things that my brain can juggle. If I let this question penetrate my consciousness I will simply grind to a halt and not make progress on *anything*.

I'll think about this in January.

[2017-12-06 08:29] jjgomezcadenas commented on #404
well then, if nobody says the contrary, I propose to try the flag fix for the time being, as a way to let @Aretno progress. Ask for help to @jmbenlloch or @abotas if you need a hand with the coding.

[2017-12-06 10:07] gonzaponte commented on #404
Ignore it, I am quite sure the comment is there by accident. We have a long history of misleading comments. This one is mine, but it has been copied to other places where it does not belong.

The best solution would be to regenerate the file with your new columns. I think @paolafer produced that one. Let's see if she remembers which config was used and the original input file (which should be trac

[2017-12-06 10:16] Aretno commented on #404
There is a pmap file with practically identical name, that may be the one but yes, let's wait to Paola confirmation. In any case the flag should be added and we could use that file to test it as JJ suggests. I'll implement it.

Thanks everybody, I'll leave the issue open till I submit the PR, in case additional problems arise.

[2017-12-06 10:16] jacg commented on #404
And we must keep all this in version control, for which we need LFS or some alternative. Yes, I know that it's on its way, I just want to make sure that we all appreciate how important LFS is to us.

[2017-12-06 22:18] paolafer commented on #404
Mmm, I'm not sure I know which file you're talking about. I'm pretty sure I never produced a DST file... Maybe we can talk directly on Skype tomorrow, @Aretno or @gonzaponte.

[2017-12-07 15:34] Aretno commented on #404
Finally I managed to avoid using flags by using the getattr function so a default value of -1000 is set in case the hDST are older than this new hDST structure, I'll close now the issue and we can have further discussion on the PR (#415).

[2017-12-07 15:34] #404 closed, assigned to nobody

[2017-12-08 09:06] jacg commented on #412
@jjgomezcadenas please look at https://github.com/jacg/IC/blob/docs.numba-cython/doc/cython-numba.ipynb which I have been preparing as an introduction to Cython and Numba for one of my courses. I thought I'd try to play with your examples for inspiration, and I seem to be getting results which differ from yours, so I'm wondering to what extent this depends on the machines we are using.

1. Please

[2017-12-08 22:46] jjgomezcadenas commented on #412
Took a quick look to your NB, will look at it with detail tomorrow, but I would like to suggest that we put all this stuff in some common GitHub place, so that we can use GitHub tools to develop? To start with we could share some of the smart functions in your NB so that mine could use them (avoiding duplications).

[2017-12-08 22:53] jacg commented on #412
Getting to the bottom of how best to deas with notebooks and GitHub is on my todo list. Until I have done that, I don't want to stick any notebooks in Git in any permanent way.

[2017-12-18 19:17] coreyjadams commented on #414
Thanks for starting this discussion for this week - I am looking forward to it.  I have several comments, some of which maybe were already part of the plan:

- We (Harvard people) are interested to learn the steps to run the simulation locally at Harvard.  Justo knows already the GEANT step, so the rest of the simulation would be our priority to learn.
- You mention graphics above.  I have prototy

[2017-12-19 15:35] gonzaponte opened #416 "Bug in MAU coefficients"
As mentioned in #403, the vector of coefficients used in the MAU is full of zeros, which translates to the MAU having no effect at all. The reason for the zeros seems to be an integer division being performed by cython in lines similar to this one:

[code]

where `n_MAU` is typed as an `int`. I know this happens in my computer, but I don't know whether its universal or not. Thus, I would like to s

[2017-12-27 10:29] jmalbos commented on #414
With respect to the migration to GitLab that you mention in this issue, have you explored the possibility of getting a free GitHub Team account? The user documentation indicates that ["Unlimited private repositories are free for verified students, teachers, and academic researchers"](https://help.github.com/articles/github-s-billing-plans/).

[2017-12-27 10:46] jjgomezcadenas commented on #414
Hola Justo and Corey and Merry Xmass. Sorry about not answering first, this issue managed to escape my radar.

Quicks answers to your points:

Happy to discuss this during the Sprint week. Right now, the steps to simulation are still messy. We have a somewhat unholy combination of NEXUS (C++ Geant4) + DETSIM (C++ ART) + IC (Diomira). One of the on-oging projects is to move DETSIM to IC too. This p

[2018-01-09 16:22] jacg opened #419 "Fix comments which lie about test file contents etc."
There are various places where comments have diverged from reality, and therefore mislead the reader. We notice these while working on all sorts of things, but never get around to fixing them.

This issue should serve as a place where we can note any such comments we find. Once a signifcant number of such comments has been noted here, We can fix a whole bunch of them in one go.

Please note any mi

[2018-01-09 16:23] jacg commented on #419
`invisible_cities/conftest.py` in `TlMC_hits` and `TlMC_hits_skipping_NN` both lie in comments about the contents of the test data files.

[2018-01-10 14:53] jacg opened #420 "Loosen coupling between code and database, and fake the database in tests"
Some of our code is tightly coupled to *The One And Only Database*. This makes all manner of things difficult, including testing. This coupling needs to be reduced.

[2018-01-10 16:55] gonzaponte commented on #419
`invisible_cities/sierpe/blr.pyx` in `deconv_pmt`. The docstring lies about the return value. Dead pmts' waveforms are removed from the output, not filled with zeros.

[2018-01-10 21:18] jacg opened #422 "MC writer"
The mc writer receives the **whole table** rather than just a single event at a time, and it then performs a linear search through the table for each event. This seems seriously wrong.

@jjgomezcadenas claims that @jmbenlloch and @paolafer have a solution for this problem, consisting of adding an additional table with the extension of the events.

[2018-01-15 17:34] gonzaponte opened #429 "Compare arrays of floating precision numbers"
When doing floating point numbers comparison we are using `pytest`'s `approx` function. This is convenient because *it tells you very explicitly what we are trying to check*. We have also extended this use to arrays and it seemed to work nicely. However, I have found 2 caveats:

- It doesn't work for multidimensional arrays.
- It can be ***extremely*** slow for (not-so-) large arrays.

I propose w

[2018-01-15 18:13] jjgomezcadenas commented on #429
I am not sure I like this. We could simply stick to pytest for floats and to numpy which has a clear interface which we are extensively using for arrays. We have plenty of work to do and I find this unnecessary

[2018-01-15 19:11] jjgomezcadenas commented on #422
It turns out that the writer runs over the table but keeps memory of the event, so the problem does not exists.

[2018-01-15 19:11] #422 closed, assigned to nobody

[2018-01-15 19:11] jjgomezcadenas commented on #414
Sprint is over. Thanks to everybody

[2018-01-15 19:11] #414 closed, assigned to nobody

[2018-01-15 19:12] jjgomezcadenas commented on #377
EVERYONE, the number of PRs is growing out of control. Please try to review them!

[2018-01-24 11:03] #416 closed, assigned to nobody

[2018-02-10 23:16] jerenner opened #436 "Events not present in pmaps collection (PCity)"
Going back and re-running the analysis for the old 7-bar Th/Cs runs with the latest master branch (after the refactoring for the new PMap format), a "KeyError" is occurring in the event_loop function of class PCity, at the line:
[code]
Apparently when it gets the event numbers, timestamps, and PMaps to be processed from the pmapVectors, some of the events in the list of event numbers are not actua

[2018-02-11 00:32] gonzaponte commented on #436
This is addressed in #432. Please someone merge.

[2018-02-12 19:25] gonzaponte commented on #436
Closed via #432.

[2018-02-12 19:25] #436 closed, assigned to nobody

[2018-02-13 11:29] andLaing opened #437 "Tests require MC data"
So obviously I might be misinterpreting something but. I decided to change the data used in the test for the sipmpdf script (It has a pointless, meaningless name in the new stuff I think but I can't remember it) so that they were more realistic. I did this my copying the first five events from actual dark current data.

The test fails with this data because it doesn't find an MC node in the file.

[2018-02-13 14:04] andLaing commented on #437
False alarm, I'm an idiot

[2018-02-13 14:04] #437 closed, assigned to nobody

[2018-02-17 19:52] gonzaponte opened #441 "Occasional test failures due to Hypothesis' health check"
From time to time we get failures in tests running locally or in Travis' builds because the generation of data with Hypothesis is too slow. The canonical failure message is: `Data generation is extremely slow: Only produced *N* valid examples in *M* seconds (0 invalid ones and 0 exceeded maximum size)`.  Whether we get this failure or not depends on multiple factors: the machine the tests are runn

[2018-02-18 23:26] jjgomezcadenas commented on #441
In my opinion yes, we should relax the Health check globally.

[2018-02-18 23:35] jjgomezcadenas commented on #408
I would like to bring back this issue again, in fact with a proposal:

**add a notebook directory to /doc directory in IC**

The notebook directory, as its location implies is used for documentation purposes. It will include useful notebooks that help us understand IC code or provide tutorials. I have already three user cases: a NB to document cython-python-numba, a tutorial for liquid cities and

[2018-02-19 09:38] jjgomezcadenas opened #442 "Shall we restrict classes to definition of data types in new IC?"
After liquifying the cities, we are moving steadily towards a functional programming (FP) style. In that spirit, here is the following question for your consideration (@jacg, @gonzaponte, @jahernando in particular).

Classes are useful to define data types. In particular, one could think on very simple classes that just extend named tuples, such as:

    from typing import  NamedTuple

    class P

[2018-02-19 09:49] jacg commented on #442
@jjgomezcadenas Please get into the habit of properly marking up code samples you post on GitHub with the markup syntax:

+ *Inline* code samples should be surrounded by backticks
+ Code *blocks* should be indented by 4 spaces.

Especially in the latter case, failure to do so makes the rendered result look very confusing indeed.

I have fixed it in your comment above.

Don't forget that the `Previ

[2018-02-19 10:04] jacg commented on #442
After liquefication, do we have any dynamic dispatch left in the code? Probably not much. Somewhere in the event model, maybe.

If we go this way, we will eventually probably want to use some multimethod facility. I haven't looked at what is out there, recently. If all else fails, I have one which I use as an exercise in one of my courses, which should be complete in terms of the core functionalit

[2018-02-19 10:57] jjgomezcadenas commented on #442
Totally agree with your comments.  Yes, there is a conflict. We have limited resources and writing dynamic code is the pythonic way to do things. On the other hand, as the code grows and the types becomes more complex (the tracks are a good example) one finds that type annotations are useful.

[2018-02-19 11:05] jacg commented on #442
There is no conflict between dynamic code and type annotations.

[2018-02-19 11:08] jjgomezcadenas commented on #442
Absolutely not. This is why I am suggesting that we can start type-annotating the code. It looks to me that the simple "data classes" (which derive from NamedTuples and come annotated, as in my example) are a very useful way to go.

[2018-02-20 13:06] jacg commented on #441
The symptoms are random failures on Travis every now and then?

If that is the case I would be tempted to just press the *restart build* button when it happens. Only if it happens too frequently to be tolerable, would I invest time in trying to do something more sophisticated.

@jjgomezcadenas I understood @gonzaponte 's question as whether it is *possible* to soften the health check globally, rat

[2018-02-20 14:20] jjgomezcadenas commented on #441
I find it remarkable how many times I find myself in the wrong side of the stick. We live and learn! Agree with everything the master says.

[2018-02-20 15:22] jahernando opened #444 "refactoring of io of nexus MC h5 input files"
Refactoring of the nexus io files. Related with approval of PR #438.

Improve readability, style and missing information in the nexus io readers.

@paolafer @jerenner

[2018-02-23 13:36] gonzaponte commented on #387
Closed via #430.

[2018-02-23 13:36] #387 closed, assigned to nobody

[2018-02-23 13:43] gonzaponte commented on #441
In travis and in local pytest execution.

Both, actually. I understand that relaxing the check globally is not a good practice in general, but I am concerned about people getting the wrong message when they run the tests or push to the repo and get a failure.

[2018-02-25 16:10] paolafer opened #448 "test_compare_cwf_blr failing with a new test file"
Hi! I'm not sure if this is the place to bring up this issue, tell me if it's not.
I've almost completed the refactoring of the MC true reader and writer, and, in the process, I needed to generate again some of the test files, with the new MC format. I found a problem in just one test, namely `test_compare_cwf_blr`, where the assertion fails with the message:

`assert 0.22128403965346038 < 0.1`

S

[2018-02-25 19:29] jjgomezcadenas commented on #448
This test compares the waveform "true" (that is passed by the electronics but without the HPF, which we call BLR, with the Corrected Waveform (CWF) which one recovers by deconvolution. It compares the areas of both signals, which must be very close. There is no reason why your changes should have altered this test. We can look together at the issue tomorrow.

[2018-03-06 15:07] paolafer commented on #444
The PR has been reviewed and the necessary changes implemented.

[2018-03-06 15:09] paolafer opened #451 "Masked channels in MC simulation"
In the current code, masked SiPM channels are being simulated, with zero signal, but not zero noise. However, they should not be there at all. @andLaing, could you add this to your PR?

[2018-03-06 15:19] andLaing commented on #451
You mean the one with the changes for the sensor simulation?

It'll be submitted once the current one's accepted and I can rebase on all the useful changes it has for assessing the output. I'll look into the masked channels and consult with you when I have the changes you request made.

[2018-03-06 16:36] gonzaponte commented on #451
Mmm. The masking for the sipm simulation is in place. Can you please post
here the run number and the sipm index or id that should be masked and is
not?

[2018-03-06 16:49] paolafer commented on #451
Looking at the `simulate_sipm_response()` function in `sensor_functions.py` it seems to me that all the SiPM waveforms are taken, am I wrong?

[2018-03-06 17:08] gonzaponte commented on #451
The noise sampler has a masking function.

[2018-03-06 17:18] paolafer commented on #451
Ok, then. Regarding the PMTs, in which part of the diomira code are they masked? I couldn't find it, but they must be masked, otherwise the loop in `simulate_pmt_response` should fail...

[2018-03-06 18:05] gonzaponte commented on #451
I think they are "accidentally" masked because the adc_to_pes constant is 0
for those pmts. Anyway in #431 some issue with diomira and masked channels
is addressed. Maybe that's what you are talking about.

[2018-03-07 08:22] paolafer commented on #451
Actually, I think that the crash should happen before, in the loop over the `NPMT` sensors in `simulate_pmt_response`. This number should always be 12, because `NPMT = pmtrd.shape[1]`, but `adc_to_pes` should have only 11 elements, because in `base_cities`, we have:

`self.pmt_adc_to_pes = self.pmt_adc_to_pes[pmt_active]`

What am I missing?

[2018-03-07 08:41] jjgomezcadenas commented on #451
I think pmt_active is not upated in the DB and always has 12 elements. Then, since the corresponding adc constant for the dead PMT is (accidentally) zero, the error passes.

Probably pmt_active is not needed, enough with setting the constant of the dead PMT to zero.

[2018-03-07 10:06] paolafer commented on #451
Actually, `pmt_active` is updated and the code is broken. I haven't realized so far, because I was using Andrew's branch noiseSiPM, which is previous to the pmaps refactoring.
With the current master, if one uses a run number for MC which is related to a data run number of run II, the loop in `simulate_pmt_response` crashes when trying to access the dead PMT.

[2018-03-07 10:10] gonzaponte commented on #451
And that is fixed in #431, isn't it?

[2018-03-07 10:12] paolafer commented on #451
Ah, sorry, I forgot to look at it :-). If it is fixed, I think that that PR should be approved and merged as soon as possible. Is there any reason why it is waiting?

[2018-03-07 18:16] #451 closed, assigned to nobody

[2018-03-14 18:21] paolafer opened #453 "Trigger parameters required even when no trigger"
Is there a way to avoid writing in the configuration file the values needed for the trigger, when `trigger_type = "None"` is selected? This would be a more sensible behaviour, I think, instead of using random values.

[2018-03-14 18:47] jacg commented on #453
Definitely possible. I'd need to look at the code (for which I don't have time) to figure out a good way of doing it. But, assuming that you are talking about a city created with `@city`, then you could give default values of `None` in the parameter list of the city for  all parameters that relate to trigger configuration, and inside the function raise an exception if any of them are `None` unless

[2018-03-14 19:02] paolafer commented on #453
I will try to do as you suggest. I will have to understand how the configuration works, since it's one of the aspects of IC that are still obscure to me...

[2018-03-14 19:11] gonzaponte commented on #453
It will be possible with the liquid cities, but not (at least it is not obvious) with the solid ones.

[2018-03-14 19:17] jacg commented on #453
You mean the solid ones are still around?

[2018-03-14 19:24] gonzaponte commented on #453
That is the case, unfortunately. Too many other things to work on. But they are 99% ready to be removed. I have in my fork the liquid version of #440, but I still need to make sure they are correct.

[2018-03-14 21:16] paolafer commented on #453
So, do you suggest to wait until cities are liquid, before attempting to make this change, right?

[2018-03-14 21:34] jacg commented on #453
Unless I'm missing something, I think it would be a waste of time to do anything in the solid cities at this point.

[2018-03-17 13:04] jacg opened #455 "Change conda activation command"
Conda now provides a new way of activating environments. Instead of

    source activate IC3.6

you can now do

    conda activate IC3.6

Enabling this requires a change in `.bashrc`: replacing

    export PATH=~/miniconda/bin:$PATH

with

    . ~/miniconda/etc/profile.d/conda.sh

The new method has all sorts of advantages, including making it possible to have `conda` in your `PATH` without having

[2018-03-27 10:11] andLaing opened #461 "Local database and updates"
I've had some issues again (and I think it's happened to everyone at least once) that I've discovered that I hadn't updated the local copy of the database.

Is there any way that the test suite or similar could check if an update is necessary? This will become more of an issue when more people are writing analyses I suspect so it might be the time to add something.

[2018-03-27 10:38] jacg commented on #461
This is not the test suite's job: it is the job of the version control system. As we do not want binaries to be stored directly in Git, we need a Git LFS server. This has all been discussed and agreed months ago (#210), and in January we reviewed specific implementation strategies and agreed on the way forward: we are just waiting for it to actually be put into practice.

@jjgomezcadenas Any news

[2018-03-27 10:41] jjgomezcadenas commented on #461
No, unfortunately this very important matter is not being addressed due to lack of man power. I hope we will be able to address it once the current rush of analysis, papers and crazy time passes.

[2018-03-27 13:54] andLaing commented on #461
Hi

I understand that what you suggest and is detailed in the other issue is the most complete and correct implementation but is it not possible to check if the local copy is present and the same as the mysql version? Maybe I'm mixing things but there is a bash script in frontend1next which checks that the localhost copy is the same as the server, I've put it here: http://next.ific.uv.es/DocDB/000

[2018-03-27 17:19] jacg commented on #461
Sorry, I don't have access rights to this URL.

Yes, you could add some sort of check somewhere, presumably for the purpose of spotting that other problems are being caused by use of the wrong version of the database.

I think that there is an argument for making it as painful as possible, so that it pisses off as many people as much as possible, so that sorting out Git LFS rises towards the top o

[2018-04-27 09:40] paolafer opened #469 "Save random numbers"
I've realized that we don't set any seed for the random numbers used in the function called in diomira. I think that we should start doing that, and pass it via configuration file, to be able to reproduce our simulations.

[2018-06-09 15:04] jacg opened #478 "Pay back technical debt"
This is a catalogue of known technical debt that we have accumulated and know that we need to remove.

Please **edit this comment** to add any other items that you are aware of. We can have discussions in further comments below, but the catalogue should be clearly visible here, at the top.

1. [x] Liquify cities (#465, #435)
2. [x] Revisit sensor masking
3. [x] Generalize IC to run with different

[2018-06-18 08:32] jacg opened #484 "Silence warnings"
5c7125f2a669439d64d3d2bfbb331514830212bf (the second commit of #434) introduces screenfuls of warnings like this:

    envs/IC3.6/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '0BsIflpz5M2'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr

[2018-06-20 10:37] andLaing opened #485 "load_pmaps very slow"
Apologies if this is a known issue or I'm using the wrong interface but...

I've been reading a few pmaps both from data and MC for a couple of projects aimed at understanding our sipm noise simulations. I've noticed that the load_pmaps function is extremely slow.

using load_pmaps_as_df I can load the whole (granted very large) MC pmaps file in a few seconds and get on with the checks I want to d

[2018-06-20 11:19] jmbenlloch commented on #485
I have also encountered that issue running MC files with 10k events for RESET.

The problem I think is that `load_pmaps` reads the whole tables as a dataframe and then goes event by event filtering using pandas. This is ok for small files (few undreds of events, like the situation in Canfranc), but it is a lot of work for many events (there are many rows in the tables).

An alternative would be to

[2018-06-20 13:27] andLaing commented on #485
I've been able to speed things up using the load_pmaps_as_df function which is called by the other function at the start to load the dataframe. It takes a few seconds. The problem for me seems to be in the part where the function creates pmap objects but as you say, it might be even faster to read the pytables directly

[2018-06-20 16:18] jacg commented on #485
Very important point: the PMAPs interface is just that; an interface. It says nothing about the implementation. If the implementation behind the interface is too slow, we should be able to improve that without changing the interface or any of the client code ... if we got the inderface design correct. That's the whole point of decoupling interface from implementation.

Specifically, if the problem

[2018-06-26 13:16] jjgomezcadenas commented on #484
Nothing is being done here, and the warnings are extremely annoying. This needs to be fixed urgently, if no other volunteers by the author of of the commit.

[2018-06-26 21:15] Aretno commented on #484
At @jjgomezcadenas request I patched the thing at #487. (Sorry, didn't see this issue before aside from some email from him).

[2018-06-27 09:04] andLaing opened #488 "SiPM baseline calculation with ZS data"
Hi

Just a heads up since we think we have a solution.

With the new SiPM ZS mode the current baseline calculations will not give correct values since zeros will dominate in the 'waveforms'.

In principle we can get round this by changing the protection in the mode calculation from >=0 to >0 (and adding a similar protection for median etc) but this implies some other knock on effects:
1) An SiPM w

[2018-06-28 10:43] #488 closed, assigned to nobody

[2018-06-29 13:50] jacg commented on #478
I think that the list in the description of this PR is essentially the agenda for the next sprint.

[2018-06-29 13:50] jacg opened #492 "Hypothesis speed"
There is a number of problems related to the time taken by hypothesis-based tests:

1. Lots of noise created by `HypothesisDeprecationWarning`s related to *timeout* disappearing in the future
2. Lots of noise created by `HypothesisDeprecationWarning`s related to the default *deadline* of 200ms being upgraded to an error in the future
3. Some hypothesis tests take a loooooong time, which hinders th

[2018-06-29 13:58] #484 closed, assigned to nobody

[2018-06-29 14:06] jacg commented on #419
@carmenromo Maybe you and/or Ryan could have a go at fixing these.

Everyone else: don't forget to mention any docstrings-that-lie, here.

[2018-06-29 14:09] jacg commented on #455
Python 3.7 was released 2 days ago. I will soon create a branch that starts migrating IC to 3.7. The conda activation command in `manage.sh` will be changed on that branch.

[2018-06-29 14:12] paolafer commented on #419
Type hint in `mcinfo.py` also lies in several places (`load_mchits`, `compute_mchits_dict`, `load_mcsensor_response`, `load_mcparticles`).

[2018-06-29 14:18] carmenromo commented on #419
ok, I can look them @jacg! Ryan is on vacation

[2018-06-30 08:53] jacg opened #495 "Strategy for bumping pinned versions of dependencies"
Since #349 we have pinned versions of the packages we install into the IC conda environment we create with `manage.sh`. This is good, as it makes it much easier to reproduce eariler conditions. Without the pinning, the evolution of our code was decoupled from the evolution of the packages on which it relies.

However, we do not want to stick to the old versions of these packages forever. #493, who

[2018-06-30 09:01] jacg commented on #495
Of course, we shouldn't re-invent the wheel.

Here's a wheel: https://github.com/SciTools/conda-gitenv

I haven't got the time at the moment to see whether it is square enough for us.

[2018-07-02 15:46] andLaing commented on #485
Related to this issue (a bit) and to a comment by @jacg about using the correct exceptions (sorry I can't find where it was to link). I got an odd warning from base_cities.get_pmaps_dicts (basically just a wrapper around load_pmaps) when running penthisilea: "Empty file. Skipping." , on a file I knew to have data.

If I run the code on its own I get an error from np.reshape as the source of the er

[2018-07-02 16:50] carmenromo commented on #419
@jacg I fixed all the previous docstrings (even though in invisible_cities/conftest.py in TlMC_hits and TlMC_hits_skipping_NN I only removed the comments because I could not find out what particular issue does the test data file contain). Should I ask for the PR or should I wait if there are another comments to fix?

[2018-07-02 20:31] jacg commented on #419
@carmenromo Please open a PR. That way people can have a look and see what you have done, and comment it.

Don't forget that it's not only comments and docstrings, but also some type annotations, such as those mentioned by @paolafer.

It's worth having your work visible to others in a PR, even if we expect more to be added to it later.
Seeing the PR open and being discussed, might remind others to

[2018-07-02 20:37] jacg commented on #485
Was the warning a print to stdout, or a real warning?

Would it be possible to write an automated test that points out the problem? (Obviously difficult, if it's just a print ... which is why we should use real warnings, rather than just printing stuff to stdout.)

[2018-07-05 15:15] jjgomezcadenas opened #499 "numpy 1.13.1 not compatible with keras"
I have found almost by chance that numpy 1.13.1 (our default in IC) is not compatible with keras under conda (anaconda) installation. How do you handle this, @jerenner? To use keras, conda environment downgrades numpy to 1.12 and then one of our tests do not pass (there is some numpy functionality missing).

[2018-07-05 15:38] paolafer opened #501 "Reorganization of folders"
This is a minor issue, but I think that the readability of the code would improve with some reorganization of folders.
For instance, I find confusing that the code in `sensor_functions.py`, which simulates the sensor response, lives in the `reco` folder. The same happens for `olivia.py`, which has the name of a city, but doesn't live in `cities`. In `reco` there is also `calib_sensors_functions.py

[2018-07-05 16:08] jacg commented on #499
In order to be able to react productively to issues like this, we really need to review and approve #496 (or some variation on the theme). How are you getting on with the failing test in #496 @jjgomezcadenas?

[2018-07-05 16:09] jerenner commented on #499
I think there may be a way to force the use of numpy 1.13.1 - it should still work with keras.  I'm not sure what the exact command is but I can look for it.

[2018-07-05 16:17] jerenner commented on #499
Do we have to install with `conda`?  Installing with `pip` does not seem to require the downgrade.

[2018-07-13 15:42] andLaing opened #502 "Inclusion of the uncertainties package"
Hullo again, your friendly neighbourhood pedant here...

I've been having a look at the uncertainties package: https://pythonhosted.org/uncertainties/
which despite the info on that page is available from conda: https://anaconda.org/conda-forge/uncertainties

It seems a well written piece of code which would give us access to a standard way to calculate errors in all analyses, avoiding the dangers

[2018-07-13 15:46] jerenner commented on #502
Sounds like a good idea to me

[2018-07-13 15:52] jjgomezcadenas commented on #502
And to me! I will take a look next week (about to travel now), but I would say it follows THE GREAT RULE, as we were told by THE GREAT MASTER, before he ascended to the Polish Heavens: eg, thous shall not reinvent the wheel!

[2018-07-13 18:22] jacg commented on #502
I currently have a bandwidth of about 3 bits per hour, so I can't really look at it in any depth, but I think that this is a great idea in principle. It does mention other packages that 'might suit your needs better' so we'd better have a look at those too.

[2018-07-25 09:00] jmbenlloch opened #507 "Trigger information in dorothea/penthesilea"
As you know, Irene is now copying the trigger information from the waveforms files. I've been asked to propagate this too to dorothea and penthesilea. But I'm not sure about the best way to do it.

It can not be done in the same way as it is done in Irene because kdsts/hdsts only have one table that can have more than one row per event, so you can not associate one row of that table to one row of

[2018-07-26 07:23] jacg opened #509 "Merger role"
Merging approved PRs isn't difficult, but it does require a minute or two to gather the PR number, the author and reviewer comments and identities, in order to prepare the merge commit properly.

Sometimes this cannot be done immediately after approval, as Travis checks must be awaited. All in all, this sometimes (too often) results in approved PRs going unmerged for weeks, which not only unnecess

[2018-07-26 08:46] carmenromo commented on #509
Perfect! Also Ryan is starting on IC these days so we can do this work together

[2018-07-26 14:27] jjgomezcadenas commented on #509
Terrific idea. I hereby proclaim Carmen and Ryan as official IC mergers (Carmen, try as soon as possible with the next merge UNDER GUIDANCE OF A SENIOR, best if @jmbenlloch or the master @jacg himself).

[2018-07-26 15:00] jacg commented on #509
The procedure is:

In the following I assume that you have a remote called `nextic` pointing at the central IC repository.

I also assume that you already have a remote configured for the author in question. If not, you will have to create one first.

1. Fetch `nextic/master`. [CLI: `git fetch nextic master` Magit: `f o nextic RET master RET`]
1. Fetch the branch of the approved PR. [CLI: `git fet

[2018-07-26 15:07] jacg commented on #509
Oh, I forgot to mention, you can practise all you want before doing it for real, by simply not doing the last step (pushing to the central repo). Just pick any open PR and pretend that it has been approved. You will have to invent a reviewer and an approval message. Go through all the steps except the very last one. Then simply reset your `master` branch to `nextic/master` and (maybe) delete your

[2018-07-26 15:08] jacg commented on #509
One more detail, when changing the commit author, sometimes the user's GitHub handle works, sometimes I need to use the full name as it appears in the email address known to GitHub. I haven't got to the bottom of this little mystery.

[2018-07-26 15:11] carmenromo commented on #509
Wow thank you so much! I will ask @jmbenlloch to help me if he can, although he taught me some weeks ago how to do a PR and merge it.

[2018-07-26 15:11] jacg commented on #509
One more thing about practising: instead of pushing to `nextic/master` you could push to your own IC fork on GitHub; that way someone (me for example) could give you feedback remotely. But it would, of course, be simplest if you just go through the steps with someone looking over your shoulder.

[2018-07-26 15:12] carmenromo commented on #509
ok, understood

[2018-07-26 15:19] jacg commented on #509
Oh, and stay well clear of #435! It's been approved, but so many moons ago, that getting this one rebased and all the new development that has happened since then, adapted to the style therein, will be a Herculean task of technical debt repayment which will form a major part of the upcoming sprint. Don't go there. Here be dragons!

[2018-07-26 19:40] jacg commented on #409
Given that liquification *has* happened (even though it has not been merged yet) can we close this one?

[2018-07-26 19:44] jacg commented on #410
The refactoring has been done (#435) and approved, but is awaiting merging in an upcoming sprint (#478). As such, this issue can be closed.

[2018-07-26 19:44] #410 closed, assigned to nobody

[2018-07-26 19:50] jjgomezcadenas commented on #409
yes

[2018-07-26 20:04] #409 closed, assigned to nobody

[2018-07-27 14:02] jacg commented on #478
I understand that structural issues are boring and that you all want to get on with physics, but

+ We are developing new solid cities, and adding new features to existing solid cities
+ We are adding binary files to the repository without Git LFS being available
+ We are forging ahead without any means to track dependency versions

All of this is resulting in a **huge** accumulation of technical

[2018-07-27 14:38] andLaing commented on #478
There are still various missing 'cities' to have the sensor calibration functionality fully formalised. I've been holding off but we really can't wait any longer especially since Carmen and Jonathan are starting to help on the cal side and need jobs.

Decisions from the high heid yins needed.

[2018-07-27 15:19] jjgomezcadenas commented on #478
@jacg I agree with your point of view, but please do not ignore mine.

- we do not have the man power (without @gonzaponte, @abotas and @jacg) to catch up on the TD accumulated.

- chamber is in full swing, producing about 1 M events a day, existing man power totally overcommitted.

- How do you propose that we repay TD? In my opinion this is only possible with dedicated sprints, involving the bes

[2018-07-27 19:18] jjgomezcadenas opened #513 "Assigning reviews"
Dear all,

From now on, each PR in IC will be assigned a reviewer (by me). Reviewers may accept of decline (I will keep count of your yes and nos), but if accepted, review must proceed without delay. I will also specify a dead line for the review.

We are indeed accumulating huge TD and we need to start reducing it. Please help

Thanks to all

[2018-07-28 06:54] jacg commented on #478
That's how it goes with technical debt: it becomes increasingly difficult to repay. Which is why you should develop a **very** strong reluctance to acquire it in the first place.

I'm sorry, I have no solution for you. I can only say *I told you so*. We should never have got into this situation in the first place.

Really, it bears repeating: without a plan to repay technical debt, don't take on t

[2018-07-28 10:26] jacg commented on #509
Given that @jjgomezcadenas has officially approved this idea and appointed mergers, I hereby officially close this issue.

I'm in the process of creating a Kanban board, to help us mitigate the workflow disaster which has evolved over the last months. On there I have created a *merge* column, from which the mergers should be able to pick up their tasks for this role. Hopefully there will be a way

[2018-07-28 10:26] #509 closed, assigned to nobody

[2018-07-28 10:35] jacg commented on #444
I'm confused about the meaning and status of this issue? Can this be closed, now that #438 has been merged? Or does #438 being merged give the go-ahead to start on this?

[2018-07-28 10:41] jacg commented on #419
This issue has been upgraded to PR #498.

[2018-07-28 10:41] #419 closed, assigned to nobody

[2018-07-28 10:46] paolafer commented on #444
The mc info reader and writer functions have changed a lot since February and several PRs have been reviewed and approved, so my understanding is that this issue can be closed.

[2018-07-28 10:48] jacg commented on #513
I am creating a [Kanban board](https://github.com/nextic/IC/projects/1) which should help with keeping track and prioritizing work, assigning reviewers, etc.

Still plenty to learn about what exactly the GitHub implementation offers and how to make best use of it, but I think that it will help us mitigate the chaos in which we have found ourselves.

[2018-07-28 10:56] jacg commented on #377
I think that this one has found new life in #513, so let's close it.

[2018-07-28 10:56] #377 closed, assigned to nobody

[2018-07-28 11:00] #311 closed, assigned to nobody

[2018-07-28 11:06] jacg commented on #106
Yet another item stalled, waiting for #210 (Git LFS).

[2018-07-28 11:10] jacg commented on #455
This will be done as part of #496.

[2018-07-28 11:10] #455 closed, assigned to nobody

[2018-07-28 11:13] jacg commented on #444
I take @paolafer's last comment as licence to close this issue.

[2018-07-28 11:13] #444 closed, assigned to nobody

[2018-07-28 11:24] jacg commented on #495
This has been incarnated as #496, so I'm closing this.

In the past I would have preferred the merging of #496 to close this automatically, if and when it happens. But I am in the process of moving all open issues and PRs to the project workflow board, and that board will be useless if there is an overwhelming number of cards on it, so I'm closing this sooner rather than later.

[2018-07-28 11:24] #495 closed, assigned to nobody

[2018-07-28 11:32] jacg commented on #461
I need to point out that here is yet another issue which has been open for 4 months, but wouldn't have arisen if Git LFS were available. As it stands, people are going to continue to be bitten by it, and waste precious time ... until Git LFS is available.

[2018-07-28 11:37] jacg commented on #106
I'm closing this in order to clean up the Kanban board, as it has been implemented in #119.

[2018-07-28 11:37] #106 closed, assigned to jacg

[2018-07-28 11:44] jacg commented on #411
I suspect that @carmenromo and any other newly-appointed mergers would be very well positioned to drive this: because they will shortly be learning the process by putting into practice repeatedly, they can make notes on what difficulties newcomers have to overcome ... the sort of stuff that the experts take for granded and don't even realize might need mentioning.

Having seen @carmenromo's note-m

[2018-07-28 11:56] jacg commented on #353
I think that this is being addressed by #496.

[2018-07-28 11:56] #353 closed, assigned to nobody

[2018-07-28 12:00] jacg commented on #309
That was 8 months ago. Given how stale this is and how unlikely it is that it will be picked up, I'd rather close it than have it contribute to flooding our project board.

[2018-07-28 12:00] #309 closed, assigned to jacg, gonzaponte

[2018-07-28 12:11] jacg commented on #361
At worst, you issue a command that compiles and tests, and then interrupt it once the compilation has finished.

Of course, an implementation of your idea is only 1 line long (but testing stuff in `manage.sh` is almost impossble to automate).

Anyway, I'm closing this. If you feel that it is useful, don't re-open this issue, just submit a PR with the implementation, which, an I said, shoud be one

[2018-07-28 12:11] #361 closed, assigned to nobody

[2018-07-28 13:18] jacg commented on #282
Not sure what to do with this issue. Shall we keep it open until this directive is included in some coding standards document? Shall we task a junior contributor with adding type hints everywhere? Shall we just assume that we have got the message, and close the issue?

[2018-07-28 13:28] jacg commented on #364
This was supposed to have been closed automatically by the merge of #450. This did not happen because the magical incantation was written in a PR comment. GitHub only looks for them in the PR description (the top comment) and in commit messages.

[2018-07-28 13:28] #364 closed, assigned to jmbenlloch

[2018-07-28 13:42] jacg commented on #373
No activity here for 9 months. Has anything become clearer? Is this going anywhere? Is there any point in keeping this open? I'll close it to reduce the noise on our shiny new workflow project board. Feel free to re-open it, if you think it would be useful to have it open.

[2018-07-28 13:42] #373 closed, assigned to nobody

[2018-07-28 14:26] jjgomezcadenas commented on #282
I am extensively using type hints, but I believe the practice has not gotten across yet. However, keeping open the issue is not gonna help. It needs to be redirected to a coding document. Thus I am closing it for new.

[2018-07-28 14:26] #282 closed, assigned to nobody

[2018-07-28 14:27] jjgomezcadenas commented on #448
I think this is an old issue, and can be closed now.

[2018-07-28 14:27] #448 closed, assigned to jjgomezcadenas, paolafer

[2018-07-28 14:41] jacg commented on #513
Dear All (that's at least @jjgomezcadenas, @paolafer, @andLaing, @msorel, @jahernando, @gonzaponte, @abotas, @jmbenlloch, @Aretno, @bpalmeiro, @jerenner, @carmenromo),

As you have probably noticed, things in IC have got very much out of hand. In an attempt to help us reduce the chaos and keep it under control, I have created a project board for managing tasks in IC development. It is available [h

[2018-07-28 14:42] jacg commented on #513
@jjgomezcadenas Please make sure that everything in the *Needs review* column has an assigned reviewer.

[2018-07-28 17:45] jacg commented on #509
Apologies, I made a mistake in the instructions I gave above: In Magit a `--no-fast-forward` merge is done with `-n` rather than `-f`.

I have edited the comment in question to fix the error.

[2018-07-30 17:12] andLaing opened #518 "Even less information than before"
The new README gives even less information than it did before.

For example, there is now no information about how to update the database, is it not necessary anymore?

Also, are extra environment variables necessary? I now can't do source deactivate. I was warned about this one but the alternative I was told, just 'deactivate' doesn't work either:

Moreover, work_in_python_version 3.6 tries to re

[2018-07-30 17:19] carmenromo commented on #518
The same happens to me with work_in_python_version 3.6

[2018-07-30 17:51] jacg commented on #518
The trouble is, this lies beyond the reach of our automatic test suite.

I think that if you trash any pre-existing conda installations you might have, and it should work sensibly. (In order to test this, I would have to keep trashing my new conda installation, and keep replacing it with one deliberately installed using the old style, which would just be too much work.)

Please remove any old cond

[2018-07-30 20:39] jjgomezcadenas commented on #518
Furthemore: you should have in your bash_profile something like:

     source /Users/jjgomezcadenas/miniconda/etc/profile.d/conda.sh

and you should no longer add manually conda to your pythonpath

If everything in your setup is correct and you type

     conda --version

You should get the answer:

     conda 4.5.4

This means that you can now run manage.sh and things should work. The system trie

[2018-07-30 20:59] andLaing commented on #518
Hi

Looking through the errors and advice conda was trying to give me I got a bit further. You need to send a couple of commands too the .bashrc/.bash_profile:
`echo ". /path/to/miniconda/etc/profile.d/conda.sh" >> ~/.bash_profile`

and

` echo "conda activate" >> ~/.bash_profile`

This gets past any problems meaning that things don't work but I still don't have a `deactivate` command that works.

[2018-07-30 22:59] jacg commented on #518
The modern style is `conda deactivate`. Does that work for you?

I recall writing this advice in a number of places. I apologize if none of them continue to exist in a README easily accessible to you. It definitely should be there.

I recommend against this one. It shadows your system Python, and indiscriminently doing this in every shell will sooner or later screw up something that relies on it.

[2018-07-30 23:04] jacg commented on #518
Apologies, last comment was inadventently sent before it was ready. Please see the edit.

[2018-07-31 09:40] carmenromo commented on #411
But I don't understand what should I focus the document. How to do a PR and merging it? Which kind of document?

[2018-07-31 10:08] paolafer opened #519 "Errors in tests after installing new environment"
I've followed the instructions given in #518, namely:
- Delete my conda installation.
- Install a new one.
- Do `source /Users/paola/Software/miniconda3/etc/profile.d/conda.sh`.
- Do `conda activate`.
- Do `source manage.sh work_in_python_version 3.6`.

No errors appear in the progress of the tests (all nice green PASSED are all around), but at the end I got 21 errors related to libraries of sqlit

[2018-07-31 10:38] jmbenlloch commented on #518
I don't think it is a good idea to implement LFS *right now*. LFS is a backward incompatible change, all clients must change their setup, issues will arise for sure (for instance, we have not tested it on Mac OS). In August nobody will be at IFIC (starting with me), so everything would much more complicated than needed.

It would be a lot easier to do in September when everybody is back from vacat

[2018-07-31 13:07] jjgomezcadenas commented on #519
It sounds as if you have another python version interfering with your setup. if you type python and enter the REPL, is that the python provided by ANACONDA?

[2018-07-31 13:10] paolafer commented on #519
If I type python, I get

`Python 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 11:07:29)`

so I guess that it's working fine, right?

[2018-07-31 14:28] paolafer commented on #519
I've also tried to install an environment for python 3.7, but the error stays.

[2018-07-31 20:10] jjgomezcadenas opened #521 "test_mean_for_pmts_fee_is_unbiased fails in python 3.6"
@andLaing this test fails in python 3.6. It does not fail in python 3.7. Any idea of what's going on?

______________________ test_mean_for_pmts_fee_is_unbiased ______________________

square_pmt_and_sipm_waveforms = (5000, 5, array([[5000, 5000, 4995, ..., 5038, 5014, 4985],
       [5000, 5000, 5003, ..., 5015, 5041, 5064],
       [...4937, 4962],
       [5000, 5000, 4996, ..., 4984, 4982, 4971],

[2018-07-31 20:31] jacg commented on #521
@jjgomezcadenas Is the behaviour consistent? I see this test is already marked flaky, but I get the impression we have a number of increasingly flaky tests in our collection, especially some of the hypothesis based ones?

For the hypothesis-based ones, the hypothesis database will ensure that your machine immediately uses any counterexamples that you have found in the past: so, once it has failed

[2018-07-31 20:38] jjgomezcadenas opened #522 "Problem with the last version of the data base"
I have downloaded the latest version of the data base and a zillion tests fail. Reverting back to the previous version of the data base, all test pass. This shows that **there is a serious problem with the last version of the data base**. @msorel, @andLaing, @jmbenlloch who has uploaded the last version of the DB?

[2018-07-31 20:45] andLaing commented on #522
I haven't updated anything lately in the mysql.

I did a database update in IC earlier today though and got no errors.

[2018-07-31 20:46] jjgomezcadenas commented on #521
Turns out that the problem seems to have been related with updating of the data base. With the last update things work well in python 3.6 and python 3.7

[2018-07-31 20:46] #521 closed, assigned to nobody

[2018-07-31 20:47] jjgomezcadenas commented on #522
No need to panic. I downloaded the "dev" version of the data base (that surely produces those errors, a different question is whether we need that "dev" version in IC).

[2018-07-31 20:47] #522 closed, assigned to nobody

[2018-07-31 20:49] jjgomezcadenas opened #523 "Install dataclasses in python 3.6"
@jacg could you add a line to the install script to install dataclasses in python 3.6 (can be done with pip). Although dataclasses are python 3.7, we may need a while until we phase out 3.6. @mmkekic has submitted a PR using dataclasses and I believe we should not wait until python 3.6 is outdated. Is just a line.

[2018-07-31 21:00] jacg commented on #523
I wish I shared your optimism!

Given that dataclasses are built in to Python 3.7, I doubt that the package exists for 3.7, so adding it to the dependencies is likely to make the build for 3.7 fail. This opens the can of worms that is different dependencies for different Python versions ... which has been lurking in the back of my mind for a while ... and our dependency tracking mechanism simply d

[2018-07-31 21:18] msorel commented on #522
this is to be confirmed by @jmbenlloch but we probably can:
1. eliminate the download_test_db_dev function in manage.sh
2. delete or empty the NEWDB_dev MySQL database itself,
to avoid confusion like this one

Details:
The NEWDB_dev MySQL database, which is what 'bash  manage.sh download_test_db_dev' gets a local copy of, was there for testing purposes ages ago, once IC first switched to using a D

[2018-07-31 21:32] jjgomezcadenas commented on #523
I see.
Wel, I won't touch manage.sh. I have enough in my platter already. We can as well live without introducing dataclasses in python 3.6 if we tolerate test fails in python 3.6 related with dataclasses.

[2018-07-31 22:39] jacg commented on #523
The mere thought makes me nauseous too.

`@skipif(sys.version_info < (3,7), ...)`?

One minor problem is that 3.6-on-Linux is the only build that isn't allowed to fail, at the moment. If we skip a bunch of tests on the only required build, then we're punching a hole in our test suite. So perhaps we should make 3.7 required too ... or maybe even drop 3.6.

Skipping the tests on 3.6 doesn't get us v

[2018-07-31 22:51] jacg commented on #411
Being an active participant in IC requires the use of Git and GitHub. Anything that helps people get used to these tools and some of the specific ways in which we use them in IC, could be useful.

In your current specific case, you are in the process of becoming an IC PR merging expert, from a recent starting point of almost complete ignorance on the subject. Imagine that you didn't have the oppor

[2018-08-08 14:42] paolafer commented on #519
I have reinstalled the whole OS in my laptop (macOS 10.13.6, the same as @andLaing, who has no problem), according to the suggestion of @jjgomezcadenas, and installed miniconda from the scratch. Still, tests keep failing, with the same errors. I'm using conda version 4.5.9.
I follow these steps:

- source /Users/paola/miniconda/etc/profile.d/conda.sh.
- conda activate.
- source manage.sh work_in_p

[2018-08-08 15:58] paolafer commented on #519
Update: I tried to run a city (penthesilea) and apparently it runs normally. However, if I try to open a Jupiter notebook, it crashes miserably with the following error:

Traceback (most recent call last):
  File "/Users/paola/miniconda/envs/IC-3.6-2018-07-29/lib/python3.6/site-packages/notebook/services/sessions/sessionmanager.py", line 10, in <module>
    import sqlite3
  File "/Users/paola/mini

[2018-08-08 16:32] jjgomezcadenas commented on #519
I am afraid that you need a real installation from scratch.  The problem is that the new system is probably sitting on top of some old libraries that are creating the problem. I had a similar issue with my old power book.

The way I solved was with a clean installation, meaning:

1. full erase the disk.
2. Reinstall operative system from scratch
3. Install IC

[2018-08-08 16:36] paolafer commented on #519
@jjgomezcadenas, this is exactly what I did.
Anyway, @andLaing found the solution, googling around, and it was a problem of the DYLD_LIBRARY_PATH variable (https://github.com/ContinuumIO/anaconda-issues/issues/7713). Once fixed that, it seems that everything works. Thanks, Andrew, for all your help!

[2018-08-08 16:43] jjgomezcadenas commented on #519
Great, and let's keep this issue clearly in mind for next time!

[2018-08-09 13:49] #519 closed, assigned to nobody

[2018-08-09 14:01] paolafer opened #526 "Warning running diomira"
After updating IC I started getting the following warnings, running diomira:

/home/paolafer/miniconda/envs/IC-3.6-2018-07-29/lib/python3.6/site-packages/mkl_fft/_numpy_fft.py:1044:  FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which

[2018-08-09 14:24] jjgomezcadenas commented on #526
Yes, I believe we should start to worry and chase/fix the code where relevant.

[2018-08-09 20:14] paolafer opened #528 "Parallel threads"
I'm not sure if it's an IC problem, just tell me if it is not.
I've been running diomira in the majorana1 queue system and I noticed that it was extremely slow, much more (> 10 times) than if I ran in the same machine interactively.
I've asked José Vicente about it and he says that each process is being parallelized to 44 threads and this is the reason why everything is so slow. I don't have any n

[2018-08-10 01:51] jjgomezcadenas commented on #528
Diomira certainly is nor prepared for paralelization, but I see no reason why it should run so much slower, we need to talk with JV about this.

[2018-08-10 08:19] paolafer commented on #528
José Vicente suggested to set the environment variable OMP_NUM_THREADS to 1, explicitly:

`export OMP_NUM_THREADS=1`

and it worked. However, I wonder why we didn't need to do anything before.

[2018-08-30 09:22] gonzaponte opened #531 "Citations"
How should I cite the repo?

I have the following bib entry:

[code]

[2018-08-30 15:15] jjgomezcadenas commented on #531
I think this is correct for the time being. When we publish a paper we can include the full list of IC developers, though.

[2018-09-10 22:14] paolafer opened #533 "Tolerance in paolina voxels"
The `test_voxelize_hits_gives_maximum_voxels_size` in `paolina_functions_test.py` test needs a tolerance of some epsilon (12 * 10^-12 has been demonstrated to work) in order to pass. It is not clear why it is so, and this should be understood.

[2018-09-13 14:27] jahernando opened #534 "S1 collection"
**About how to incorporate S1 information into high-level output hdf5 files** (i.e the output of `Penthesilea`).

The philosophy is to add new code in a way that can be used in *dataflow*, and if needed, modify minimally the existing code to use this new code.

@jerenner and I we discussed this strategy:

1. define data-structures and functions: `S1Collection, create_s1collection, write_s1collecti

[2018-09-13 15:32] jahernando commented on #534
Discussing with the @jjgomezcadenas and @jmbenlloch, they proposed to access S1 information via the kdst. That implies that for physics stream `Dorothea` and `Penthesilea` must run over `Pmaps` with the same filter of events. They will produce their hdf5 outputs (kdst, hdst) and it is responsibility of the client to read the S1 information from the kdst and the hits information from the hdst.

The

[2018-09-18 09:22] andLaing commented on #485
Maybe this issue can be closed given @mmkekic improved the function in #524 ?

[2018-09-25 10:47] gonzaponte commented on #531
I ended up using
[code]
because the url was not being used to link to the webpage.

[2018-09-25 10:55] gonzaponte commented on #485
The "Empty file. Skipping" message is a print to stdout. It was originally intended to skip corrupt files but seems that it can be produced in other cases. Anyway, this is orthogonal to this issue, so I am closing it and open a new one.

[2018-09-25 10:55] #485 closed, assigned to nobody

[2018-09-25 11:07] gonzaponte commented on #420
Isn't this addressed in #447?

[2018-10-20 00:08] jacg opened #551 "Spurious test failures"
Every now and then our Travis builds (or our local tests) fail spuriously. This sometimes wastes a lot of time and causes confusion. It's difficult to understand why these spurious failures occur, because it happens rarely, across different tests, and usually while we are in a hurry to do something else.

In order to gather information about these failures, so that we might be able to eliminate th

[2018-10-20 00:09] jacg commented on #551
`test_mean_for_pmts_fee_is_unbiased`

https://travis-ci.org/nextic/IC/jobs/443937686

[2018-10-20 00:12] jacg commented on #551
Hmm, restarting the job makes the original build which contains the failure, disappear. Does anybody know how whether Travis keeps the original build somewhere?

If not, we'll need a copy-paste rather than a link.

[2018-10-20 08:22] jacg opened #552 "Travis failing on OS X, post LFS"
It seems that git lfs is not working on OS X on Travis, making all our OS X builds fail. As these are formally allowed to fail (in order to reduce the delays before getting the green light, because the Travis OS X jobs sometimes take significantly longer to get going) we haven't really noticed or cared.

Git LFS needs to be properly configured on OS X Travis.

We should also review our current pol

[2018-10-20 10:00] jacg commented on #551
=================================== FAILURES ===================================
____________________ test_inverse_cdf_hypothesis_generated _____________________
[gw3] linux -- Python 3.7.0 /home/travis/miniconda/envs/IC-3.7-2018-08-29/bin/python

    @given(valid_distributions(),

    def test_inverse_cdf_hypothesis_generated(distribution, percentile):

invisible_cities/core/random_sampling_test.

[2018-10-20 10:40] jjgomezcadenas commented on #551
@gonzaponte why the assert?? It should be a numpy_equal or similar, with a tolerance, notice the failure,  0 not euqual to 10***-14!!! This should be easy to fix

[2018-10-20 10:54] gonzaponte commented on #551
I guess you mean why the  `==`

This is an unfortunate copy&paste from a similar test, I will fix it.

It is!

[2018-10-20 11:52] msorel opened #556 "Analysis DST contents"
First, many thanks to @jacg , @jjgomezcadenas , @gonzaponte , @jmbenlloch  and all others involved to move to liquid cities! Is it now time already to start discussing new cities and functionalities?

I am particularly interested in a new city that provides an analysis DST (adst) with event-based information (one row per selected event) for analysis. @jjgomezcadenas proposed the name esperalda for

[2018-10-20 12:22] jjgomezcadenas commented on #556
We have been discussing about this city also with @jerenner and @mmkekic. Here is my understanding on how we should proceed.

- Currently DOROTHEA generates a kdst (global variables, useful for Krypton analysis) and PENTHESILEA generate a hdst (uncorrected hits and no global variables). My point of view is that we could proceed forward merging both of them, but @gonzaponte (and others) seem to pre

[2018-10-20 13:08] msorel commented on #556
@jjgomezcadenas this is fine with me. separating esmeralda and anastasia into two separate cities (one for voxelization, one for paolina tracking) brings extra modularity (which i am always fine with). plus, it ensures that classical and dnn-based topological analyses share common formats and productions one step further down the line, up to vdsts. it will be easier to compare the two analyses

re

[2018-10-21 10:27] jjgomezcadenas commented on #534
It turns out that @gonzaponte and others prefer to modify the hdst. This would require reprocessing, but on the other hand it would be a good opportunity to test the new liquid cities. So I would agree to go this way, if everybody is happy with it.

[2018-10-21 10:31] jjgomezcadenas opened #560 "Review skipped tests"
In order to speed the process of refactoring liquid cities, we have skipped a number of troublesome tests. Many of them are histograms, which need to go to a different place (separate issue) but all the rest need to be reviewed. I propose that this is done by @bpalmeiro, and @carmenromo (with the guidance of @gonzaponte). "Review" here means identifying the author of the skipped test and ask him o

[2018-10-21 10:34] jjgomezcadenas opened #561 "Move Histogram Monitor to a different repo"
Histogram Monitor is a rather clear case of a "client", which uses functions from IC, but produces output that has little to do with IC (no transformation of the IC data flow). After discussion with @jacg and in order to simplify IC and to lighten the number of tests, we propose that Histogram Monitor is moved to a separate repository (like KrCalib). Please @jmbenlloch, create this repository and

[2018-10-21 10:40] paolafer commented on #556
Hi all!
Regarding MC truth, I would keep it like it is right now, since it contains all the information we have, and in my experience it is useful to have it at hand, when you're studying and optimizing reconstruction, without a previous selection. Therefore, I would maintain the structure that comes from nexus (this structure can maybe be improved, but this is another issue).
As for adst, I would

[2018-10-21 12:07] jjgomezcadenas commented on #556
@paolafer does that mean that you would like to add MC truth info to all DSTs after hdst?

As for global versus local dsts. ESMERALDA will provide voxels. You claim (and I actually agree) that we need voxels (plus tracks) in addition of global variables for meaningul analysis. If this is the case, then we don't need a vdst and an adst, we could do with a single city that writes a dst which include

[2018-10-21 12:53] paolafer commented on #556
Yes, in the same way we're doing now with the output of the previous cities (diomira, irene and penthesilea): they all use the MC info writer, which replicates the data structure coming from nexus.

I don't have a strong opinion for a unique city or two. Right now, Alberto (who needs a github account, if he doesn't have one...) and myself are saving tracks and voxels into two different tables, in

[2018-10-21 13:01] jjgomezcadenas commented on #556
The debate is not one city or two, but the structure of the dst after PENTHESILEA. If we opt for a more complete dst (including voxels, tracks and global info) then we only need one city and we only produce one extra data transformation.

[2018-10-21 13:09] paolafer commented on #556
Ok, I got confused by reading

[2018-10-22 12:22] carmenromo commented on #560
ok, but which tests do you mean @jjgomezcadenas? All the skipped tests or those of PR 559?

[2018-10-22 15:48] Aretno commented on #561
Let me know when the repo is set up, @jmbenlloch.

[2018-10-22 15:54] gonzaponte commented on #526
Fixed in #554.

[2018-10-22 15:54] #526 closed, assigned to nobody

[2018-10-22 15:56] gonzaponte commented on #523
We've already moved to 3.7.

[2018-10-22 15:56] #523 closed, assigned to nobody

[2018-10-22 17:48] andLaing opened #566 "Making calibration pretentious"
Just a request that before the new liquid cities are installed on frontend1next etc that whoever's doing it tells us so that we can update the shiftertools with the new meaningless empty names for calibration cities otherwise we'll have problems when the next calibration data is processed.

An aside related to this, could the chief instigator maybe add a comment to the cities and a README or simil

[2018-10-22 19:22] jjgomezcadenas commented on #566
Let me blame on somebody else. @gonzaponte would you kindly add a section to our README describing the functionality of the cities? You know as much as I do (or more) about the classical one and YOU are the one that dared renaming the Scottish cities (mind you, at your risks and perils). So humour me, please and mitigate the just ire of our dearest Northerner, amen.

[2018-10-25 09:40] mmkekic commented on #556
Whats the status of this topic? Shell we arrange a meeting to make a plan and divide the work?

[2018-10-25 09:46] jjgomezcadenas commented on #556
Yes, first we need a discussion @jahernando, then we divide the work.

[2018-10-25 09:49] msorel commented on #556
A planning meeting sounds good to me. Tomorrow (Fri) 10:00am? Monday 10:00am? I am flexible.

[2018-10-25 09:51] jjgomezcadenas commented on #556
10 am tomorrow is fine for me. We need to harry up, so that @mmkekic and friends can start working

[2018-10-25 10:02] gonzaponte commented on #556
I am available tomorrow at 10 am too.

[2018-10-25 10:08] jerenner commented on #556
10am is ok with me

[2018-10-25 10:11] mmkekic commented on #556
For me too (via Skype or Zoom)

[2018-10-25 10:16] paolafer commented on #556
I have a medical appointment at 08:45, it's unlikely I will manage to be at IFIC by 10, but I could maybe go home and connect via zoom by that time.

[2018-10-25 10:19] msorel commented on #556
would 11am tomorrow still work for everybody? looks like it would be better for @paolafer , who should attend

[2018-10-25 10:27] jerenner commented on #556
11 AM is ok with me

[2018-10-25 10:30] paolafer commented on #556
Fine with me, too.

[2018-10-25 10:31] paolafer commented on #556
@ausonandres should also be present.

[2018-10-25 10:37] ausonandres commented on #556
11 am is fine for me too.

[2018-10-25 10:37] mmkekic commented on #556
11 is fine with me too (though I'd have to leave ~12:15 )

[2018-10-25 11:27] jjgomezcadenas commented on #556
Ok for me @jahernando?

Enviado desde mi iPhone

[2018-10-26 08:49] jahernando commented on #556
Sí, por mi también!

[2018-10-28 12:03] gonzaponte opened #573 "`event_range = 0` doesn't work"
I was trying to run `diomira` with `event_range = 0` for a test and it crashes.

- Is this behaviour expected?
- Should it be fixed?

[2018-10-28 12:06] jjgomezcadenas commented on #573
Diomira is not supposed to run with event_rang=0, but probably we want to add a protection so that it insults nicely the user (something like: you moron, want me to run with no events? ) and exit, rather than crashing. Same for other cities.

[2018-10-28 12:12] gonzaponte commented on #573
Well, it is not completely clear to me whether we should allow it or not. From my experience, I think it could be a way of testing the cities "initialization process", that is, everything before `dataflow.push`.  In particular, I've found this situation while trying to add a test for #570. I wanted to run  `diomira` with no events so it doesn't draw random numbers, but it does run the part of the

[2018-10-28 12:58] jjgomezcadenas commented on #573
Sounds to me as too technical. Normal user should not run diomira with event_range=0, I believe.

[2018-10-30 09:04] mmkekic commented on #551
=================================== FAILURES ===================================

____________________ test_inverse_cdf_hypothesis_generated _____________________
[gw3] linux -- Python 3.7.0 /home/travis/miniconda/envs/IC-3.7-2018-10-20/bin/python
    @given(valid_distributions(),

    def test_inverse_cdf_hypothesis_generated(distribution, percentile):
invisible_cities/core/random_sampling_test.p

[2018-10-30 10:17] paolafer opened #576 "Drift velocity parameter"
I have a question regarding the drift velocity: at the moment, we are not using it at the level of hit reconstruction (penthesilea/dorothea), which, by the way, I consider misleading, since we produce hits with a property called Z, which is actually time. We change time to z in a following step, using the drift velocity from time evolution files (for data). If we decide to keep this way, I think w

[2018-10-30 11:19] msorel commented on #576
I think we agreed to keep the same table format for hit information ("RECO" group in hdff5 file) in existing penthesilea city and in future esmeralda city. Right?

In this case, both tables should have Z, Q, E columns, but their meaning will be different:

- Z [units: mm] will assume vdrift = 1 mm/us in oenthesilea, proper drift (~0.892 mm/us, small changes run-by-run) in esmeralda

- Q [units: PE

[2018-10-30 16:10] mmkekic commented on #551
_________________________ test_pmap_event_id_selection _________________________
[gw1] linux -- Python 3.7.0 /home/travis/miniconda/envs/IC-3.7-2018-10-20/bin/python
    @given(dictionaries(keys=integers(min_value=-1e5, max_value=1e5), values=pmaps(), max_size=5), lists(integers(min_value=-1e5, max_value=1e5)))

E   hypothesis.errors.FailedHealthCheck: Data generation is extremely slow: Only produ

[2018-10-31 15:41] gonzaponte commented on #469
Closed by #570.

[2018-10-31 15:41] #469 closed, assigned to nobody

[2018-10-31 15:44] gonzaponte commented on #453
Closed by the implementation of liquid cities.

[2018-10-31 15:44] #453 closed, assigned to nobody

[2018-10-31 15:47] gonzaponte commented on #420
It is.

[2018-10-31 15:47] #420 closed, assigned to nobody

[2018-10-31 15:57] gonzaponte commented on #566
Closed by #568.

[2018-10-31 15:57] #566 closed, assigned to nobody

[2018-10-31 16:27] gonzaponte commented on #533
@paolafer Has this issue been addressed in #532 or should we leave it open?

[2018-10-31 16:32] gonzaponte commented on #518
Can we close this issue @andLaing @jmbenlloch?

[2018-10-31 16:54] andLaing commented on #518
I think things have been updated in all the things I was complaining about at the time.

Fine to close for me.

[2018-10-31 17:16] paolafer commented on #533
No progress has been done on this, I'm afraid...

[2018-11-03 10:09] paolafer commented on #533
I've found another issue related to the tolerance of paolina voxels, which is the following.
We have added the tolerance to avoid that hits inside voxels at the boundaries of the histogram used to create them fall exactly on the border of the voxel. However, it happens that hits fall exactly on the border of voxels which are not at the boundaries. This happens systematically when the hits are regu

[2018-11-03 10:13] jjgomezcadenas commented on #533
I suspect @jacg doest not have the time. Here my five cents. I agree best is to assign the list of associate hits to the Voxel instance at creation time. I would not use a hard-wired feature to assign hits to voxels if a high-level feature is available (e.g, np.isclose).

[2018-11-03 10:15] jacg commented on #533
Hello ... I hear you ... unfortunately I simply won't have the opportunity to string together more than 30s of uninterrupted thought to dedicate to this issue for at least a couple of weeks, and I'd need more than 30s.

[2018-11-05 09:01] #518 closed, assigned to nobody

[2018-11-05 10:58] andLaing opened #584 "Peak.width gives wrong width"
Checking the output vs config for some PMaps the other day I found a mismatch between the minimum width set in the configuration  for s1s and the minimum width in plots of s1.width

I consulted with @gonzaponte and checked the code and it seems that the width_above_threshold function doesn't give the width but the difference between the first and last time which for the 25 ns bin s1s (no rebin as

[2018-11-05 16:06] paolafer opened #586 "Reorganization of attributes in the event model classes"
@gonzaponte and I were talking about the organization of the attributes in the classes of the event model, such as `BHit` and derived, but not only those.
I find difficult to understand why some attributes have `@properties` (which don't allow to modify the attribute) but we actually modify them in the usage, or why some are marked with an underscore and some aren't etc. etc.
I propose to adopt so

[2018-11-05 16:50] jjgomezcadenas commented on #586
I actually have a more radical proposal. I would like to use only dataclasses in the future. This is the approach that I have used in the KrCalib software.

Dataclasses are intended to provide "types" which can be manipulated by functions. An example:
[code]

Notice that you only declare the attributes of the object (and declare its type, which is useful). Constructors, streaming and such are auto

[2018-11-05 17:33] paolafer commented on #586
Ok, I like it!

[2018-11-06 09:14] jahernando commented on #586
I also like the dataclass concept.

In the example above, the str method is in fact a general function which can apply to all data classes.

There is one question more. It looks to me that Voxel could be a Hit composite, if we need to access a collection of hits inside, or event just a Hit. Hit and Voxel could be the same thing. Maybe we are complicated ourselves with the two classes.

[2018-11-06 09:38] paolafer commented on #586
I disagree on this last point. A Voxel  can still inherit from a Hit, as currently does, but we need to keep them separate to account for the hits that are used to build a voxel. This is a piece of information that we're using right now.

[2018-11-06 09:48] paolafer opened #587 "Parametrized algorithm for xy reconstruction"
I'd like to bring up again the matter of being able to choose a particular algorithm for xy reconstruction, via configuration parameter. Right now, I'm testing variations of corona and also different algorithms and I think that it would be better to have a code with several options, at least for a while.
In the ancient times, we had this possibility, but it was removed at some point.
If you agree,

[2018-11-06 11:59] jjgomezcadenas commented on #587
This would go in Penthesilea, right?

[2018-11-06 12:02] jacg commented on #586
Re: @jjgomezcadenas dataclass thesis (let's see how much I can say before the students come back from lunch):

First, a couple of minor (somewhat orthogonal to the main issue) points.

1. You use docstrings as if they were comments. Please don't. Take the docstring in you class `Point`. A user who wants to know what `Point` is about might type `Point?` into an IPython propmt and get told "Add pola

[2018-11-06 12:20] jjgomezcadenas commented on #586
Got it.

Yeah, well, we do this somethimes, there is a bit of all of that spread over IC. For the record, the examples I was discussing are from KrCalib (not IC). Yes, it should all be lower case.

Actually, I don't need to write my own constructor, something of the type p = Point(x,y,z,r,phi) will work. Perhaps I have missed your point.

Well here is the master complaining to the student. Got a r

[2018-11-06 12:21] gonzaponte opened #588 "Update IPython version"
IPython's current release can't handle multiline input.
Let's keep an eye on [their issue](https://github.com/ipython/ipython/issues/11334) and update our verssion as soon as it is fixed.

For those interested, ctrl-o forces a new line, but it is a huge pain.

[2018-11-06 13:54] paolafer commented on #587
It would be used in Penthesilea, yes.

[2018-11-06 14:25] jjgomezcadenas commented on #586
Oh, after my long wailing a I see your point. Of course the example I chose was a stupid one, given the fact that R and Phi can be computed from X,Y,Z. It has nothing to do with dataclasses, though (you can add methods to datalclasses if you want). The reason I defined such object was that the kdst produced by DOROTHEA includes X,Y,Z,R,PHI (btw with non kosher names) and so I would read the five v

[2018-11-06 16:59] jjgomezcadenas opened #590 "Proposal to reorganize data formats"
This proposal comes after:

1) Discussions with @gonzaponte, concerning what to do with empty PMAPS: we did realize that it is better NOT TO THROW THEM AWAY, but rather add a mask filter specifying that the PMAP is not good (e.g, a vector with 1 for good pmaps 0 for empty pmaps). In this way we can try to traceback using the MC why a given event results in an empty PMAPS.

2) Working in Esmeralda

[2018-11-06 17:24] jjgomezcadenas opened #591 "Hit or corona?"
After the last round of results from @paolafer the question arises whether we should keep corona as default or try 1-hit-per-sipm. This is a non-trivial decision, in the view of data-processing coming up and we should try and understand what is the best approach.

[2018-11-06 18:45] jacg commented on #586
I think you're starting to see the seed of my important point, which is:

+ @paolafer asks about properties
+ @jjgomezcadenas replies with something along the lines of "Never mind properties, look at how amazing dataclasses are" and proceeds to back it up with the poster-child example of a situation where properties should be used, and dataclasses are actually a pretty poor fit.

Specifically: yes

[2018-11-06 18:58] jjgomezcadenas commented on #586
Actually is a bit trickier than that, because the Point object is used to capture information that comes from the kdst. And the kdst includes X,Y,Z,R,PHI. So, in a sense this is God given info we don't want to recompute (and we need). So actually we should allow the constructor and explain why, I guess.

I know, I know. It was the drama Queen in me, asking for some limelight.

Got it. Actually, I

[2018-11-06 22:15] msorel commented on #591
@jjgomezcadenas Related to our recent discussions on how to reorganise communications among NEXT Collaboration...

I guess you meant this comment to appear as a comment to this Teamwork Notebook:
https://nextbb.teamwork.com/#notebooks/168825
or somewhere else on Teamwork or on mailing lists. And not as a new Git Issue (nor Slack)

Right?

The more technical aspect on how to generalise software to

[2018-11-07 08:43] jjgomezcadenas commented on #591
https://nextbb.teamwork.com/#notebooks/168825
or somewhere else on Teamwork or on mailing lists. And not as a new Git Issue (nor Slack)

Well, not totally obvious. Certainly not slack. But 1-hit-rather than corona has implications for software, so I think it belongs actually to both Teamwork and git.

Yes. I believe that Teamwork and github are, however, rather connected, and some duplication may

[2018-11-07 22:36] jjgomezcadenas commented on #591
Further to my previous comments, here a new proposal (and the reason why this issue is open in Github now becomes evident).

I believe that the solution to our dilemma is not Hits OR Corona, but Hits AND Corona. I propose that Penthesilea writes TWO hits tables, one with the corona hits, the other one with one hit per SiPM touched. Like this we have all the available info for further analysis down

[2018-11-07 23:18] msorel commented on #591
Considering where we are, with dust still not settled, I agree it could be more prudent to provide different hit definitions to analysers, but all of them through "official" productions

My main question and possible twist to what you have here is:

- one penthesilea job filling two hit tables, same format for both tables but filled with different XY algorithms? I understand this is your proposal.

[2018-11-07 23:18] msorel commented on #587
I think this is an excellent idea!

[2018-11-07 23:27] jjgomezcadenas opened #592 "Another example of "I have a hammer, everything is a nail?""
@jacg, please advise:

While discussing code (in KrCalib, not yet IC grade, work in progress) with @mmkekic the following issue came up. KrCalib is a set of functions that work with a DataFrame
[code]

The goal of those functions is to produce correction maps, but my question here is more related with infatuations, hammers and nails.

Suppose that you want to  write a function that takes a subset

[2018-11-07 23:42] jjgomezcadenas commented on #591
The reason why I suggest two tables is that I believe that energy reconstruction and topology reconstruction will not be optimized by the same algorithm! Thus, one (I believe corona) will be used for energy reconstruction, a second table (hits) for topology (of course one can also use the first table for topology).

In the scheme I propose one can still configure the reco algorithm and use modif-c

[2018-11-07 23:43] jjgomezcadenas commented on #587
Agreed. See also #591

[2018-11-08 08:30] msorel commented on #591
Ah, OK, I see your point. For the "sipm-as-hits" table to be conceptually different as "corona-as-hits" table and not imply reconstruction, in my mind two conditions should be met:

- no parameters (configurable or hardwired) enter in the definition of a "sipm-as-hit"

- no data reduction compared to what already present at the PMAP level

In this case, we are in a similar situation as converting

[2018-11-08 09:46] jjgomezcadenas commented on #591
Yes, I want to use a cut on SiPM. This is obvious, since we need to get rid of the dark current and does not imply any particular reconstruction. It can be envisioned at the same level that we put cuts on S1 or S2 samples to form the S1/S2 waveforms.

Taking all the SiPms that have a charge above threshold (threshold can be defined at some convenient level, perhaps not very strict, say 99 % or 3 p

[2018-11-08 12:11] msorel commented on #591
@jjgomezcadenas if it is all about cutting noise before writing "raw hits" (that is, "pmap hits"), then I still think that the best thing to do is to cut said noise in irene and not introduce a second set of thresholds in penthesilea, which would effectively turn the "raw hit" construction into "reconstructed hit".

The IC book-keeping is already complicated enough, as we cut on same quantities in

[2018-11-08 12:53] jjgomezcadenas commented on #591
Cuts in pmaps should be kept at lowest possible values, since they are in practice our hih level raw data. I see no problem whatsoever in raising a threshold later for sipms. I think we are discussing a trivial matter. The need of 1-sipm-hit table is clear, JA and Gonzalo have been working with pmaps because such table was not there, and the flexibilty of a single parameter (sipm threshold) allow

[2018-11-09 14:51] jacg commented on #592
Type annotations, while an interesting idea, really do not fit comfortably with the fundamenal typing philosophy of Python which is Duck Typing. They have been added to the language as an afterthought, and have gained little traction within the broad Python programming community, especially in the *scientific* Python community, where people tend to care even less about the code itself---as opposed

[2018-11-10 19:24] gonzaponte commented on #551
[code]

[2018-11-12 15:53] jjgomezcadenas opened #595 "A proposal for an "Analysis repository" (Resurrecting ICARO)"
Over the last few months we have developed a substantial amount of software that classifies as "IC client". This means:

1. The software (e.g, KrCalib) uses when needed IC functions.
2. But IC does not know anything about the client.

KrCalib is organized in a similar way to IC. Mostly python functions and tests. Notebooks are not allowed there, but collected in a separate repository, KrCalibNB. A

[2018-11-13 18:09] gonzaponte commented on #551
[code]

[2018-11-14 10:21] jahernando commented on #595
I agree with your proposal @jjgomezcadenas to have a common repository for the code, client of IC, no NB, that is been used in different reconstruction and analysis studies. Maybe we need to find a name, we fell one with ICARO.

I see it that we need:

1)  to have a commo repository to store our experimental code for reconstruction and analysis, that everyone can criticize, benefit and improve.

2

[2018-11-14 10:58] jjgomezcadenas commented on #595
I think you mean "failed". But the problem was not the name, but the difficulties to manage Notebooks. I think ICARO is a nice name (and we don't need to invent a new one).

Yes, and @paolafer has her own code somewhere... as the master would say. Outside the cities there is only chaos.

Agreed. Well, my own prototype (KrCalib) has a substantial number of tests, and I do believe that tests are a m

[2018-11-14 11:38] jahernando commented on #595
@jjgomezcadenas I am re-organizing the code we use, in CsTh, to calibrate SiPMs from pmaps.  I am almost close to pass the suffering of paying the technical debt... There are some code with DataFrames, that could be of some help for Esmeralda and others.

I guess, I wait and committed to the new ICARO, if not, tell me I am putting it in KrCalib.

[2018-11-14 17:28] jacg commented on #592
(In my copious spare time, so this will be a slow process) I'm looking into how we might provide rich typehints relating to dataframes.

I suppose it must be possible to create our own `typing`-like `DataFrame` (analogous to `typing.Tuple` allowing us to say `Tuple[int, str]` rather than simply saying `tuple`), but I'd rather not reinvent the wheel, so I'm trying to find some existing wheels. Here

[2018-11-15 09:56] jacg commented on #592
This post discusses how to improve Pandas DataFrame type-hinting by subclassing. In the process it also addresses replacing (nasty, horrible, to be avoided) strings in the DF interface with (lovely, discoverable) symbols: http://devanla.com/case-for-inheriting-from-pandas-dataframe.html .

Seems interesting at first blush. Would need to think about it, and its consequences, a bit more.

[2018-11-15 10:22] jjgomezcadenas commented on #592
Very, very interesting, and a relief to realize that the worries of the infatuated functional programmer were not so much off the mark. I can give a try to this in the KrCalib code  (see above), and experiment a bit with the ideas.

[2018-11-15 13:12] jacg commented on #592
If you go down this path, you should write some metaprogramming utilities that remove the need for repetitive boilerplate, by generating the classes you want from a simple specification. (I now see that the article suggests something along those lines, but it does it in a way I recommend you **DO NOT** follow: namely generating source code. This is Python's equivalent of poor-man's Lisp macros, an

[2018-11-15 14:47] jjgomezcadenas commented on #592
An important point. Access to column data by attribute is granted in Panda. You can do:

[code]

But in Panda you can also do:

[code]

What you CANNOT access by attribute is row name. In panda you must do:
[code]
or
[code]

What you cannot do either is to slice by attribute. You can do:
[code]

[2018-11-15 14:53] jacg commented on #592
Hmm, I'm getting confused between Pandas and Pytables again.

But, in that case, the original article is doing something pointless about the stringy API, as Pandas already addresses it.

[2018-11-15 15:41] jjgomezcadenas commented on #592
Yes. Pandas adresses columns by symbol (e.g, attributes). One has still the problem on how to specify the names of the columns when sublclassing (so that one knows the attributes of the object at hand).

[2018-11-16 00:58] jjgomezcadenas commented on #592
So compare
[code]

with

[code]

Improvements:

1. pythonic notation
2. Object is a DF, with all DF goodies.
3. Object type is  KrDF,  OK for typehints.
4. Relevant fields are declared with the Column notation (nice trick).
5. All non-sense inheritance eliminated.

Progress, I suppose.

[2018-11-16 01:28] jjgomezcadenas commented on #592
Actually, the construct above doesn't work well. It will produce a DF and one can access the attributes by... string! if we try krdf.x we obtain (of course) an object of type "Column".  Of course, if we do:
x = "x" as in post, then we can access krdf[krdf.x] which is ugly.

So it is not really true that you transport the attributes of the DF (eg, df.x) when you subclass. It appears that doing it b

[2018-11-16 06:19] jacg commented on #592
*Please* get out of this habit: docstrings are **NOT** comments!

Well, yes, the `Column` was a marker understood and replaced by the decorator. If you don't use the decorator, don't expect anything interesting to happen to the `Column` attributes.

I can't reproduce that here. Specifically, the `x` created thus `x = ThisAndThat(data=dict(this=range(5), that=list('abcde')))` in my earlier sample,

[2018-11-16 10:57] jjgomezcadenas commented on #592
Sorry, yesterday I was working too late. Here is an update:

https://github.com/nextic/KrCalibNB/blob/gallery/tutorials/pandas/dataFrames.ipynb

The point is: the decorator works, but nothing prevents the use from ignoring the Columns defined, which in practice become "comments". Take a look to NB to see what I mean.

[2018-11-16 11:45] jacg commented on #592
What do you mean by 'ignoring the Columns'? The `Column`s are there as markers for the decorator to do whatever it wants with the information. If you want the object to reject construction with and/or setting/reading of attributes which are not explicity marked with `Column` then you have to get the decorator to install that ability into the class it produces. At the moment (being a simple proof-o

[2018-11-16 13:08] jacg commented on #592
Here's a proof of concept showing that the decorator can in principle make the resulting class reject undeclared columns at construction time. Again, it's just a proof of concept, so don't expect it to do things which you may consider desirable but which have not been implemented yet! (As a specific example, dataframes admit a squillion different construction styles, and this proof of concept only

[2018-11-16 13:36] jacg commented on #592
Edit: missing `s` in `self.columns` !

The following should be a much more robust way of detecting illegal columns:

        def __init__(self, *args, **kwds):
            super(new_cls, self).__init__(*args, **kwds)
            present_columns = set(self.columns)
            illegal_columns = present_columns - allowed_columns
            if illegal_columns:
                raise Complain(f"{cls._

[2018-11-16 14:31] jacg commented on #592
Now, appealing though subclassing `DataFrame` might be, it is philosophically the wrong thing to do: subclasses inherit the whole interface of the supreclass, and should we usable wherever the superclass is used. Subclasses created with this decorator break lots of things that they inherit from `DataFrame` (`df.T` is an obvious example).

In other words, subclasses normally extend the interface of

[2018-11-16 14:39] jjgomezcadenas commented on #592
Neither the IFP nor the NCT have the foggiest idea what 'implement by aggregation' means

[2018-11-16 14:58] jacg commented on #592
I haven't the foggiest idea what the IFP and the NCT are.

    class ClassThatDoesTheWork:

        def wanted(self):
            return 'Working hard.'

        def unwanted(self):
            return "Our specific thing shouldn't be able to do this!"

    class Inherit(ClassThatDoesTheWork):

        def wanted(self):
            return super().wanted() + " Work even harder."

    class Aggregate

[2018-11-16 16:06] jjgomezcadenas commented on #592
OK, clear.
IFP : Infatuated Functional Programmer, @jjgomezcadenas
NCT: Newly Converted Theorist. @mmkekic

[2018-11-17 10:32] jacg commented on #592
We can automate much of the implementation-as-aggregate with `__(get/set)attr[ibute]__` and `__dir__` but there will still be tricky issues to resolve. The most obvious of these probably relate to the features which use `_constructor[_(sliced/expanddim)]`. So we should ask ourselves whether it wouldn't be better to just use plain `DataFrame`s and find a way of providing richer `DataFrame` type hin

[2018-11-29 13:06] paolafer opened #602 "Voxels sometimes have no associated hits"
I've found that for some events the voxelization algorithm creates voxels with non-zero energy, but assigns no hits to them. I'm puzzled because we have a specific test to catch this mistake (`test_hits_energy_in_voxel_is_equal_to_voxel_energy`), but maybe it is unable to find very particular cases. I wasn't aware that we could have this kind of problems (meaning specific cases that escape a gener

[2018-11-29 13:16] jacg commented on #602
Create a branch, commit the `h5` file and the test that uses the file to the branch and push it to your fork.

(Not that I'm likely to have time to look at it, but at least it will make the example available to others.)

[2018-11-29 13:35] paolafer commented on #602
Thanks, @jacg, I've created the branch [voxels-with-no-hits](https://github.com/paolafer/IC/tree/voxels-with-no-hits) in my fork, with a new test `test_voxels_with_no_hits`, which fails because of this behaviour.

[2018-11-29 14:23] jacg commented on #602
Just a quick note; compare the following three spellings:

    sum([h.E for h in v.hits])
    sum((h.E for h in v.hits))
    sum( h.E for h in v.hits )

The difference between the first and second is that the first uses a list comprehension, while the second uses a generator expression. This means that the former needs to have all the elements of the list in memory at the same time; the generator

[2018-11-30 16:10] mmkekic commented on #602
This seems to be an issue with floating points and numpy histograms and not a bug in the code of hits assignment... Converting hit_positions from float32 to float64  as
hit_positions = np.array([h.pos for h in hits]).astype('float64')
solves this particular problem and gives the correct histogram but I wonder how many of similar issues have we overlooked

[2018-11-30 16:39] jjgomezcadenas commented on #602
Well, good catch. As for similar issues, we will just keep digging!

[2018-12-14 14:48] andLaing opened #606 "Another possible PMap error"
I've noticed that some PMaps have s2s with negative values in the pmts.sum_over_sensors array. Since the selection is done on the sum of the PMTs and a minimum of 2 pe is required this should be impossible.

I'm not 100% sure but I suspect that something to do with the rebinning or selection steps could be to blame.

[2018-12-19 11:39] jjgomezcadenas opened #608 "WARNING. Level of open PRs increasing dangerously"
Dear usual suspects, we have ten open PRs, some of them for apparently no good reason. Please, do react **now**. Let's reduce the number of open PRs to those strictly necessary before XMass break.

[2019-01-28 11:34] jmbenlloch opened #617 "Git LFS troubleshooting"
From time to time there are some users having problems with git LFS, in particular when trying to checkout another branch. For some reason git-lfs fails and then many changes and conflicts appears.

If this happens, one could try to skip the LFS step, do the checkout and then pull the files by hand. The idea would be to run:

`export GIT_LFS_SKIP_SMUDGE=1`

Open emacs/magit afterwards and do your

[2019-01-31 16:54] paolafer opened #619 "Change the blob default definition"
I'm wondering if we should change the functions that return blob energies in `paolina_functions`. The studies of Alberto and myself point to a better definition than the default one. This new definition uses the barycenter of the hits and the hit energies instead of voxel information, as suggested by Michel time ago. Since this is now our new default, I propose to modify the `paolina_functions` fu

[2019-01-31 16:54] paolafer opened #620 "Missing run number in `compute xy_position`"
I've noticed that the function `compute_xy_position` in `components.py` doesn't receive the run number as an argument, and it assumes it's 0. Why is that so? This function depends on the run number because it takes into account the masked SiPMs.

[2019-02-01 09:20] #602 closed, assigned to nobody

[2019-02-05 10:12] ausonandres commented on #619
That's a very good idea Paola. I think that nobody is using the old definition currently, and it will simplify Paolina's code a lot.

[2019-03-06 15:22] #89 closed, assigned to jjgomezcadenas

[2019-03-06 15:23] #90 closed, assigned to jjgomezcadenas

[2019-03-06 15:24] #356 closed, assigned to nobody

[2019-03-06 15:26] paolafer commented on #619
The change has been done.

[2019-03-06 15:26] #619 closed, assigned to nobody

[2019-03-06 15:26] #407 closed, assigned to nobody

[2019-03-06 15:27] #408 closed, assigned to nobody

[2019-03-06 15:27] #411 closed, assigned to carmenromo

[2019-03-06 15:28] #429 closed, assigned to nobody

[2019-03-06 15:36] gonzaponte commented on #620
I think this is just a matter of taking the run number as the argument and using it in the function, right? I think the reasoning was "the sipms don't change position over time", but didn't considered masking.

[2019-03-06 15:50] paolafer commented on #528
The issue is closed. Please, take note of the solution, in case you need it at some point.

[2019-03-06 15:54] paolafer commented on #389
I believe that this issue has been solved with PR #603, therefore I close it.

[2019-03-06 15:54] #389 closed, assigned to nobody

[2019-03-11 12:49] Aretno opened #639 "Is this binning the intended behaviour? (Pmaps/Penthesilea)"
Hi,

I have noticed that the times of a pmap peak are not equally separated in 1 µs slices and I was wondering how is so? After speaking a bit with Gonzalo, what I understood is that the time of each slice, both in pmaps and penthesilea, is basically the weighted average of the times of all slices that are part of the bigger slice (so the time of the pmap slices is the average of the 25 ns slices,

[2019-03-11 21:45] msorel opened #641 "EventMixer code in IC"
For MC physics studies, we mix several input streams into a single output stream through the EventMixer python code. The same code also tells us the effective exposure (in years) of a certain number of MC events above some visible energy threshold.

This mixing is necessary because:
- we mix close to 100 background sources, where each source is a given (isotope, Geant4 volume) combination, so the

[2019-03-28 09:00] Aretno commented on #639
Let's try again, this seems important. Is this the expected thing?

In addition, and this probably is unrelated but could fit here, I have noticed that high energy slices near the anode may not have SiPM charge which seems weird. For example:

![event1](https://user-images.githubusercontent.com/8233522/55143852-e8152480-513f-11e9-8a24-28715963ff9b.png)

Kr event of MC. The SiPM charge cut per slic

[2019-03-28 09:48] andLaing commented on #639
So

I've never looked at the penthesilea output in detail, the one you put seems like it has a more serious bug since all the slices are at the same z with the exception of the last. I've also never seen a pulse with more charge/energy in the last slice, it's almost invariably significantly less. Have you looked at the same event in the pmaps? To see if the problem comes from there?

As far as the

[2019-03-28 10:06] Aretno commented on #639
The event I'm showing is just two slices as it is near the EL. Note that basically is 1 hit per SiPM so what you're seeing is the different hits on the event. Most of the hits are in a single slice and that's why the z is repeating all over the place. So yeah, the last slice has less energy than the first (6k the first one, 2.5 the second one). In any case I'll take a look at the pmap of that even

[2019-03-28 11:12] andLaing commented on #639
For Kr I would probably expect the majority to have a difference of less than the bin width since the points will be on the rising and falling edges so their barycentres will tend towards the centre. Not sure it would be enough of an effect to cause the difference you're seeing though

[2019-04-15 13:28] pnovella opened #652 "Warning in irene"
/software/miniconda3_dev/envs/IC-3.7-2018-11-14/lib/python3.7/site-packages/scipy/signal/signaltools.py:1344: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out = out_full[i

[2019-04-15 13:39] pnovella opened #653 "Irene crashes when RWF file is empty"
irene crashes if no waveforms in input file, generating an empty output file which in turn cannot be processed by penthesilea/dorothea. In v0.9.9 (current production version), irene just does not create a pmap file when the input RWF file is empty (note this is a common situation in trigger2 data production as several binary files do not contain trigger2 data). This should be fixed before we promo

[2019-07-04 09:36] Aretno opened #661 "Version testing"
Hi everybody,

This topic is to discuss the software version tests (additional to the usual test functions) that we want to implement to make sure we do not end in a similar situation as the one we are currently in.

After scratching our heads for a while, @mmkekic and I would like to propose this scheme:

1. After each PR is **approved and before merging**, an automatic script will run in majoran

[2019-07-04 09:48] msorel commented on #661
Hi, sounds like a very complete and ambitious plan to me! My only comment: lets not test only on Kr and trigger2 data, bit also on corresponding MC files (detsim output, probably). So, running on four datasets

[2019-07-04 09:53] jjgomezcadenas commented on #661
Ambitious indeed. I see the risk that we are aiming too high and it takes too long. I would like that you guys propose a simpler prototype as a first step that can be quickly implemented and tested (e.g, 2 weeks),THEN we can go for the bigger thing.

Enviado desde mi iPhone
On 4 Jul 2019, 11:48 +0200, msorel <notifications@github.com>, wrote:

[2019-07-04 10:14] Aretno commented on #661
Yeah, it's not two weeks work that's for sure. But I'm somehow missing the point (or missed it yesterday), I thought the evaluation of the current mismatch was on Gonzalo's hands and the evaluation of the mismatch (if it's there) on MC was on Alberto's. On the other hand, @mmkekic and I where supposed to develop a set of tools so this does not happen again.

I understand that you would want this s

[2019-07-04 10:23] jjgomezcadenas commented on #661
Correct

I simple want something simple *independent* of Alberto and Gonzalo's effort, that tests the production. Actually what you propose make all the sense in the World, but simplify, give me a prototype first (no need to push things to github, simplify the report, limit the bell ringing).

Why in two weeks? Because is a prototype and I want you to focus in making it work, rather than setting o

[2019-07-04 10:40] Aretno commented on #661
Ok, got it, crystal clear.

So we'll remove all git automatization, the simplest approach will be something similar to this:

1.  José Vicente makes a common account in majorana with installed IC to the HEAD.
2.  A script takes as input two different IC installations, the HEAD and the one to be tested as well as two config folders, one containing the config files for each installation.
3. The dev

[2019-07-04 10:45] jjgomezcadenas commented on #661
Exactly. THANKS.

To repeat. I think the idea of producing a fully automatized test suite is GREAT. But let's split the work in atoms...

[2019-07-04 10:56] #653 closed, assigned to nobody

[2019-07-05 15:22] jmbenlloch commented on #661
These are my two cents:

@aretno consulted with yesterday on how to implement a system such as the one described in his first message. As you know, I don't really have time to write all the code needed, but I think it is a very interesting problem and couldn't resist to spend a couple of days mocking up a prototype with the most basic functionality so the people involved can understand my proposal

[2019-08-14 13:15] paolafer opened #665 "New Monte Carlo attribute for particles"
Currently we are not saving the true information of the final momentum of an MC particle, since it is zero in most of the cases we deal with. However, this is not the case, for instance, if a particle decays in flight. In order to be as general as possible, I would like to add this property, as well, but this introduces an issue of backward compatibility, since we should modify the `MCParticle` cl

[2019-10-18 13:56] mmkekic commented on #620
Fixed with #638

[2019-10-18 13:56] #620 closed, assigned to nobody

[2019-10-18 14:00] mmkekic commented on #533
Fixed with #642

[2019-10-18 14:00] #533 closed, assigned to nobody

[2019-10-18 14:06] #499 closed, assigned to nobody

[2019-10-18 14:10] mmkekic commented on #534
Resolved in  #574

[2019-10-18 14:10] #534 closed, assigned to nobody

[2019-10-18 14:12] mmkekic commented on #561
I assume this is done in Olivia @Aretno ?

[2019-10-18 14:12] #561 closed, assigned to nobody

[2019-10-18 14:15] #592 closed, assigned to nobody

[2019-10-18 14:15] #595 closed, assigned to nobody

[2019-10-18 14:15] #608 closed, assigned to nobody

[2019-10-18 14:16] mmkekic commented on #507
Whats the status of this @jmbenlloch ?

[2019-10-18 14:17] #591 closed, assigned to nobody

[2019-10-18 14:19] mmkekic commented on #576
Probably solved with #612

[2019-10-18 14:19] #576 closed, assigned to nobody

[2019-10-18 14:20] mmkekic commented on #586
Done in #643

[2019-10-18 14:20] #586 closed, assigned to nobody

[2019-10-18 14:21] mmkekic commented on #556
Solved with #612

[2019-10-18 14:21] #556 closed, assigned to nobody

[2019-10-18 14:23] #588 closed, assigned to nobody

[2019-10-18 14:25] mmkekic commented on #590
I dont think there are any plans to change the outputs of the old cities, so I close this issue for now.

[2019-10-18 14:25] #590 closed, assigned to nobody

[2019-10-18 14:30] mmkekic commented on #584
Solved in #593

[2019-10-18 14:30] #584 closed, assigned to nobody

[2019-10-18 17:03] mmkekic opened #671 "Esmeralda city changes"
As discussed with @paolafer  and Pau, we agreed to:

- [x]  hard code `norm_strat` option to 'kr' enforcing Esmeralda to always output corrected energy in MeV at Kr scale.

- [x]  Copy whole kdst table coming from Penthesilea without any filtering of events, as well as keeping all the events in Run and MC table.

- [x] Remove the redundant` 'S1e', 'S1t', 'nS2', 'S2e0', 'S2q0'` from PAOLINA/Summary

[2019-10-18 18:17] Aretno commented on #671
Sounds good, yes.

[2019-10-21 09:08] jahernando commented on #671
I agree with 1, 2), but not 3)

But I do not seen the purpose of removing the 'redundant' variables in the summary of Paolina.
This is intended to be the analysis n-tuple. Looking to these variables in other tables it is going to be very annoying. In fact, I am using them already, in the summary table, in my analysis of the double-scape peaks.

[2019-10-21 22:45] mmkekic commented on #671
@paolafer , we left the option to voxelize using uncorrected energy, in that case drop_voxels energy_threshold can not be given in keV. What do you suggest?

[2019-10-22 06:34] paolafer commented on #671
In that case I guess that the user must know what's doing, right? And give the right threshold, according to pes.

[2019-11-08 19:01] gonzaponte opened #677 "Networkx performance"
Apparently Esmeralda spends a large fraction (1/3? more?) of cpu time using networkx-based functions. This module is known to be slow. I've found this other module [(graph-tool)](https://graph-tool.skewed.de/performance) which is implemented in C++ but provides python bindings. The performance, they say, is about 20-170x better on some standard functions.

Of course switching to this new module re

[2019-11-18 13:53] #560 closed, assigned to nobody

[2019-11-26 16:36] andLaing commented on #606
Related to PR #658 and the checks that @mmkekic has been doing pre-merging of that PR we've noticed possible fail channels even with the protection added.

I've looked in a bit more detail at what's happening in the offending event which now raises an exception. The problem seems to be related to the 'stride' parameter which is currently set to 40 25 ns samples in the standard configurations for i

[2019-11-26 16:37] andLaing commented on #606
As an aside, was the job of making a version where the S2 rebin is done pre-sample selection assigned to someone? That would also avoid these problems, maybe

[2019-11-26 18:37] msorel commented on #606
Hi Andrew, thanks for the insight! Concerning your last comment, and prompted  by Adam, @ausonandres and myself wanted to explore the possibility to first rebin, then look for S2 peaks, and not the  other way around as done now. In principle avoiding the stride parameter altogether.

Is this what you are referring to?

But no work has been done, yet.

[2019-11-27 09:07] andLaing commented on #606
Thanks for the reply @msorel . Glad someone is looking into the the rebin paradigm.

Any fix we come up with for this current problem only has to be temporary then since @ausonandres will change the way we do the selection in the future.

[2019-11-27 11:39] mmkekic commented on #671
Solved with #672 and #681

[2019-11-27 11:39] #671 closed, assigned to nobody

[2019-12-04 11:13] andLaing commented on #606
I've been trying a version of the code which tries to mask out negative slices in the pmap construction process which unfortunately has exposed another oddity in the pmap selection. There is a non-zero probability of s1s that are 100% negative in the sum which causes problems with the simplest implementation of the masking.

This seems to be an effect of selecting the S1 indices using the mau but

[2020-02-05 17:23] mmkekic commented on #528
I reopened this issue because it is not solved and might be handy to look at it from time to time :)

[2020-02-05 17:54] paolafer commented on #665
It has been agreed in the last Santiago-Valencia software meeting that @jmunozv will change the relevant IC code following the simplification of the hdf5 output of nexus. This simplification implies that event data model classes could be not used anymore in the reader and writer true MC functions. In that case, this issue could be dropped.

[2020-02-05 17:58] paolafer commented on #617
Another git LFS-related issue: sometimes it happens that, when a file stored with git LFS is committed, and subsequently deleted, an error is raised trying to do a `push`. In that case, the solution found by @jmbenlloch is to force the download of all the files with LFS, executing

`git lfs fetch --all`

and to do the `push` afterwards.

[2020-02-11 16:30] gonzaponte commented on #528
So @mmkekic and I have been looking into the guts of this issue. This is what we've learned:

`numpy` and other modules use some parallelization libraries internally to speed things up. This is a design choice that is a bit obscure and barely documented. However, it is also a configurable behavior. There are a number of environmental variables that set the maximum number of threads to be used by e

[2020-02-11 16:31] gonzaponte commented on #528
We want to take advantage of this small modification to the code to introduce new people to PRs.
Whoever wants to take this should
1. Make sure the local and origin master branch is at the same commit as nextic/master
2. Create a new branch starting on master. Checkout to this new branch.
3. Make a dummy commit (add a new line or an empty space) and push to origin.
4. Go to the github page and ope

[2020-02-11 18:17] jacg commented on #528
You should also make sure that you are aware of [numexpr](https://github.com/pydata/numexpr) and what it can offer you in this sort of area.

[2020-02-11 19:34] gonzaponte commented on #528
May I ask you to elaborate a bit on that? Do you mean that we should consider using `numexpr` directly in our code?

[2020-02-11 21:02] jacg commented on #528
Sorry, after reading your message more carefully, I now see that you already explicitly mention numexpr ... I merely saw you talking about controlling numbers of threads, and thought that you should know that numexpr does this sort of stuff for you ... so while I thought I was pointing out a new and useful tool to you, it seems that you're already aware of numexpr (to some extent) and struggling *

[2020-02-11 21:32] gonzaponte commented on #528
Thanks for the summary. I've been reading about `numexpr` while tackling this particular issue and the problem we have is precisely that we cannot take advantage of `numexpr` trickeries. This is because we "*have to*" run on a single thread. When running on our computer cluster, each job is restricted to a single processor. This means that any program that tries to parallelize a code will simply u

[2020-02-11 21:40] jacg commented on #528
OK, gotcha.

You make it sound more complicated than it usually is: you take an numpy expression, feed it to numexpr, and it now runs faster.

In that sense it's a bit like numba, it's not that you 'switch from python to numba' you feed python to numba and it runs faster.

[2020-02-11 21:44] gonzaponte commented on #528
That's right, we should consider applying numexpr to the bottlenecks of our code. Thanks!

[2020-02-17 15:29] andLaing opened #691 "Detector simulation"
The functionality to sort nexus full simulation into buffers or fully simulate the detector response in python (generally referred to as detsim) needs to be integrated into IC.

We propose the following grouping of pull requests to gradually integrate the functionality:
1) Additional source components to read relevant MC info into dataflow
2) New writer to save all the relevant information and add

[2020-02-26 14:06] gondiaz commented on #691
10. Functions to manipulate the psf functions.

[2020-03-10 10:50] jacg opened #703 "Dict and single-future behaviour of dataflow.push(result=...) not documented"
The test suite of `dataflow` is its only documentation, as far as I am aware. (It might be worth providing a pointer to these documentation-tests from somewhere in the docs.)

`test_push_futures` documents the fact that `push(result=...)` can be given a tuple of futures, which will be used to produce a tuple of results returned by `push`. What is undocumented (because these features were added lat

[2020-03-10 10:52] jacg opened #704 "doc/cities.rst describes solid cities"
This document talks about inheritance etc. This out of date information should be removed! Ideally, it should be replaced by a description of flow-based liquid cities.

This could be a good exercise for someone starting out in dataflow / IC.

[2020-03-10 12:20] jacg opened #705 "event_count repeated in Phyllis result"
Is Phyllis being used?

Its result contains 4 values, two of which are the same value repeated under different names: `events_in` and `event_count` are both the result of `event_count.future`:

            result = dict(events_in   = event_count     .future,
                          spe         = accumulate_light.future,
                          dark        = accumulate_dark .future,

[2020-03-10 12:31] jacg commented on #705
... and exactly the same problem appears it Trude.

In fact, the amount of code duplication between Phyllis and Trude looks quite scary! (It's not immediately obvious what the best way of avoiding this would be, but we can definitely do better.)

[2020-03-10 13:26] carmenromo commented on #705
Yes, both of them are being used! They compute the spectra for SiPMs (Trude) and PMTs (Phyllis)

[2020-03-10 13:52] jacg opened #706 "Avoid code duplication across cities"
Phyllis and Trude are almost identical: it looks like about 90% of their code is duplicated. I hope that, by now, we all understand that this is A Bad Thing.

Here I propose a mechanism for avoiding such duplication.

[code]

This approach fails to address one significant issue: `phyllis` has an `n_baseline` parameter which `trude` does not, and the above solution sketch does not cater for this at

[2020-03-10 13:54] jacg commented on #705
Oh dear. Is the `event_count` being used?

[2020-03-17 12:37] andLaing opened #710 "Problem with core.testing_utils.assert_dataframes_close"
While trying to implement a suggested change to penthesilea_test.py made by @mmkekic in PR #693 I found a problem with `invisible_cities.core.testing_utils.assert_dataframes_close` which occurs when a DataFrame contains a mixture of strings and numbers. Error given is:

`>       xfin = isfinite(x)
E       TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be sa

[2020-03-17 12:41] gonzaponte commented on #710
Sounds like something we should definitely do. Can you (or someone else) check that the tests still pass if you replace the implementation of `_compare_dataframes` in testing_utils by one that calls the pandas function?

[2020-03-17 12:45] andLaing commented on #710
Another advantage seems to be that the pandas implementation checks the indices (in a lot of the new MC readers we set event number among others as indices) whereas the current IC implementation only checks the columns.

We can do some checks, I'll let @mmkekic assign someone

[2020-03-17 12:49] mmkekic commented on #710
Since this seem like a simple change, lets get @MiryamMV  involved? :)

[2020-03-17 15:39] MiryamMV commented on #710
I'll handle it! Give me some time xD

[2020-04-06 15:06] mmkekic opened #715 "Merging MC files"
Dealing with  #693  we run into a problem of merging several nexus files information of the configuration table. Seems that it makes sense to have a configuration information (such as Geometry/Physics used to generate files) unique for all concatenated files, however, random_seed is a per-file information that needs to be saved and we are not sure what is the best way to save it. Maybe the best op

[2020-04-06 15:37] gonzaponte commented on #715
How about adding a `sub_event_id` column? We would need to add some stuff to deal with MC and data separately and transparently, but it sounds feasible.

[2020-04-06 16:05] jmalbos commented on #715
There may be cases (e.g. mixing of background events from different sources) in which not only the random seed but also other configuration parameters could be different. It may be simpler to copy all the configuration tables, labelling them with a  _subrun_ tag (or something similar).

[2020-04-07 10:00] andLaing commented on #715
I think that this is something that needs to be solved in the medium term but I'd propose a staged approach since we really need to get PR #693 completed so that the integration of the detector simulation code isn't delayed too much.

I think we need to come up with a more general solution (please keep suggesting here) but I'd propose a minimal protection in PR #693 so that the configuration info

[2020-04-07 10:14] jmalbos commented on #715
This would handle well the event splitting in _detsim_, and events from the same MC production (which have by construction different event ids) could be processed with no issue as part of the same run.

A possible problem would be the event mixing from different MC productions, e.g. what was being done for the mixing of different background sources (@msorel, @paolafer: are we going to continue doi

[2020-04-07 10:34] msorel commented on #715
We will continue mixing MC events, yes. In case it is relevant for this discussion: until now we have  mixed events at the nexus level, and went through al other processing steps only for the mixed files and not for the single-source files. We want to change this, allowing for mixing files at  different stages of processing. We have not decided yet if mixing post-irene, post-esmeralda or what.

Co

[2020-04-07 10:59] paolafer commented on #715
This is what we're doing now: we're doing the gymnastic of not having repeated event IDs across the full background production, is that right, @msorel ?

About the `configuration` table when merging files, I agree with Justo that there may be more parameters that differ from one file to another one and we may not be able to foresee them now. I understand that if we saved the configuration table of

[2020-04-22 10:23] andLaing commented on #710
I think this was addressed and merged by @MiryamMV in PR #712 so I'll close.

[2020-04-22 10:23] #710 closed, assigned to nobody

[2020-04-24 13:08] andLaing commented on #715
I was thinking about the implementation necessary for the long event splitting and I kept hitting mental or physical blocks. The idea to put a sub-event number made sense but I hit a problem when I got to the output of irene where the pmaps are indexed according to event number. Without adding quite a lot of complexity I couldn't think of a way to get the output non-repeating.

The only other, sub

[2020-04-24 13:21] gonzaponte commented on #715
What should Irene do: merge subevents into a single event or store each subevent separately?

If Irene merges subevents into a single one this complexity should go away, I think.

I also thought of that, it is not terrible, but I agree it is not optimal. I don't know if we can also encounter precision problems...

[2020-04-24 13:26] andLaing commented on #715
No, nexus simulates all the activity coming from, for example, a muon and records the times that energy was deposited or sensors recorded photons. In detsim we want to be able to recognise events which would be two or more triggers in the detector and split accordingly into subevents. These subevents need to be treated as independent entities by the processing as in data that would be the case. We

[2020-05-15 17:39] andLaing opened #718 "Gaussian noise for hypathia PMTs"
As agreed in the discussion of PR #646 we'd like to add some electronics noise to the PMTs in hypathia runs.

Volunteers?

[2020-05-17 09:41] jmalbos commented on #718
I volunteer.

[2020-05-20 13:42] andLaing commented on #715
I started to have a look at a version of IC that could read events with (evt_number, subevt_number). It's a bit fiddly but it might be an ok starting point. Have a look if you can: https://github.com/andLaing/IC/tree/new-run-table

[2020-06-20 07:41] jacg commented on #461
Has Git LFS solved this particular problem?

[2020-06-27 16:46] #552 closed, assigned to nobody

[2020-07-09 10:52] gonzaponte opened #730 "XYpeak in Penthesilea"
The hDST contains two columns `Xpeak` and `Ypeak` that are meant to give a center of gravity of a given S2 signal in XY. However, the current implementation is not very helpful. The algorithm used is the barycenter, without any thresholds. @Aretno claims that this configuration is not reliable as many spurious SiPM hits shift the reconstruction away from the "true" value. On the other hand we have

[2020-07-09 11:06] gonzaponte opened #731 "Keep file information when loading many files"
Currently, our concatenation operation on dataframes doesn't remember which rows came from which file. It would be nice to keep this information. This is easy to do in by just modifying `load_dsts`. However, the design of the output is not obvious. We could
1. Simply add a column with the file name. This is the simplest solution, but it adds a lot of noise and unnecessary data to the dst. Large ds

[2020-07-09 11:15] Aretno commented on #731
I would go for option 3. doesn't seem that much of an annoyance.

[2020-07-12 21:39] jmunozv commented on #731
I agree with Ander. Option 3.

[2020-07-13 09:45] Aretno opened #732 "Filter events where energy correction is not possible?"
Hi there,

there are some events arribing at Beersheba that have all Ec values as NaN. This is a bit troublesome for beersheba as it applies deconvolution properly (just uses Q values) but ends up assigning energy as 0 when using the Ec values. Thing is, what do we do with these events. I guess they are not useful anyway (as they escape the correction map validity region) but I'm unsure how to pro

[2020-07-13 13:28] gonzaponte commented on #732
Option 2 seems more appropriate to me. The flag introduced in option 1 is very easy to calculate on the fly, isn't it?

[2020-07-13 14:21] paolafer commented on #732
This case should be very rare, because usually Kr maps are defined all over the detector volume, but still it could happen. The events I've found come from the fact that we're using Kr maps built with lower radius than the full detector. Still, we can find ourselves in a situation like this, and I think it's better to add a protection in Beersheba, rather than let the user deal with it when runnin

[2020-07-13 14:26] paolafer commented on #732
The only problem would be if we want to reconstruct events that have some NaN EC values with Beersheba, such as muons, as @mmkekic pointed out. Is it possible to summon pau and ask him if he thinks that it will be the case in the future?

[2020-07-13 14:43] Aretno commented on #732
@mmkekic pointed to me that indeed there is a flag for out of map events, however there are a couple things that do not suit all cases:

- The flag is in the Summary table which only contains information for events that pass the paolina reconstruction. Given the difference between Qmin in beersheba and classical paolina, we could have events missing in the Summary table which would make the use of

[2020-09-08 09:29] gonzaponte commented on #691
In order to coordinate the PRs, please agree on a common folder for the code that doesn't belong in the cities folder and move your code there (just before the PR is merged, don't do it in between other commits).

[2020-09-08 12:12] andLaing commented on #691
In PR #737 I put the new functions in a folder `detector_simulation`. If everyone's happy with that we could use it. If other PRs are accepted before it it'll make things a bit more awkward but it shouldn't be a big problem.

If that name's a bit verbose we could change it in all.

[2020-09-08 12:33] gonzaponte commented on #691
Both `detector_simulation` and `detsim` look good to me. I think the detsim name is pretty well known among the software people and it is shorter, which may be nicer to see, but I don't have a strong opinion. Whatever you decide. But I would like all PRs to share this folder before merging them.

[2020-10-21 13:31] andLaing commented on #715
Hi everyone. I recently came back to thinking about this issue as I'm starting to hit some walls (semi)related to this in the analysis of cosmogenic backgrounds. The attempt I made to solve the problem (in previous comment) involved a lot of changes to IC and was quite fiddly. I thought about some possible alternatives, it'd be good to have some comments on them or other suggestions which could be

[2020-10-21 14:01] msorel commented on #715
Hi @andLaing , without having thought too hard on it, looks also to me that  2 is better, so that code downstream is untouched. Basically anything  that falls outside the event time window defined in detsim/bufferization gets a new event id.

I am not sure I understand what you mean by "structured as 000", though. Can you explain?

[2020-10-21 14:04] andLaing commented on #715
Sorry, the example didn't render, I've fixed it in the original comment.

[2020-10-27 16:37] mmkekic opened #749 "Rethinking post-penthesilea production"
Since Beersheba hits are being used for track reconstructions, we need official code that runs paolina algorithm on Beersheba output. The code is already in Esmeralda and this is a matter of organizing different  _pipes_.
As a reminder current algorithm  is:
 - Esmeralda : input uncorrected Penthesilea hits; output corrected naive hits (2 charge thresholds); tracks-related variables
 - Beersheba :

[2020-10-27 16:55] mmkekic commented on #749
I removed the poll since it was confusing, so please comment

[2020-10-27 17:24] msorel commented on #749
Hi, as I said in the meeting, 1 probably sufficient  in short term, as we are still applying  xyz energy corrections using pre-deconvolution hits. Up to upcoming bb2nu first paper I guess we will do this.

For long term, beyond this paper, I think we should compute xyz corrections to energy after hit deconvolution. I think it can actually improve our  energy resolution, as we correct the energy re

[2020-10-28 07:28] paolafer commented on #749
Given the experience with Esmeralda, I'm a bit reluctant to formalise code while still testing it; I'm afraid that we can end up doing a lot of work and then stopping using it shortly after. Maybe the best option would be to make the code as modular as possible, for instance, extracting from Esmeralda the hit correction and  tracking functions, in such a way that they can be used anywhere else, an

[2020-10-28 09:03] Aretno commented on #749
Hi,

first, I think Pau's point about being able to have a fast reconstruction pipeline is really strong. As he pointed out, deconvolution is going to be considerably slower than the current scheme and, if we limit the energy corrections to that point, it will prevent us to check runs as instantaneously as before. This will be important not only for day-to-day operation but also in NEXT100 commiss

[2020-10-28 10:20] pnovella commented on #749
Hi all,

On 28/10/20 10:03, Aretno wrote:

I also agree with Paola and Ander.

In particular:

1) I think for the rest of the operation/analysis of NEXT-White we
should keep as reference the "standard reconstruction"
(penthesilea+esmeralda, current versions). This will allow for
comparisons with deconvolution-based studies. The current scheme also
provides a "fast" reconstruction and energy calibr

[2020-10-28 11:57] mmkekic commented on #749
Ok, so the decision is that for now we leave Esmerala input and output as is, and make tracking city (urgent) and energy corrections pipe (not urgent).

As a first (and the simplest) step we only need tracking city since Beersheba is using Esmeralda output for now. I believe all readers  already exist, and the part of tracking can simply be reused from Esmeralda. Hence, a volunteer (@ausonandres ?

[2020-10-28 13:13] jacg commented on #749
Music to my ears.

Carry on.

[2020-10-28 13:43] jjgomezcadenas commented on #749
Music to my ears too.

I propose Isaura for the tracking city.

[2020-10-29 17:33] andLaing opened #752 "Generating MC timestamps"
In the past we've tended to set the timestamp required information in the Run tables to zero for all events in MC runs. This is not ideal if we want to be able to study tagging of muons or other time related vetos in the future.

We should probably generate time stamps based on some user configured trigger rate to allow for more data-like vetoing in these cases. This should be simple enough to imp

[2020-10-30 12:33] ausonandres commented on #749
Sorry I didn't say anything, but I already started doing this.
There is one issue that I'd like to comment: in my opinion this tracking city after Beersheba should output kdst information as well, since it's interesting to have access to some variables, particularly ``nS2``  (it's used for the analysis), however Beersheba's output doesn't contain this table. For the time being, should we just leav

[2020-10-30 14:10] Aretno commented on #749
I actually agree, my bad for not putting it since the beginning. We should probably add it now as it would just be adding one line or two to the code (basically import the writer from esmeralda and add it to the pipeline). If agreed by everyone I'll proceed and do this on monday.

In case this is not done; don't you have that kind (or at least equivalent) info on the Summary table? That is current

[2020-10-30 14:43] ausonandres commented on #749
Not now, in summary table it is basically contained the position of the different events and a few more magnitudes event-related (energy, number of tracks, number of hits and charge), but not number of S2 signals.

[2020-11-19 17:18] mmkekic commented on #752
After some thoughts I believe this is fairly easy, one should just relate time with nexus `event_number`, so the timestamp should simply be
`rate*nexus_evt_number + random(rate)` ensuring that is only positive, or course.

[2020-12-16 15:48] jacg opened #762 "mark.feetest warning"
The tests currently always issue a warning

[code]

Does anyone know what the purpose of this mark is?

In any case, this should be corrected or removed.

[2020-12-18 14:19] mmkekic opened #763 "Travis changes"
Travis is completely moving to travis-ci.com domain as given in the notification:

I guess the owner of a repository Dr @jmbenlloch would need to fix our travis account. This might also be related to Travis not being built for PR #761.

[2020-12-18 14:21] jacg commented on #763
We should probably think about switching from Travis to GitHub Actions, anyway.

[2020-12-18 14:30] mmkekic commented on #763
Hmm, seems GitHub Actions allows for up to 2000 minutes a month for private repositories for free, this could be interesting for nexus as well  @paolafer , @jmalbos ?

[2021-01-11 17:06] jmbenlloch commented on #763
I have transfer our repositories from travis-ci.org to travis-ci.com. I have also manually [triggered a build of the master](https://github.com/next-exp/IC/runs/1681743874) and [the latest PR](https://github.com/next-exp/IC/pull/764#partial-pull-merging), both of them worked.

Everything seems to be working now. I have updated the required status check for our PRs, now it is called "Travis CI - Pu

[2021-01-19 17:51] #762 closed, assigned to nobody

[2021-02-05 15:36] jmunozv opened #771 "Get Event Numbers from MC files"
Currently, this action is implemented in `invisible_cities.io.mcinfo_io.get_event_numbers_in_file(...)`

For simulations with the new nexus persistency format, it is extremely slow. As an example, to get the list of the 4 event_ids contained in a NEXT100 bb0nu full simulation file takes almost 1 second. The reason is that this function checks 'hits', 'particles' and 'sns_response' tables to look f

[2021-02-10 12:41] jacg opened #773 "Review skipped and xfail tests"
We have accumulated a bunch of skipped and xfailing tests and I suspect that everyone has simply forgotten about them, and ignores them as minor noise in the test output.

We should do a thorough review of each and every one of them to see whether they can/should be fixed or removed or whether they are indicating some significant problems that we are ignoring.

[On a tangentially related issue: we

[2021-02-10 17:13] #752 closed, assigned to MCruces-fz

[2021-02-15 16:06] jmbenlloch opened #774 "Singularity container for IC and Nix"
# TLDR

I have been trying to run IC using Nix and singularity without any success for several days. There is a fundamental problem related to how singularity works that I do not know how to solve. I think a good solution will be very difficult to achieve.

# Extended version

[Singularity](https://sylabs.io/guides/3.7/user-guide/introduction.html) allows to create containers with all the software

[2021-02-17 11:47] jacg commented on #774
Hmm, I haven't had the time to digest all the details you report, but I wonder whether we would get better mileage by turning this process inside-out.

Nix provides a `buildImage` utility for both Docker and Singularity. So perhaps it would be better to use Nix to build Singularity images containing IC, rather than trying to get Singularity to contain Nix.

As you noted, Docker is more well-known

[2021-02-17 16:48] jmbenlloch commented on #774
I will have a look at that, it will probably be a better option than what I tried.

That would be very convenient. I'm not sure of what are the requirements for a nixpkgs definition but I will try to find out.

[2021-02-17 17:00] jacg commented on #774
Best talk to me about it.

[2021-02-18 14:25] jmbenlloch commented on #774
There is one thing unclear to me about `nixpkgs`. Are they required to be updated in the [official repository](https://github.com/NixOS/nixpkgs/)? For our productions we need to be able to produce Singularity containers for any version of IC from any fork, not just from official releases. If one of our developers creates a new branch in his fork of IC, he must be able to produce a singularity cont

[2021-02-18 14:48] jacg commented on #774
If you want the package to be downloadable via the standard channels, then you have to submit it to the official repository. (IC, being not at all interesting to the general public, would never be accepted to the official repository.) But there are numerous ways of using Nix derivations (essentially, Nix-speak for packages) which are not  in the official repo, including but not limited to

+ using

[2021-02-23 13:21] mmkekic commented on #763
Resolved by #768

[2021-02-23 13:21] #763 closed, assigned to nobody

[2021-02-23 13:39] mmkekic commented on #691
Closed by approving final parts: #742 and #769

[2021-02-23 13:39] #691 closed, assigned to andLaing, jahernando, gonzaponte, jerenner

[2021-03-08 14:10] #730 closed, assigned to nobody

[2021-03-24 16:30] gondiaz opened #779 "Avoid shape mismatch in buffy with inconsistent sensor ids"
Buffy source function
https://github.com/next-exp/IC/blob/a747d537c3ac0e38505b256ec85b60740f114e60/invisible_cities/cities/components.py#L349
reads sensors responses from nexus files. These sensor responses are not divided in PMTs or SIPMs, but they are labeled by the Sensor ID number. Ideally, this number from nexus should correspond to SensorID from IC database. If it is not the case, a buggy be

[2021-04-14 15:52] mmkekic commented on #704
Reviving the issue! @MCruces-fz  has volunteered to help with IC documentation.
I believe that the documentation would ideally be done in a style:

- overview of the module
- description of algorithm with possible plots/formulas
- technical description of functions/classes with examples

I'd start from high level functionalities that are more likely to be used by someone not familiar with IC,
but

[2021-04-14 16:32] gonzaponte commented on #704
Also, some cities have a description in the docstring at the top of the file. It might be helpful.

[2021-04-14 17:38] jacg commented on #704
Classes? Are there any of those left? Quick, get rid of them! :-)

@jjgomezcadenas understands the high-level structure and the interrelations of the parts much, much better than I do. I'm only really qualified to comment on some of the mid-level structure, essentially how/why to express things in dataflow. Lower-level details (such as implementation choices or strategies of various algorithms) ar

[2021-05-13 12:17] mmkekic opened #792 "Buffy/detsim max_time and buffer_length"
Parameter `max_time` in both buffy and detsim might be confusing, it is the maximal length of the event that will be taken into account starting from the first detected signal, all signals after that are simply lost.
As is now, it is possible to set that parameter to any value unrelated to buffer length. I would suggest that in case user given `max_time` is smaller than user given `buffer_length`

[2021-06-16 10:49] #792 closed, assigned to MCruces-fz

[2021-08-30 15:30] gondiaz opened #800 "Wrong dst loading in city sources"
City sources whose input is a dst-like dataframe have the following structure (see for example `cdst_from_files` or `hits_and_kdst_from_files`)

[code]
where load_dst is the function in `io.dst_io`.  Nevertheless, `load_dst` function outputs a warning in the case of a `NoSuchNodeError` and therefore the intended behaviour of the `try-except` clause in the city source is wrong.

[2021-08-31 13:20] mmkekic commented on #800
I'd say that whoever takes this over should also revist all 3 readers since they are all some subset of generic `dst_from_files`. If there is a need to fix the behaviour fast the 2 options are to either catch a warning or upgrade it to error for this scope

[2021-09-01 09:46] gondiaz commented on #800
I have proposed a solution in PR #801 which involves removing `NoSuchNodeError` from `load_dst` function. I found it the most natural approach since if a file does not contain the node you are requesting, you get an `Exception` instead of a `warning` which is more error prone.

It might be that your file is wrong and does not contain the node (or you are wrongly requesting a node which is not incl

[2021-10-18 14:36] gonzaponte opened #805 "`make_tracks` does not use `contiguity` argument"
Its value should be propagated to the relevant function calls.

[2022-02-08 14:36] gonzaponte commented on #800
Solved in #801

[2022-02-08 14:36] #800 closed, assigned to mmkekic

[2022-02-08 14:52] gonzaponte opened #811 "Generalize the waveform writer to store floats"
Currently the rwf writer stores data as int16. This is the correct option for the raw waveforms, but not for the corrected waveforms. We haven't been using Isidora enough to realize this, but the data it stores is (silently) cast from float64 to int16, which is not the correct behavior.
I propose that the rwf writer stores int16s by default, but with the option of switching to floats*. This way, w

[2022-07-01 15:28] gondiaz opened #822 "Add MC info in kdsts"
The title is self explanatory, MC info is currently not saved to kdsts which might be usefull for example to study the performance of position reconstruction or efficiency at large radius.

Hist: just check how MC info is added in other cities

[2022-10-21 10:51] #531 closed, assigned to nobody