[2016-12-23 09:55] jacg opened #31 "Module names do not conform to PEP8"
[PEP8](https://www.python.org/dev/peps/pep-0008/#package-and-module-names) suggests that

advice which IC does not follow at present. If we are going to follow this advice, we should probably make the change before opening up the repository to the rest of the team.

[2016-12-23 14:48] jacg opened #33 "RuntimeWarnings in test_rebin_wf2"
In Python 2 `test_rebin_wf2` typically gives 3 `RuntimeWarning`s; in Python 3 the same test typically gives about 100 such warnings!

This could well be a symptom of a failure to deal correctly and completely with the differences in division between Python 2 and 3.

In any case, someone who understands what the test tries to achieve should

1. figure out whether these warnings are a symptoms of a

[2016-12-23 15:37] jjgomezcadenas commented on #31
OK for me. Shall we prepare a list of modifications needed?

[2016-12-23 15:42] jjgomezcadenas commented on #33
I can look into this.

[2016-12-23 16:08] jjgomezcadenas commented on #33
Can you tell me how to generate run time warnings?

[2016-12-23 16:20] jacg commented on #33
`pytest -s`

By default pytest captures standard output, and only presents it for failing tests, along with their failure reports. The `-s` option is a shorthand for `--capture=no`

[2016-12-23 16:28] jacg commented on #31
Not sure that we need a list, I would just create a branch and go for it.

As the module names change, the tests should point out what breaks, and thus guide you to what needs to be done. Then it's just a question of carrying on until

1. All modules have short, all-lowercase names,

2. all the tests pass.

It's on my TODO list, but about 2 hours from now I will be away from my computer for about

[2016-12-25 20:08] jjgomezcadenas commented on #33
issue is fixed now, solution in the upcoming pull request

[2017-01-02 23:10] jacg commented on #33
Fixed by commit bfcd897a1c843c381c696e309a79d20416a2c1b2

[2017-01-02 23:10] #33 closed, assigned to jjgomezcadenas

[2017-01-02 23:15] jacg opened #36 "Need to pick a licence for the code"

[2017-01-06 18:22] jjgomezcadenas opened #37 "Investigate matplotlib dependence in diomira_test"

[2017-01-06 18:24] jjgomezcadenas commented on #37
Tests in diomira_test.py should not need to import matplotlib but apparently they do. Investigate

[2017-01-07 11:54] jmbenlloch commented on #36
My proposal is to use the General Public License (GPLv3) which offers the four freedoms of the Free Software as defined by the Free Software Foundation, that is:

Freedom 0: The freedom to run the program for any purpose.
Freedom 1: The freedom to study how the program works, and change it to make it do what you wish.
Freedom 2: The freedom to redistribute and make copies so you can help your neig

[2017-01-07 22:27] jacg opened #42 "Automate extraction of version number from git in setup.py"

[2017-01-08 09:30] jjgomezcadenas commented on #37
The reason is as follows: diomira_test.py tests the Diomira class itself, which in turn has a couple of methods to plot waveforms and depends therefore of matplotlib. The dependence, thus, is justified.

[2017-01-08 09:30] #37 closed, assigned to jjgomezcadenas

[2017-01-08 09:31] jjgomezcadenas commented on #31
Done. Names in IC modules should now follow PEP8 standard.

[2017-01-08 09:31] #31 closed, assigned to jacg, jjgomezcadenas

[2017-01-08 09:34] jjgomezcadenas commented on #36
Not totally sure. Is there something that say, "non commercial use" (although not clear how this can be used for commercial use, think for example on a version of this code useful for PET reconstruction). Also, the question of credit is important. Who is the owner of this software? us? NEXT? unclear to me. Can we investigate a bit what people do in other fields?

[2017-01-08 10:58] jmbenlloch commented on #36
-GPL allows commercial use, the only thing is that you will have to distribute the source code as well.
-If you develop a derivative product based on IC you will have to distribute it under the same GPL license.
-If you develop a software that uses IC as a third-party library, you will also need to distribute your software as GPL. If you don't like this point, there is another version called Lesse

[2017-01-09 14:16] jjgomezcadenas opened #44 "Describe the "standard branch-fork-main-repository" development cycle"
I would like to document the standard sequence that a developer will follow to implement his contributions to the main repository. Here is the flow (tentative).

1) Developer opens a branch in his local (dev-branch)
2) Developer commits a sets of changes to dev-branch, until the task she has set to do is completed (n commits to dev-branch).
3) Developer squashes commits to n1 < n (offen n1 = 1), t

[2017-01-09 16:18] jjgomezcadenas opened #46 "investigate documentation tools, choices and structure"
We need to add a /docs directory to the repository. Proposal is to add it at the top level (next to invisible_cities), possibly with some extra sub-structure (such as /cities, /analysis, /core, etc.)

Open questions:
1) JJ argues that adding clean, well structured jupyter nb as docs is OK and good.  They need to be reviewed anyway, before entering repository.
2) Are we using Sphinx for docs? Any o

[2017-01-10 13:36] jacg commented on #44
My [``contributing`` branch](https://github.com/jacg/IC/tree/contributing) adds a `CONTRIBUTING.md` file which tries to address this, as well as a broader description of what is expected (tests!)

I was going to propose that JJ, JM & JG (a.k.a @jjgomezcadenas, @jmbenlloch and @jacg) hack on this (with pulls and pull requests) outside the `nextic` repo, in our own forks, before submitting a PR for

[2017-01-10 16:55] jacg opened #51 "Write tests for `diomira_run.py`"
Bugs crept into this file in #48 because no tests seem to exist for it!

[2017-01-10 22:59] jjgomezcadenas commented on #51
diomira_run.py was obsolete and has been deleted

[2017-01-10 22:59] #51 closed, assigned to jjgomezcadenas

[2017-01-10 23:02] jjgomezcadenas commented on #46
Further thinking leads to the proposal that we should keep an independent NB repository (already available in nextic) for NB docs. Documentation with Sphinx or similar tools can go into the IC repository

[2017-01-11 14:53] jacg opened #62 "JJ really should push his ssh key to github"
Do it now!

[2017-01-11 16:02] jacg commented on #62
I witnessed it with my own eyes!

[2017-01-11 16:02] #62 closed, assigned to jjgomezcadenas

[2017-01-11 16:07] jacg commented on #44
The branch has been renamed to `docs.contributing`, and the preliminary draft has been merged into the main `nextic` repo, so that the flood of new contributors to whom we are about to open the doors have something guidelines to work with. Nonetheless, much work remains to be done, including:

- Polish the existing text.
- Provide the git CLI version of the instructions.
- Talk about the `manage.s

[2017-01-12 09:26] jjgomezcadenas commented on #44
This is done in CONTRIBUTING.md.  Although it can be refined and expanded, the bulk of the work is done, I believe the issue can be closed.

[2017-01-12 09:26] #44 closed, assigned to jacg, jjgomezcadenas, jmbenlloch

[2017-01-12 09:31] jjgomezcadenas opened #66 "New directories in IC"
I would like to expand the IC directories to include analysis in the following way:

one directory for calibrations /calib
one directory per relevant analysis. Thus, rather than sticking everything into /analysis, I prefer that each analysis main topic has its own folder. Right now we can already define /kripton /na22 and /co56. We can choose between invisible_cities/analysis/kripton or invisible_

[2017-01-12 09:58] jmbenlloch commented on #66
I think the other approach is better (having invisible_cities/analysis directory). It doesn't seem arbitrary to me, but a meaningful structure, in that way we keep things more organized. In any case if you already have the README files ready, you can make the pull request and we can see what kind of things do you expect to be there and how related the different analysis may be.

[2017-01-12 10:03] jjgomezcadenas commented on #66
It is true that the different analysis will have correlations. For instance, the na22 and co56 analysis may use the kripton geometry maps, but I think the correlations are weak and well defined.

True, adding an /analysis directory keeps the top level of invisible cities rather clean.

What is the opinion of the Jedi?

[2017-01-12 10:45] jacg commented on #66
I would prefer not to pollute the top-level directory too much. I am not in a position to judge just how much these different components will have in common. From the directory structure perspective it is not all that important how much they have in common in terms of code, rather whether they conceptually do similar things. From my naive perspective I would propose that they all go into an `analy

[2017-01-12 10:56] jacg commented on #66
And, in English, krypton is spelt with a Y.

[2017-01-12 12:45] jjgomezcadenas commented on #66
Thus, analysis it is by two votes to one (is there a pattern here?) :)!

[2017-01-12 12:45] #66 closed, assigned to jacg, jmbenlloch

[2017-01-12 12:55] jacg commented on #66
Looks more like by 2.5 votes to 0.5, by my reading of the thread.

We need more data.

[2017-01-14 00:34] jjgomezcadenas opened #71 "script manage.sh behaves in an unexpected way in Mac OS X"
source manage.sh c

Unrecognized command: c

Usage:

source -bash install_and_check X.Y
soruce -bash install X.Y
source -bash work_in_python_version X.Y
bash -bash make_environment X.Y
bash -bash run_tests
bash -bash compile_and_test
bash -bash download_test_db
bash -bash clean
Saving session...
...copying shared history...
...saving history...truncating history files...
...completed.
Deleting exp

[2017-01-14 00:42] jjgomezcadenas commented on #71
The error reported is no longer there, I was looking at the wrong fork. But there is still something that does not work completely well in the Mac

IC$ source -bash install_and_check 3.5
-bash: source: -b: invalid option
source: usage: source filename [arguments]

[2017-01-14 00:44] jjgomezcadenas commented on #71
Sorry again, wrong paste:
source -bash manage.sh install_and_check 3.5
-bash: source: -b: invalid option
source: usage: source filename [arguments]

[2017-01-14 00:44] jjgomezcadenas commented on #71
In other words, it appears that source --bash manage.sh does not work in OS. source manage.sh works

[2017-01-14 09:07] jacg commented on #71
Well, yes, the only 2 valid options are

1. `source manage.sh <command> [arg]`
2. `bash    manage.sh <command> [arg]`

The problem is that the usage message suggested nonsense (replacing `manage.sh` with `-bash`), and you believed and copied the nonsense.

I do not have access to OS X here, so please check that the upcoming PR really solves your problem before accepting it.

[2017-01-14 09:40] jjgomezcadenas opened #73 "Add Jupiter notebook to environment in manage.sh script?"
I suggest that we could add jupyter notebook to the environments defined by manage.sh. Most users will eventually work with notebooks and adding the environment in manage.sh avoids that we need to add it later, when they want to run the notebook.  In this way, when they work in the NB repository they will only need to define an extra environment variable (ICNBTDIR) (to make the references to their

[2017-01-14 10:09] #71 closed, assigned to jacg

[2017-01-14 10:14] jjgomezcadenas commented on #73
To be specific, I believe that most IC clients will work in analysis. They still need to activate the IC environment (bumpy, sicpy, matplotlib, etc) as well as PYTHONPAT  in to be able to import functions in IC to their NBs. So the IC clients (who are also eventually IC developers) will, anyway, run manage.sh before they go to their NB repo and start to work.

Now, to work with the notebooks they

[2017-01-14 10:29] jacg commented on #73
`ICNBTDIR` is really getting too cyptic. Something like `IC_NOTEBOOK_DIR` would be better.

If I understand you correctly you want the following two changes

1. Add jupyter to the conda envs created by `manage.sh`
1. Decide on some directory name where the notebooks will go *inside* `$ICTDIR` and make `IC_NOTEBOOK_DIR` point there.

Is this correct?

In the meantime let's see how much [my jupyter

[2017-01-14 10:30] jacg commented on #73
BTW, rather than starting an issue, you could create a branch, maybe even with a pull request: code sometimes communicates more clearly what you mean that prose.

[2017-01-14 11:06] jjgomezcadenas commented on #73
1) What about NBDIR?
2) Yes, I suggest to add Jupyter to the conda envscreated by manage.sh
3) NO, I don't want the NBs to live in IC. We have in nextic a second repository, called Notebooks, which can be forked by people, fully devoted to Notebooks.

The work flow for developers then would be.
1) run the manage.sh script to activate their python env and variables.
2) if they want to work in IC (s

[2017-01-14 11:21] jjgomezcadenas opened #74 "Two small changes in manage.sh"
Here is a proposal for two small changes in manage.sh (I can do them, but let's agree that this is OK first).

1) in function ic_env

    echo setting PYTHONPATH
    export PYTHONPATH=$ICTDIR:$PYTHONPATH

has the side effect that each time the script is executed (and it can be executed many time in the same region) the variable PYTHONPATH grows (although it points always to the same place, e.g, th

[2017-01-14 15:27] jacg commented on #74
Then assign yourself, not someone else!  Attract people's attention with `@username` anywhere in the github comment.

Agreed.

Good idea (as long as the names actually match on the two lines :-)

Now, it would be nice if we could deactivate the non-conda part of the IC environment (analagously to conda deactivation). In practice, I don't think it's worth our time to do this: 99.9% of the time we'l

[2017-01-14 15:34] jacg opened #75 "Provide emacs init file for non-emacsers to automate installation of magit"
This should automatically download and install magit and helm on first use, and set sensible default key bindings etc.

Should probably be based on JJ's `el-get` init file that we created yesterday.

I guess that it should live in the (still non-existent) documentation directory.

[2017-01-15 09:20] jjgomezcadenas opened #76 "Diomira speed"
We have now a rather stable version of DIOMIRA which runs at ~0.5 events/second in a fast processor (I-7 at 3.1 GHz) on MacOS X.

I propose to investigate:
1) dependence of speed with system (e.g, LinUX,  lxplus machines at CERN)
2) dependence on compressor parameters. Currently RWF are 150 kb per event with ZLIB4 and MCRD files are 110 kb per event. Any major speed gain if we decrease a bit compr

[2017-01-15 15:21] jmbenlloch commented on #76
For the Kr run at CERN I have run over 92 files, 10k evts/file, and this are the times in seconds registered:

min: 7394
max: 17870
avg: 10877.076087
std: 1950.35533682

So, we have 1.08 +- 0.2 s/evt at CERN. All those 92 jobs have run concurrently, therefore we can have ~1Mevts in ~3 hours.

[2017-01-15 18:48] jacg opened #78 "Create a bash command argument completion file for `manage.sh`"
Our `manage.sh` script is acquiring (#77)  a large number of long and inconvenient to type command arguments. It would benefit immensely from completion help from the shell. I get the impression that most of us are using `bash` or some derivative. Let's provide a file which teaches `bash` how to complete `manage.sh`'s arguments for us.

How this can be done seems to be described [here](http://www.

[2017-01-15 18:53] jjgomezcadenas commented on #78
Earth talking to Galactica. I hear that Capitan JJ won't do it. I guess admiral JCK is busy next couple of weeks. Shall we assign democratically to lieutenant JMB?

[2017-01-15 19:08] jacg commented on #78
Get in the habit of @-mentioning people who you want to read the message. In this case mentioning @jmbenlloch would have been a good idea.

I suggest that he assign himself, if he feels like taking it on. Otherwise, it can sit there in the list of issues until somebody takes pity on it, or someone thinks it needs to be given a higher priority. It's possibly not of the highest priority at the momen

[2017-01-15 19:11] jjgomezcadenas commented on #78
Ay, Ay, sir!

As for JM he is sitting by my side, so he has taken notice! And he is assigning himself to the task. He is indeed pretty busy, but also pretty fast, so no worries.

[2017-01-15 19:35] #73 closed, assigned to jacg

[2017-01-15 19:35] #76 closed, assigned to jmbenlloch

[2017-01-15 20:46] jacg commented on #73
Far too cryptic. How about `IC_NOTEBOOK_DIR` ?

[2017-01-15 21:20] jjgomezcadenas commented on #73
We have already taken NBDIR and written diomira.ipynb using it. I like NBDIR better, because is concise (meaning obvious for me NB = notebook).

[2017-01-16 06:04] jacg commented on #73
The thing with such names is that they have to be obvious
- to everyone
- for all time
- in a broader context (e.g. when seen in the output of `env`)

and not merely

- their inventor
- 3 seconds after he invented it
- in isolation

You are injecting this variable into a single namespace in your shell's environment: Not identifying it explicitly as something to do with `IC` is a mistake.

[2017-01-16 08:00] jjgomezcadenas commented on #73
I still fail to get why ICDIR is OK and NBDIR is not OK. Sorry if I am too thick.

[2017-01-16 08:07] jacg commented on #73
Well, `ICDIR` is the **dir** in which **IC** stuff goes. While `NBDIR` is the **dir** where **N**ota **B**ene goes?

`ICDIR`'s major saving grace is that it contains `IC` to indicate that it has something to do with **IC**. I trust that you agree that, if these were python variables, you would stick them all in the same namespace. Shell variable names aren't namespaced, so we have to encode the na

[2017-01-16 08:10] jjgomezcadenas commented on #73
Ay, ay, sir.

I am changing everything to IC_NOTEBOOK_DIR.

[2017-01-16 12:31] #74 closed, assigned to jjgomezcadenas

[2017-01-16 12:33] jjgomezcadenas opened #80 "describe JCK-1"
We are effectively moving towards JCK-1 syntax, and the last PR tries hard to follow the JCK notions. However, if we are going to ask other developers to follow it, we need a description/discussion (with examples, that can be taken from the Irene.py code) to illustrate the most important ideas.

[2017-01-16 15:58] jmbenlloch opened #81 "Error in Irene"
I have run Irene on MC Kr at CERN, but 41 of the jobs had errors during processing. All of them are like this:

[code]

I have checked the logs to find a file in which the error appears soon, in particular with:

`lxplus.cern.ch:/eos/experiment/next/dataic/DiomiraMS/Kr/ic_dst_NEXT_v0_08_06_Kr_ACTIVE_7_0_7bar_MCRD_10000.root.h5`

The error occurs before event 200. The config file I am using is this

[2017-01-16 16:40] jjgomezcadenas commented on #81
There is something really funny… you are opening a MCRD file

But for Irene you should be opening a RWF file (the output of DIOMIRA)…

Notice that we don’t re-write RWF files in MCRD files any more…

[2017-01-16 18:55] jmbenlloch commented on #81
That is a naming mistake in my production script. The original hdf5 file from ART (MCRD) was dst_NEXT_v0_08_06_Kr_ACTIVE_0_0_7bar_MCRD_10000.root.h5, as you can see here:

[code]

The output of diomira is written with the same file name starting with "ic_". Therefore, the file I'm opening is actually an RWF:

[code]

I'll fix the name issue, but it should not be related to this Irene issue.

[2017-01-16 19:01] jacg commented on #80
It's not syntax. It's a style, or a guideline, but it's not syntax.

[2017-01-16 20:08] jjgomezcadenas commented on #81
Since Irene runs on data, the only reason I can come up with is a problem with vector dimensions in the MC (e.g, a badly conformed event). Can you isolate one event that fails, so that we can look at it?

[2017-01-16 21:15] jmbenlloch commented on #81
I have isolated in one hdf5 file one of those failing events. You can get the file here: http://jobenllo.web.cern.ch/jobenllo/irene_bug_Kr_ACTIVE_7bar_RWF.h5

[2017-01-16 21:24] jacg commented on #81
I trust that you gentlemen (@jmbenlloch & @jjgomezcadenas) are planning to write an automated test that indicates the presence of this bug, *before* fixing it! Assuming it really is a bug. And that you are planning on leaving the test in the repo once the bug is fixed.

[2017-01-16 21:30] jjgomezcadenas commented on #81
Ay, ay sir. I am not sure if the bug is a bug (in Irene) or a bug in the simulation (which may come from Diomira or upstream, from the simulation), but for sure, a test will be written!

[2017-01-16 23:51] jjgomezcadenas commented on #81
A very interesting case. The BLR waveforms are empty and the RWF are just “zero” (on top of the baseline shift). Can you find the same event in the MCRD file? I believe that the problem comes from NEXUS, not from Diomira, but we need to check.

If the problem is an “empty event”, as I believe, then Is easy to solve, we just need to impose that there is a minimum of energy in the PMTs before procee

[2017-01-17 09:58] jmbenlloch commented on #81
This is the same event before running Diomira: http://jobenllo.web.cern.ch/jobenllo/irene_bug_Kr_ACTIVE_7bar_MCRD.h5

[2017-01-17 16:19] jjgomezcadenas opened #83 "Analysis: argument in favor of independent repository"
The last couple of days have made obvious an important difference between the workflow in IC and in Notebooks, which can be summarised (simplified) like this:

In IC the developer "follows the main repository". This makes sense, since IC is primarily concerned about reconstruction, from low level objects to high level objects. This is done by chaining cities, and adding auxiliary functions to core

[2017-01-18 07:58] jacg commented on #83
I haven't found the time necessary to read and think about this. Can it wait until Friday afternoon?

[2017-01-18 08:00] jjgomezcadenas commented on #83
We can, but if you have the time we can also have lunch together…

[2017-01-18 08:02] jacg commented on #83
Yes, fine. 12 at the Training Centre, or 12:05 at Resto 2.

[2017-01-18 08:43] jjgomezcadenas commented on #83
12:05 resto 2

[2017-01-18 13:43] jmbenlloch commented on #46
I have tested sphinx in my fork. The idea is to have a doc/ folder containing one conf.py file for sphinx and as many rst files as we need for our documentation. This can also be linked to readthedocs.io, so we have a web like this http://ic-1.readthedocs.io/en/latest/ The documentation is recompiled for each commit automatically (we can also choose to have some "stable" versions).

I have made a

[2017-01-18 14:21] jjgomezcadenas commented on #83
Agreed: We create an analysis repository called ICARO.

[2017-01-18 14:21] #83 closed, assigned to jjgomezcadenas

[2017-01-18 14:28] jjgomezcadenas opened #85 "How to handle static html produced by NBs"
I have investigated a bit GitPages and does not appear to be a specially intelligent solution.

The reason is this: GitPages is yet another GitHub repository, with some tweaks to present pretty pages if the use wants to put the work on it. But they are still keeping the .html docs under GitHub!

Thus, using gitpages is not different conceptually from just uploading the html files to our repository

[2017-01-18 22:09] jjgomezcadenas commented on #85
See for example:
https://jjgomezcadenas.github.io/diomira.html

As you can see, the special GitHub repository associated with GitPages serves html files... but it is always through git. In this sense, I think that the most economic solution for us is to simply put the html files in a /doc folder and push them to the repository.

[2017-01-19 06:36] jacg commented on #85
No, *no*, **no**, NOOOOOO!

Unless you write these HTML files yourself. But given that these HTML files are generated products, they should not go in a repo. Repos should only contain source, not stuff which is generated from that source. Like all rules, there are times when this rule should be broken, but I am confident that, once I get some time to look at this, it will turn out that this is not

[2017-01-19 07:59] jjgomezcadenas commented on #85
OK! We wait for the Jedi wisdom.

[2017-01-20 09:35] jacg opened #88 "Should `manage.sh` be replaced with a makefile?"
If we can get `make` to work with the commands than need sourcing, then we should probably do it.

[2017-01-20 12:24] #78 closed, assigned to jmbenlloch

[2017-01-20 13:37] jjgomezcadenas commented on #85
Issue understood, html files will be recorded in an independent non.version controlled served (the Gallery).

[2017-01-20 13:37] #85 closed, assigned to jacg

[2017-01-20 13:45] jjgomezcadenas commented on #36
We have decided on an more liberal licence, probably MIT, BSD, Apache or similar. The idea is to maximise the number of users of this software.

[2017-01-20 13:51] jjgomezcadenas opened #89 "Describe management strategy for notebook input and output"
Notebooks produce html files (output) and consume data files (input). Neither data files nor html files belong to a version controlled repository. Instead they will be placed in an independent non-version controlled server baptised here forth as the gallery.  Document the details and the philosophy behind it.

[2017-01-20 13:53] jjgomezcadenas opened #90 "Structure of the analysis repository (anatomy of ICARO)"
The analysis repository (ICARO) will contain a number of essentially independent analysis (often but not exclusively based on calibration radioactive sources). Describe the organisation of the repository and the proposed workflow.

[2017-01-20 13:56] jjgomezcadenas opened #91 "Structure of the reconstruction repository (anatomy of IC)"
The IC repository will contain the reconstruction program of NEW/NEXT. Describe the structure and workflow on IC.

[2017-01-20 14:34] #75 closed, assigned to jacg, jjgomezcadenas

[2017-01-21 07:45] jacg commented on #88
Our `manage.sh` script serves as a single point of reference for how the IC components are installed, configured, compiled, tested and so on.

The problem with `manage.sh` is that it is a non-standard solution that smacks of NIH.

Being a python project, a `setup.py` is a rather obvious alternative. The problem is that it requires a pre-installed python interpreter, while one of the tasks that `ma

[2017-01-21 16:00] jacg opened #95 "Investigate why test_define_window crashes on Travis Linux"
It works on Travis OS X, it works on JG's linux machine, it works on JJ's Mac ... but core dumps on Travis Linux.

The test can be found in `invisible_cities/core/core_functions_test.py`.

It has been marked as `skipif` on Travis Linux.

[2017-01-21 18:52] jacg opened #97 "How do we want to distribute or package IC?"
At the moment we have a very simple `setup.py` which we invoke with the `develop` command in order to compile the cython modules. This relults in the products (not only the `.so` files which are the actual modules, but also the Cython-generated `.c` files, which are just intermediate garbage by-products) being placed in our source tree. This has served us just fine as an initial quick and dirty so

[2017-01-21 19:25] jjgomezcadenas commented on #97
Our first clients will be a “smallish groups of developers”. Jose Angel and students, Paola,  Josh and Alex. Perhaps 5 or 6 guys. On the other hand, IC is gonna become the official reconstruction in NEXT very, very soon, so I believe we must assume we are preparing this as the official NEXT software.

The software will be installed in Valencia (neutrinos) Canfranc, CERN and in the laptops of about

[2017-01-21 19:34] jacg commented on #97
How do we expect them to install the software for their use?

I assume that the majority of these will be users and will not contribute to development at all.

Just as well that we're building in Travis on OS X !

[2017-01-21 19:38] jjgomezcadenas commented on #97
As we did, install conda and then ran manage and setup. It is rather straight forward (nothing, really, compare with installing Art, which actually then can’t do in their laptops…)

[2017-01-23 17:18] jmbenlloch commented on #81
Solved by #98.

[2017-01-23 17:18] #81 closed, assigned to jjgomezcadenas

[2017-01-23 22:42] jacg commented on #95
By running the Travis Docker image on my local machine, I've got a bit more info on this. The problem seems to be in

    plt.hist(sgn, 50)

Just before aborting, it gives the message

    QXcbConnection: Could not connect to display

which seems to be related to running in a headless environment, and would therefore explain why we only see the problem on Travis. (So the Travis OS X machines aren'

[2017-01-24 09:10] #95 closed, assigned to jacg

[2017-01-24 10:35] jmbenlloch commented on #46
This is closed by #84.

[2017-01-24 10:35] #46 closed, assigned to jacg, jjgomezcadenas, jmbenlloch

[2017-01-25 11:51] jacg opened #106 "Investigate how plot functions might be tested"
Our code base contains functions whose purpose is to create plots. These are currently untested. Options include

1. not test them at all
1. ad-hoc test them, perhaps in notebooks
1. try to write proper automated tests

@jacg is to investigate the feasibility of option 3

@jjgomezcadenas please make a list of all such functions. (I would do it myself, but given that matplotlib is sometimes used in

[2017-01-25 13:57] jmbenlloch opened #107 "Manage.sh does not work in a Mac"
We have tried to install IC using `source manage.sh install_and_check 3.5` but `wget` is not installed, so miniconda is not downloaded and we cannot continue with the installation.

It seems that curl is available in Mac, we should check if it installed by default in both Mac & Linux, in that case maybe we should change manage.sh to use curl.

[2017-01-25 14:38] jacg commented on #107
I suggest that the script try one, and then, if necessary, the other. That way we further reduce the possibility of failure.

Just in case neither `wget` nor `curl` is available, then we should include an implementation of something equivalent written in pure `bash` in the `manage.sh` script :-)

[2017-01-25 17:39] jjgomezcadenas commented on #106
A simple possibility would be to add, for each plotting function (or group of functions) a notebook where the plot is illustrated. This is fast (the developer always tries the plotting function in the NB) and it has documentation value.

And YES, got message, decouple plotting from calculations! (old hand-ROOTED habits).

[2017-01-25 18:04] jacg commented on #106
Nope, that would be pretty ad-hoc. That's not what I'm after:

- Developers will not have the self-discipline or the time to do this regularly.
- Good luck persuading Travis to do it.

No, I was thinking more about mocking. Don't worry about it, it's something I have to look into when I have some time. (Though I'd be happy to talk to you about it in person. And it would probably help me to discuss

[2017-01-26 06:49] jjgomezcadenas commented on #106
As a matter of fact, I think developers will do whatever is agreed and reinforced. By the same token that they are expected to submit a test when they PR for a new function, they can be asked to submit a NB when they PR a new plotting function. And it turns out that in most cases they will have done it anyway, since they will necessarily try their plotting function in a NB (essentially 100 % of th

[2017-01-26 08:11] jacg commented on #106
This is most certainly **not** true.

I'm glad you brought that up ... because you yourself have not
submitted tests along with new functionality on occasion. Thus we have
experimental evidence directly falsifying your hypothesis above.

Furthermore, you yourself have failed to run the test suite before
submitting a PR, once again contradicting your claim above.

Pressing that `run-tests` button i

[2017-01-26 09:42] jjgomezcadenas commented on #106
This whole discussion shows that I like to discuss. I am sure I have a long road ahead toward perfection (who doesn’t except our Jedi?). I also think that testing plots is less of a priority for us than may other things, and I know for a fact, we are late and behind schedule in the targets I had in mind for development. Perhaps I was simply too optimistic. But I still dare to state my opinion.

Lo

[2017-01-26 10:51] jacg commented on #106
Which is excellent and much appreciated.

Your Jedi has a long way to go too.

[2017-01-27 17:04] jacg commented on #106
My `test.matplotlib` [branch](https://github.com/jacg/IC/tree/test.matplotlib) shows a brief outline. @jjgomezcadenas Please try it on your Mac, to see how the image compares there. On Linux, the python 3.6 version seems to put the y-axis labels a bit higher than in the older versions. I'd be interested to see if the same happens on OS X.

Also, the Agg-selection doesn't seem to be working, so it'

[2017-01-28 10:17] jjgomezcadenas opened #108 "Work flow in ICARO"
I am trying to document (and also to understand) the work flow for a "typical" developer working in ICARO (the analysis repository). Two important points are:

1) ICARO is a client of IC. This means that all relevant, general stuff (e.g, fitting_functions.py) developed while working in an specific analysis must be exported to IC (e.g, fitting_functions.py belongs to /core).

2) Does that mean that

[2017-01-28 12:39] jacg commented on #108
Yes, creating a PR would seemt to be the obvious way to go. My
impression is that these PRs would almost always add new content,
rather than changing old content, which means that there will be no
conflicts, which means that (with a decent porcelain) it's not that
much of a chore. Writing a decent commit message will be by far the
biggest part of the task, and this is something that I presume we

[2017-01-28 13:21] jjgomezcadenas commented on #108
Yes, I agree, it all depends on R.

My feeling is that most people in NEXT will be analysts. They will work in their own thing, and will eventually come up with useful functions of general interest. Only a few of us will work in both worlds. As the experiment progresses and more people joins, I think the situation will be more and more biased towards a majority of analysis people and a minority of

[2017-01-30 13:51] paolafer opened #109 "Error installing magit in Mac 10.10.2"
We have been trying to configure magit in Paola's emacs but it doesn't work. This is the error we are getting:

[code]

Any idea how to solve that?

[2017-01-30 14:06] jjgomezcadenas commented on #109
It may well be that Paola does not have the standard emacs 24, but some variant for the Mac OSX.

If you don’t have it, try this version:

https://emacsformacosx.com/ <https://emacsformacosx.com/>

And download last version (25).
J

[2017-01-30 14:14] paolafer commented on #109
We have tried in neutrinos and we get a similar error:
[code]

We are going to update emacs to the last version.

[2017-01-30 14:20] jjgomezcadenas commented on #109
Read the message! It says:

Try in your Mac (and in neutrinos) version 24.4 or higher (and in the case of MAC use the link I sent you).

[2017-01-30 14:47] paolafer commented on #109
In my Mac it works. @jmbenlloch  is going to update emacs in neutrinos.

[2017-01-30 14:49] jjgomezcadenas commented on #109
Good! Close issue then!

[2017-02-01 12:00] jjgomezcadenas commented on #106
Tried in the MAC, works fine. I agree, this gives us a way to add tests to plot functions.

Could you send a PR for this example? I think it is very useful and must be in the repository.

[2017-02-01 16:33] jacg commented on #109
Has this issue been resolved?

If so, please close it!

[2017-02-01 18:14] paolafer commented on #109
Not yet! We have to fix it in the neutrinos cluster.

[2017-02-01 18:15] jjgomezcadenas commented on #109
Yes, but the issue is the same, the version of neutrinos was obsolete, so the issue can be closed. Reopen if needed.

[2017-02-01 18:15] #109 closed, assigned to nobody

[2017-02-01 20:40] jacg commented on #106
Did you check whether it behaves consistently across all our supported python versions? (Our exchange on another issue leads me to suspect that you have not.)

While this is a nice idea, on my machine 3.6 gives slightly different picutres from 3.5 and 2.7. As such we get spurious failures. This will have to be fixed before being accepted.

Secondly, I seem to recall that there were problems with i

[2017-02-04 01:31] #42 closed, assigned to jacg

[2017-02-04 08:43] jacg commented on #97
If we expect the software to be installed from git, then I see two consequences

1. `setup.py` serves puerly to compile the code for the users, in situ, with the `develop` command: we never need build outside the source tree, we never need to create tarballs, eggs, wheels, or any other form of packaging and distibuting the code. This implies that I can remove my `build` branch.

1. We are doing co

[2017-02-04 09:10] jjgomezcadenas commented on #97
Master or release? We do not need release branch, but we still need master branch…

[2017-02-04 09:25] jacg commented on #97
Sorry, brain fart. Edited.

[2017-02-12 08:47] jacg opened #126 "Continuous delivery"
I would like us to state in writing what we have been saying off line:

**IC will be continuously delivered via the master branch in `nextic/IC`.**

Consequently, there will be no release branch, no release tags, etc.

Another consequence of this is that we must be *extremely* strict about keeping the master branch usable at all times.

Acknowledging this here should be enough for now, but eventua

[2017-02-12 09:28] jjgomezcadenas commented on #126
I find the idea of CD very attractive. However, does that prevent tags?

Tags may still be useful to mark the sate of the repository when a given production is launched, and thus I would use them associated to productions (not to releases). Does it make sense?
J

[2017-02-12 09:34] jacg commented on #126
CD doesn't prevent tags, it just makes them much less useful, but

Absolutely.

[2017-02-12 09:39] jjgomezcadenas commented on #126
OK! Perfect.

I wonder whether a “running development branch” makes sense to optimize the use of CD.

The scenario is as follows. CD implies, indeed, very strict revision before accepting PR to main. This may result in a situation in which development sort of “accumulates”. In fact, right now united-cities has become what I would call a “running development branch”, and the notion appears to be us

[2017-02-12 10:07] jacg commented on #126
It definitely benefits from development branches. The question is whether it benefits from having a single special development branach, or whether a number of longer-lived, shared feature branches (such as the current `city-united` branch) suffice.

I think that a `development` branch is useful for things that are being collected, ready for inclusion in the next release. With CD, as soon as it's r

[2017-02-12 10:10] jjgomezcadenas commented on #126
As a matter of fact, I was thinking more in the notion of “thematic, long-lived development branches” (a la united-city), so I think what you say goes in the same direction than my (rather thick) thinking…

[2017-02-19 13:28] jacg opened #128 "Test Irene._store_pmaps"
There is  (deliberate) bug in `Irene._store_pmaps` which in not picked up by any of our current tests.

+ [ ] Write a test that points out the bug.
+ [ ] Fix the bug.
+ [ ] Check whether the name can be used instead of the (magic) number.

[2017-02-19 20:20] jacg commented on #97
Conclusion: Continuous deployment via github. No packaging required.

[2017-02-19 20:20] #97 closed, assigned to nobody

[2017-02-21 12:10] jacg opened #134 "Record conda and pip package versions for reproducibility"
In order to be able to reproduce old runs, it is not enough to check out the particular version of IC with which the run was performed, but one must also ensure that exactly the same versions of packages installed with `conda` and `pip` (listed in the `make_environment` function of `manage.sh`) are used.

This means that we need an easy way to record and store the versions of such packages.

[2017-02-23 16:25] jacg commented on #107
#139 fixes this.

In the process we noticed that we do not handle 32 bit architectures, but we decided not to bother with that unless someone using one actually comes along.

[2017-02-23 16:25] #107 closed, assigned to jacg, jmbenlloch

[2017-02-23 16:49] jacg opened #140 "Command line completion on OS X does not work."
We need to investigate why Mac users experience problems with command line completion of `manage.sh` arguments.

[2017-02-25 11:15] gonzaponte opened #143 "Cities init method arguments"
We need to discuss whether it is more convenient for the cities constructors to list just their own arguments and take the ones belonging to the classes they inherit from as keywords or to list them all and make it more explicit.

[2017-03-01 09:44] neuslopez opened #145 "Event ID numbering in Monte Carlo"
The need of having unique event ID numbers for a MC production bunch.
Now we have event IDs starting at '0' for every file in the same production, therefore we cannot merge files.

[2017-03-01 09:47] gonzaponte opened #146 "Wrong type in last evt in s12df_to_s12l"
The function is supposed to return a dictionary with dictionaries holding two np.ndarrays. When looping over the full input DataFrame the last event is not cast to np.ndarray and remains as a list.

[2017-03-01 09:59] jacg commented on #146
Could you provide a test that demonstrates the problem?

[2017-03-01 09:59] jacg commented on #145
Could you write an automated test that somehow communicates this need and demonstrates the shortcoming?

[2017-03-01 10:41] gonzaponte commented on #146
Done in my fork gonzaponte/issue146.

[2017-03-01 10:58] jacg commented on #146
In Python we usually do not care about the concrete types of objects. Can you reframe this test in terms of some *capabiltiy* of the objects? In other words, as it stands, this test looks too much like it is inspired by a failure to understand Duck Typing. And we wouldn't want future readers of our code to get the impression that we don't understand Duck Typing.

[2017-03-01 11:12] gonzaponte commented on #146
The problem is that the difference of capabilities of a duck and a person are too many. I want to have full functionality of np arrays, so the easiest way is to check it behaves as a np array is to ask for its type, isn’t it?

[2017-03-01 11:49] jacg commented on #146
But you don't want the full functionality of numpy arrays; you only need that functionality which you are actually using.

Why don't you start with *one* bit of numpy functionality that is missing from whatever is being returned right now, that is stopping you from achieving your broader goals.

Besides, I don't know why we are talking about numpy arrays, when the test fails because it demands a l

[2017-03-01 12:11] gonzaponte commented on #146
It is true the test fails there, although that was just a secondary check (and that’s why we’re talking about np arrays: the primary check that is currently implemented within the same test).

When JJ first wrote that function it was supossed to return {evt_idx: {pk_idx: [np.array, np.array] } }. For the last event, however, it returns  {evt_idx: {pk_idx: (list, list) } }. So

1.- For consistency

[2017-03-01 21:27] jacg commented on #146
We're talking about why your test should check duck types rather than concrete types, and the fact that the test is failing *before* we even get to the numpy array part *as a consequence of a concrete rather than duck type check* is a perfect demonstration of *why* tests should check for duck types rather than contrete types:

+ The test fails (at this point) because it is written badly.
+ The tes

[2017-03-01 23:15] gonzaponte commented on #146
Ok. A couple of comments:

- Regardless of the discussion, the test was failing because I was doing it
wrong. My bad.

- I agree with the principle (100%), however I find it convenient (in this
case) to combine all tests into a single one. It is simpler and clearer (in
my opinion). Just as we don't take pep8 as a religion, but as a guideline.

Anyway... The proposed change (for the function) is in

[2017-03-02 07:20] jacg commented on #146
I have edited out your huge copypasta. Are you aware that both the 'emails' you receive and your replies are actually comments in the conversation on the GitHub issue you opened?

This is not the place to explain why top-posting is an abominable practice. Top-posting may be tolerable in some circumstances, but in a medium like this (GitHub conversations) it is much, much worse than in email.

Plea

[2017-03-02 07:53] jacg commented on #146
Please avoid using the term *cast* in Python. Call it *conversion*. Yes, I know you'll find lots of people in cyberspace calling it casting: we don't have to repeat their mistakes.

While the meaning of the terms *casting*, *conversion* and *coercion* may change across contexts or communities, in many of those it shouldn't be too controversial to say that something like the following meanings appl

[2017-03-02 08:45] gonzaponte commented on #146
1. Indeed, I wasn't aware of my replies being in "email format". Sorry about that, I will edit them.
2. I wasn't talking about the multiple-asserts-in-a-single-test topic. If you took that from my first bullet point in the previous comment, I was referring to the fact that the assert statement was checking something that ***could not be*** correct and therefore it was failing regardless of the con

[2017-03-02 09:23] gonzaponte commented on #146
Ok, I found where the cast discussion comes from and I have fixed it.
I have pushed a new version of the test checking duck types (using hasattr). Can you take a look at it?

[2017-03-02 09:27] jacg commented on #146
The function called `cast_to_arrays` that you add in your branch that bears the name of the issue we are discussing.

Eeek! I now see that, in that function, you are modifying an existing object rather than returning a new one. Hmmm. Sorry, I don't have time now. This will have to wait.

[2017-03-02 09:43] gonzaponte commented on #146
Ok, I've changed that.

[2017-03-03 14:13] gonzaponte opened #149 "Non-existing event introduced when converting pmaps DataFrames to dictionaries"
The function cdf_to_dict in pmaps_functions_c.pyx always returns event #0 even when it is not present in the input DataFrame.

[2017-03-03 14:20] gonzaponte commented on #149
I have in my fork (gonzaponte/issue149) a demonstration of the failure. I had to modify the test file so it does not include event #0. Although I have written a new test to demonstrate the bug, all tests fail because of the bug. However, since the new test is more exhaustive, I will rewrite the previous ones to perform as the new one.

[2017-03-04 08:57] jjgomezcadenas commented on #128
This has been addressed and solved in last commit

[2017-03-04 08:57] #128 closed, assigned to nobody

[2017-03-04 09:04] jjgomezcadenas commented on #91
Regarding the structure of IC, here a proposal:

1) The directory *core* lumps together rather different animals. I propose to split of *core* in two separate directories:
a) *core* which would keep what I think are really core modules: configure, core_functions, exceptions, log_config, random_sampling and system_of_units, mpl_f (plus testing modules and cython modules)
b) *reco* which would, for

[2017-03-04 09:06] jjgomezcadenas opened #150 "Splitting *core* in two directories (*core* and *reco*)"
The directory core lumps together rather different animals. I propose to split of core in two separate directories:
a) core which would keep what I think are really core modules: configure, core_functions, exceptions, log_config, random_sampling and system_of_units, mpl_f (plus testing modules and cython modules)
b) reco which would, for now, get all the rest: nh5, params, peak_functions, pmaps_fu

[2017-03-04 21:08] jjgomezcadenas opened #151 "bug in irene (store_pmaps)"
A bug has been found in irene (store_pmaps), which caused that S2 were not written in the PMAPS file. The bug was introduced when re-factoring the run method, creating the store_pmaps functions.   A fix (and a test) will be submitted shortly

[2017-03-05 22:51] gonzaponte commented on #146
This issue may no longer matter as the relevant part of the code is being revisited because of issue #149. However, it can still be used to increase the number of tests over the pmaps_functions module.

[2017-03-06 07:33] jacg commented on #143
Please create a branch with the proposed change and link to it here so that we can compare and contrast the two approaches.

[2017-03-06 08:04] jacg commented on #149
Would it be possible/better to do this by adding another test file? How big a new data file would you need to be able to write this test?

Please do a whitespace cleanup. `pmaps_functions_c.pyx`, for example, contains a number of spurious whitespace additions.

You have removed the initializations for `evt` and `pk` in  `cdf_to_dict`. Is there any good reason for this? A quick search into uninitia

[2017-03-06 09:13] jacg commented on #128
"The last commit" is not very informative. Please provide some reference (link). A PR number should do. Failing that, a hash of the actual commit.

Please understand that even if you are writing these comments as emails or git commit messages, they end up as GitHub comments on issues and PRs, and we should use the full power of those, and their cross-referencing capabilities, to make it easier to

[2017-03-06 09:26] jacg commented on #91
This specific sub-issue has it's own issue now: #150.

[2017-03-06 09:27] jacg commented on #150
Seems reasonable.

I'll try to knock together a branch that does this, quickly.

[2017-03-06 10:16] jacg commented on #146
Hmm, concerning the top-posting. I notice that JJ top-posts his replies in email all the time, but GitHub is clever enough to hide them in an expandable section that looks approximately like this: `...`. So, somehow GitHub failed to do that with your top-post. If you top-post in a way that GitHub manages to hide (like JJ), then feel free top-post all you want.

[2017-03-06 10:49] jacg commented on #150
How about moving `mpl_functions.py` to something like `plot`?

[2017-03-06 10:54] jjgomezcadenas commented on #150
Yes i have thought of something like that. Perhaps util so that we can stick there some other utilities?

Enviado desde mi iPhone

[2017-03-06 10:55] jacg commented on #150
`mctrk` seems not to be used anywere.

[2017-03-06 10:57] jjgomezcadenas commented on #150
Let me check this before removing

Enviado desde mi iPhone

[2017-03-06 11:15] gonzaponte commented on #149
It is possible, but maybe redundant. It will not be very large (few tens or hundreds of kb).

Ok.

No good reason, it is just not necessary as they are always assigned when needed. Maybe initializing them to 0 can be misleading, but it is not a big deal. I will set them to 0.

Ok.

[2017-03-06 12:24] jacg commented on #149
No. My bad. I looked at the code too hastily. You are initializing them before first use, so it's fine as it is. As you say, it might even be better this way.

[2017-03-06 12:44] jacg commented on #126
Continuous delivery was repeatedly stated as a fact of IC during the workshop.

[2017-03-06 12:44] #126 closed, assigned to nobody

[2017-03-06 14:22] neuslopez opened #156 "Implementation inconsistency in pmaps_functions"
Functions `S12df_select_event` and `S12df_select_peak` look like they should have symmetric implementations, but one uses the parameter of the lambda while the other uses the parameter of the outer function. Investigate if it is a bug and if so we need a test.

[2017-03-06 16:05] jmbenlloch commented on #128
@jjgomezcadenas was referring to PR #147. I have explained him how to make references between issues and PR's.

[2017-03-06 17:30] jjgomezcadenas opened #157 "Modifying the format of S2Si table"
Currently `S2Si` is being written to file as a "sparse table". This means the following.

This is the representation in memory of `S2Si`:
[code]
Notice that the array with energies contains a number of ceros.

This is the table representation:
[code]

Notice that the table representation eliminates the entries with zeros. The original array can still be reproduced, since the indexes are kept.

How

[2017-03-06 17:56] jacg commented on #128
Thanks. Even better, would be to develop the habit of writing the appropriate magic incantations (fix #whatever, closes #whatever, etc.) in the commit or PR messages, which close and link related issues.

This one is a bit tougher, becasue you can't do it a posteriori, and I often forget myself before it's too late.

[2017-03-06 18:04] jjgomezcadenas commented on #150
mctrk_functions.py contains functionality to draw MC tracks. Although no one is using this right now, I expect use very soon, with the new city being written by Alex. In general these are important plotting functions. They could stay in core. Alternatively, if we create a directory *plot* or *util* this module could be moved there.

[2017-03-06 18:23] jjgomezcadenas opened #158 "PMAP Writer"
After a quick discussion, we believe that there is a handy solution to separate the functionality of computing PMAPS from that of saving them to file. We propose to write a PMapWriter beast (aka class) that takes care of that core and can be called either by Irene or other clients. We propose to open a specific branch for this. @jmbenlloch has finger-volunteered to take this job.

[2017-03-06 19:43] #150 closed, assigned to jjgomezcadenas

[2017-03-06 19:59] #151 closed, assigned to jjgomezcadenas

[2017-03-06 21:39] jacg commented on #158
What advantages does a class offer over a function, in this case?

I may well be missing something, but I think that we need two functions:

+ one of them will be the inverse of the one which is currently called `xxx` in the branch called `dataframe-to-dict-s12` in my fork (which is essentially a rewrite of `s12df_to_s12l`);
+ the other will be similar, but slightly different to account for the di

[2017-03-06 22:14] neuslopez commented on #158
Your comment above @jacg, are just the perfect words for what I would say and I had in mind when we wrote xxx!!

Re-saying: we need two functions (transient <-> persisent) and we need to duplicate these two to account for the PMTs and SiPMs (as the dict that @jjgomezcadenas had in mind is different for those sensors)-----> 4 functions.

Our xxx corresponds to: persistent (dataFrame) -> transient (

[2017-03-06 22:38] jjgomezcadenas commented on #158
To summarise the discussion:

1. We all agree that we need a function/class to handle persistent <--> transient representation of PAMPS.

2. It appears that @jacg and @neuslopez have been playing around with some possibilities in branch xxx. My first reaction when I read "a rewrite of a function" (in particular if I wrote the function with some pain) is: why? Also, I believe that @gonzaponte has h

[2017-03-06 22:42] jjgomezcadenas commented on #158
Sorry, I realise I was not being precise enough. In fact @gonzaponte has not made a PR, but his branch issue149 contains important work that needs to be implemented to the main flow.

[2017-03-07 07:57] jacg commented on #158
Your question is reminiscent of the questions ART developers are asking themselves about IC. Need I remind you that the argument "I suffered while making this, therefore we must keep it and suffer even more" is not one that you yourself find very convincing? I believe that if you *look* at the functions, the original and the proposed replacement, the answer will become clear:

+ The body of `xxx`

[2017-03-07 08:17] jacg commented on #158
I'll use this space to record a prediction I am going to make about the future. My prediction is this:

When all is said and done, we will end up with four functions.

I make no prediction about how long it will take us to get there, and how circuitous a route we will take, but I do predict that we will end up with four plain functions. Or maybe two function factories. Or maybe two curiously param

[2017-03-07 11:12] neuslopez commented on #158
Timing tests give that "s12df_to_s12l" is about two orders of magnitude faster than 'xxx' see:

-----> %timeit pf.s12df_to_s12l(S1df,10000)
                        10 loops, best of 3: 54.6 ms per loop
------>%timeit pf.xxx(S1df,10000)
                         1 loop, best of 3: 8.26 s per loop

The test I made is over a Kr file. Find a short notebook reading the data in: (https://github.com/neusl

[2017-03-07 14:14] #157 closed, assigned to nobody

[2017-03-07 16:34] gonzaponte commented on #143
In gonzaponte/citiesargs you can find a draft of the code for this issue (it is a couple of commits behind nextic/master, but I will rebase). I have made two things:
- Remove from base classes (SensorResponseCity, CalibratedCity, etc.) all arguments belonging to the classes they inherit from, keeping only those owned by the class.
- Remove from implementation classes (Diomira, Irene, etc.) all arg

[2017-03-08 00:56] jacg commented on #149
This was bugging me, and it became clear that I wasn't going to get to sleep until I had fixed it ...

It turns out that, beautiful though it was, the `xxx` implementation (discussed in #158) based on Pandas `groupby` was two orders of magnitude slower than `s12df_to_s12l`.

It looks like Pandas `groupby` is fundamentally slow. There may be a way of achieving the desired effect with `numpy.unique`

[2017-03-08 01:15] jacg commented on #149
I have merged (yes! *merged*, don't worry, it's only temporary: it serves the purpose of keeping track of the alternatives until we decide which one we want) the implementation of `xxx` and the tests (which now run both on `xxx` and `s12df_to_s12l`) into the issue149 branch, and pushed it to my fork.

It seems that `xxx` passes the issue-149 tests out of the box. @gonzaponte please confirm that I

[2017-03-08 10:36] gonzaponte commented on #149
Well, I don't find it much more readable. In s12df_to_s12l the workflow is clearer, imho. But of course, this is a matter of interpretation. Concerning performance, s12df_to_s12l contains a function call overload because it is a python function calling the cython one. It can by written in the same fashion as yours (pure cython function). I guess this structure comes because we want a pure python i

[2017-03-08 10:40] neuslopez commented on #149
Using branch issue149, see bellow the new timings using the new xxx (same Kr file):

1. pf.s12df_to_s12l(S1df,10000):   10 loops, best of 3: **58.2 ms** per loop
2. cpm.xxx            (S1df,10000):   10 loops, best of 3: **41.3 ms** per loop

[2017-03-08 12:16] jacg commented on #149
It does, but this experiment

    python -m timeit -s 'f = lambda:1' 'f()'
    10000000 loops, best of 3: 0.0858 usec per loop

    python -m timeit -s 'f = lambda:1' 'f'
    100000000 loops, best of 3: 0.0142 usec per loop

shows that an pure-Python function call can be performed in 86 nanoseconds, while the lookup of the function's name takes 14, leaving no more than about 70 *nano*econds for th

[2017-03-08 12:29] jacg commented on #157
I recommend that you decouple interface from implementation.

1. Decide what it is that you want to be able to do with these objects, what operations you want to be able to perform on them, how you want to interact with them.
1. Come up with a convenient and expressive interface for being able to do so.
1. Implement both backends behind the interface.
1. Decide which backend is better based on use

[2017-03-08 12:56] gonzaponte commented on #149
The only "advantage" I see is that gathering all functions in a single file (pmaps_functions.py) allows you to forget the different implementations (either python or cython). For example in your fork you have:
[code]
The following may be nicer to look at:
[code]
This can still be addressed by creating aliases or using a from statement in the python module.

Agreed. JJ wants to use DFs bacause of t

[2017-03-08 13:43] jjgomezcadenas commented on #149
I am not very sure that we are following a sensible approach  here. To review:
1) I had written a function to read back pmaps en transform them to desired format in transient memory.
@gonzaponte had identified a number of issues and was working in fixing them. He has worked out a re-imp of the function and new tests.
Was it really necessary that @jacq and @neuslopez would write yet another impleme

[2017-03-08 13:47] jacg commented on #149
Totally agreed. As far as I am concerned, all the Cython modules are low-level implementations of the Python modules, and I would like not to see them being imported directly in client code at all. (IIRC, @jjgomezcadenas disagrees). But the solution to this is not to implement pure-Python wrappers (containing arbitrary subsets of the functionality, like in the case of `s12df_to_s12l` (I have grown

[2017-03-08 13:52] jjgomezcadenas commented on #149
My five cents
1) i like pure pyhon hiding cython imp basically for the same reasons offered by @gonzaponte

2) tuple of arrays is fine for now.
J
Enviado desde mi iPhone

[2017-03-08 14:35] jacg commented on #149
+ Given that the original was write-only: yes.

+ Given that the brokenness of this function was getting in our way in everything we wanted to do, and re-implementing a new one was easier than understanding and fixing the origial: yes.

+ Given that it was the quickest way to understand what `cdf_to_dict` was supposed to do: yes.

+ Given that it demonstrates in 4 clear lines what 49 convoluted li

[2017-03-08 14:42] jacg commented on #149
Stripped to the bare bones, we are talking about these two alternatives:

+ Option 1

   Inside `python_implementation.py` you write

       import cython_implementation

       def feature():
           return cython_implementation.feature()

+ Option 2

   Inside `python_implementation.py` you write

        from cython_implementation import feature

Agreed?

[2017-03-08 14:57] jjgomezcadenas commented on #149
Yes, agreed!

Enviado desde mi iPhone

[2017-03-08 15:07] jacg commented on #149
Good. Now, to me, *ceteris paribus*, one of those options is *clearly* better than the other.

Agreed?

[2017-03-08 15:20] jacg commented on #149
@neuslopez Could you please give us some idea of how long it takes `read_pmaps` to get these data from disk into memory?

[2017-03-08 15:53] jjgomezcadenas commented on #149
Find comments inline (hopefully GitHub will still hid the extra noise)

Given that some one else (e.g, Gonzalo) was already looking at the problem and he was not around. Debatable, I think.

Oh, well, I will manage to recover from current low level of Karma, don’t worry.

Incidentally the reason I wrote the write-only, faulty, nasty, ugly cython imp was because I had found long ago that Pandas DF

[2017-03-08 15:54] jjgomezcadenas commented on #149
Yes, option 2. Point taken.

[2017-03-08 16:40] jacg commented on #149
The bus number of this thing is now 4. Without `xxx` it would have been 2.

Post `xxx` I am confident that my opinion on the PR is worth hearing. Before `xxx` there is *no way* I could have formed a sensible opinion (in a any amount of time that I would have been prepared to invest in forming it).

Your low level of Karma is but an illusion. Your Karma remains high.

+ The personal journey of disc

[2017-03-08 16:55] jjgomezcadenas commented on #149
My vote goes for xxx. The only thing I don’t like about it is that I wasn’t around eating some peras and increasing my Karma for free. I suggest that we use xxx and my previous version in our docs to show the difference between read/write and write-only code.

If we go for xxx we skip that step. What is your opinion, @gonzaponte?

I would just go an submit a PR with the existing stuff (it all work

[2017-03-08 17:03] gonzaponte commented on #149
To me, `cdf_to_dict` is easier to understand, but I have devoted more time to this function than to `xxx`. Brais says he likes `xxx` more and since he is not biased, I would stick to the latter. Let's move on!

[2017-03-08 18:35] gonzaponte commented on #149
I've just realized that the `xxx` function assumes the ordering of the input data frame. It is not a problem now, but it must be taken into account and should be written in the function documentation. This probably means that the PMapWriter function/class/whatever should have a test that ensures the output file is written in the correct order.

[2017-03-08 19:37] jacg commented on #149
OK, I'll clean up the branch and submit before I retire for the night. Failing that, first thing tomorrow morning.

I think that last sentence is seriously raising your karma.

[2017-03-08 20:33] Jacq commented on #149
Good to know.... I have no idea what is this project about and suddenly there are 15 notifications of this discussion in my inbox :D
I think that at some point @Jacg mutated to @Jacq at the party started.
Cheers

[2017-03-09 07:28] jacg commented on #149
Well, yes, that did seem to be a fundamental feature of the data I had to go on. But I suppose you are right: it is an assumption which *could* be violated by the pmaps writer.

While `cdf_to_dict` is a rather more robust in this respect than `xxx`, it *will* fail silently if an event limit is required and some portion of an event with id number greater than the limit appears before *all* lower-nu

[2017-03-09 08:03] jjgomezcadenas commented on #149
My five cents:

1. I prefer yyy to xxx. It is very concise and elegant, and the time difference is not all that relevant. Since you don't have the PR yet submitted, why don't you go ahead and use yyy instead of xxx.
2. I suggest df_to_pmaps_dict as the new name.
3. I am all in favour of a named tuple.

[2017-03-09 08:39] gonzaponte commented on #149
What a wonderfull method `setdefult` is. I have been doing stupid things so far because I didn't know that method (and I thought I knew them all)!

Fine with me.

Since it is already in pmaps_functions.py, I would avoid naming it pmaps (simply df_to_dict?).

Me too.

[2017-03-09 08:54] jjgomezcadenas commented on #145
The point raised by @neuslopez is related with data organisation and is not obvious to me that a test is relevant here. In short, the situation is as follows:

1. Data events have a unique "event number" generated by the DAQ. This event number is extremely useful when you need to locate a particular data event. It is, so to speak, an analysis feature, a commodity.

2. MC events in IC, so far do no

[2017-03-09 09:02] paolafer commented on #145
In nexus IDs are assigned to events. In the existing files, IDs starts from 0 in each file (so numbers can repeat), but there is also the possibility of assigning a different event ID for each event along a given production.
Caveat: since in nexus we save only those events that deposit something in the active volume, there may be missing IDs (it's not 0, 1, 2..., but rather 0, 3, 8...), but I don'

[2017-03-09 10:36] jacg commented on #149
Even better, for this purpose, is `collections.defaultdict`, but Cython doesn't know how to type that one, so I stuck with the basic `dict`.

[2017-03-09 11:45] #149 closed, assigned to nobody

[2017-03-09 16:21] jacg commented on #145
Would a UUID be useful here? If you follow stardards, it would cost 128 bits each. Otherwse a smaller random number might do, or a hash of the data. How many of these are you expecting in the same 'namespace'?

[2017-03-09 17:51] gonzaponte commented on #146
I have rebased onto master and extended one of the tests to check duck types. I think this concludes this issue. I will open a PR.

[2017-03-09 18:10] jjgomezcadenas commented on #145
For a given processing order 10^6 events per chunk (“name space”), I would say. Do you agree, @jmbenlloch?

[2017-03-09 18:21] jmbenlloch commented on #145
Yes, for a given MC run, about 10^6 events.
But I think using consecutive numbering is useful since it would allow us to track an event easily. We have 10k events per file in the first step (MCRD). If later on, somebody is working with, for instance, PMAPS, knowing the event number automatically tell us in which file we can find the corresponding waveforms (file 1 from evt 0 to 9999, file 2 from 1

[2017-03-10 09:27] jjgomezcadenas commented on #158
This thread has branched into a discussion related with #146 #149 etc. Since this issues are resolved, I am closing this threat and reopening with a new name, just to start a new discussion from scratch

[2017-03-10 09:27] #158 closed, assigned to nobody

[2017-03-10 09:28] jjgomezcadenas commented on #146
I think this thread is solved

[2017-03-10 09:28] #146 closed, assigned to nobody

[2017-03-10 09:31] jjgomezcadenas commented on #145
In short, we need a scheme to produce unique run numbers and event numbers for the MC. MC run numbers will be negative by definition. Event numbers can be produced directly by DIOMIRA, or more in general by a MCCity which may take care of this. We need to discuss how to do it, but the need is clear.

[2017-03-10 09:32] jjgomezcadenas commented on #88
I believe that practice dictates that this is not gonna happen any time soon. Can we close this issue, at least for the time being?

[2017-03-10 09:32] jjgomezcadenas commented on #36
@jmbenlloch fatti vivo!

[2017-03-10 09:34] paolafer commented on #145
Hi! I didn't follow the discussion, so maybe this is not relevant, but in
art we set the MC run number in a way that is related to the values of
calibration database that we use in the production of the signals. It is a
way of using the values in the database for the run we want.

Il giorno ven 10 mar 2017 alle 10:31 jjgomezcadenas <
notifications@github.com> ha scritto:

[2017-03-10 09:53] jjgomezcadenas opened #165 "Revisiting PMAPS IO"
Recent development has made clear that we need to handle the IO of PMAPS in a consistent way.

In fact, PMAPS IO is an interesting problem because it is the first case in IC where we need to handle a persistent representation that is different from the transient representation of the data.  Before PMAPS the transient representation is identical to the persistent representation (arrays of waveforms

[2017-03-10 10:12] gonzaponte commented on #165
- I agree with the transient representation. Just to clarify, I don't think we need a named tuple in this scenario.

- Regarding the persistent one, the "evt" field is the numbering ***within*** a file, is that correct? If so, it may be useful. In the current df_to_dict functions there is an argument "max_events" assumed to go from 0 to n_events_produced (not necessarily equal to n_events_stored_i

[2017-03-10 10:24] abotas opened #166 "numpy compatibility"
This will give an error in numpy 1.11 and not in numpy 1.12
`np.random.normal(scale=[.2,0,4])
`

I believe those of us that ran
`source manage.sh install_and_check X.Y`
 before Jan 15th have v1.11 and those who ran it after have v1.12

At the moment, this means Travis-Ci will show that Anastasia passes all her tests, but if someone who started working in IC before Jan 15th tries to fetch my branch

[2017-03-10 10:34] jjgomezcadenas commented on #165
I think the named tuple is nice to access to t and E fields in the array by "dot" (S1[peak].E). And is free.

This is precisely what I want to get rid of. Since we are storing stuff in tables (which have an entry index) and representing stuff in dictionaries (by key) we don't need to store the event-within-a-file in the tables or in the dictionaries. Think that eventually we want to combine differ

[2017-03-10 10:52] gonzaponte commented on #165
I was referring to the S2Si, which contains only "E"

The problem is that, because S1 and S2 are read independently, it is not easy to get the same events. For example: if you tell the function to read 5 events from s1s, it will you return (for instance) events number [0, 1, 3, 7, 8], while if you do the same with s2s you get something like [0, 1, 2, 3, 4]. This can be handled by a PMapReader, tha

[2017-03-10 12:45] gonzaponte commented on #166
This:
[code]
 should work in any version. Does it provide the same results?

[2017-03-10 14:28] abotas commented on #166
That line of code looks like it will work, but do we want to make sure we are all using the same versions of all the packages?

Otherwise when we collaborate I think we risk running into an error that like
`ValueError: scale <= 0
`
without having any idea what is going on

[2017-03-10 14:35] jmbenlloch commented on #166
We need to decide what do we want to do with packages versions and this is probably related to #134.

Now @abotas has found this simple problem, requiring few lines of code to work in both numpy versions. But the situation is that each developer has a different set of packages versions depending on when the software was installed, while Travis is always getting the latest one available since we do

[2017-03-10 14:59] jmbenlloch commented on #36
Maybe we could go with MIT and allow everything:

[code]

[2017-03-10 15:47] jjgomezcadenas commented on #36
OK from my side. Opinions?

[2017-03-10 15:51] jjgomezcadenas commented on #165
Yes, in this case no need for a named tuple.

Yes, but somehow this in inherent to the structure of the data. We can give the reader different options (including to give us the first 5 events in which S1 and S2 are present), but we still need an unique event number.

Indeed, persistent one too!

[2017-03-10 20:20] jjgomezcadenas commented on #165
Following with the discussion. We discussed that read_pmaps() could return pmaps in transient form, rather than DF that map the tables.
`I argue instead that this function should return the DFs (same as is doing now)`

Why? Because in many tests we want to read back the table and compare what is there with what we expect. Thus we need easy access to the table representation.

Instead, we can have

[2017-03-10 20:45] jacg commented on #165
First and foremost, it's so good to see this functionality extracted and isolated! If this had been available when I was trying to understand pmaps writing (and other pmaps-related concepts, and other bits of `Irene`) it would have saved me many hours!

Now, let's conisder the usage example that appears in the accompanying test

    with tb.open_file(PMP_file, "w") as pmap_file:
        pmw = PMap

[2017-03-10 20:53] jacg commented on #165
I argue instead that this function should return the DFs (same as is doing now)

Yesterday @neuslopez and I were mulling this over. I think that we both felt (correct me if I'm wrong) that the intermediate step via dataframes between transient dicts and persistent HDF5 was useful, not only for testing, but also for separating concerns and keeping the functions simple. The user should  be presented

[2017-03-11 22:42] jacg commented on #36
I'm happy with MIT, but I'm in no position to judge how this relates to any formal requirements that might be imposed by everyone's institutes, etc.

[2017-03-11 22:44] #88 closed, assigned to jacg

[2017-03-11 23:00] jacg commented on #166
Yes, it is definitely related to #134.

In the short term I think we could do with a new function in `manage.sh` which updates the env to the latest available packages, so that we agree with Travis.

I don't think there's a need to stay compatible with old versions of these packages.

I think that this, or rather #134, is important, but not of the highest urgency.

The new `manage.sh` function cou

[2017-03-11 23:39] jjgomezcadenas commented on #36
I think this should be OK. Let’s take it and move on.

[2017-03-12 07:43] jacg commented on #36
MIT it is then.

Now it needs to be incorporated into the codebase.

[2017-03-12 08:05] jjgomezcadenas commented on #36
Every function file? Or enough to put is somewhere in the root directory?

[2017-03-15 17:01] gonzaponte opened #174 "Wrong number of slices in S2Si dict"
We have a new bug (thanks to @neuslopez for pointing it out). S2Si dicts are filled with zeros when a slice is empty for any charged sensor. However, **this is done just for those slices before the last one present in the input**; trailing zeros (empty slices at the end) are not included.

Solving this is non-trivial since the information of the actual number of slices is missing in the input (it

[2017-03-15 17:02] gonzaponte commented on #174
I will push a test demonstrating the problem shortly.

[2017-03-15 17:59] jacg commented on #145
Done in #168.

[2017-03-15 17:59] #145 closed, assigned to nobody

[2017-03-15 18:14] gonzaponte commented on #174
Done in [gonzaponte/issue174](https://github.com/gonzaponte/IC/blob/issue174/invisible_cities/reco/pmaps_functions_test.py)

[2017-03-15 18:59] jjgomezcadenas commented on #174
I think the problem should disappear in the branch maps-writer which is currently under PR. I did modify the S2Si structure so that it wrote all the samples from the beginning. Please check in the branch!

[2017-03-15 19:20] jmbenlloch opened #175 "Irene error: 'IndexError: Out of bounds on buffer access (axis 0)'"
@jahernando asked me to run Irene over Na data (run 2948 from last campaign). @gonzaponte send me a set of parameters to do so. This is the configuration file:

[code]

Data files can be copied from Canfranc or from here:
https://www.cern.ch/jobenllo/run_2948.gdc1next.001.next1el_2948.root.h5
https://www.cern.ch/jobenllo/run_2948.gdc2next.001.next1el_2948.root.h5

This is the error I'm getting:

[

[2017-03-15 19:28] gonzaponte commented on #175
It is probably this:
PMT WL                 => 32000
NBASELINE              => 38000

Set NBASELINE 28000 and try again

[2017-03-15 19:44] jmbenlloch commented on #175
Ok, it's working now. Thanks!

[2017-03-15 19:44] #175 closed, assigned to nobody

[2017-03-15 23:05] jjgomezcadenas commented on #175
Are u sure that the buffer is 38000 long? I suspect is shorter for this run…

[2017-03-16 11:22] jacg commented on #174
Please check that my [rephrasing of the test](https://github.com/jacg/IC/commit/66bcf116eecfaa58e78ab26be5d20b82c69e88c6) correctly conveys its intent.

[2017-03-16 12:48] jacg commented on #174
Where does this happen in the code? The comment suggests that it's here

    # Postprocessing: Turn lists to numpy arrays before returning and fill
    # empty slices with zeros
    for current_event in all_events.values():
        for current_peak in current_event.values():
            for ID, energy in current_peak.items():
                current_peak[ID] = np.array(energy)

But I'm failing to

[2017-03-16 12:52] gonzaponte commented on #174
It has been already changed by JJ's last PR. Now zeros are directly stored in disk, so there is no need to manually fill them in the reading process.

The issue has been solved, but I am using this reference for including a new test so it does not happen again.

**Correction:**
The issue has not been solved. The test data file must be updated

[2017-03-16 13:10] jacg commented on #174
That is indeed what the conversation suggested. But the test is still failing! I find tests far more convincing that opinions. I guess this means that you need to update the data file that the fixture uses? By re-generating it, using the new writer?

[2017-03-16 13:12] jacg commented on #174
If the problem is indeed solved, and the padding does come from the file, then the misleading comment shown above should be fixed.

[2017-03-16 13:18] gonzaponte commented on #174
Indeed. This should have been made in the PR. If you want me to fix it, please push this to my branch (con mucha fuerza, I have rebased onto master). We do not have data yet, but should be ready today.

[2017-03-16 13:46] jacg commented on #174
In general, I'd rather not.

In this case, as it's not a PR (with reviewer modification enabled) I couldn't even if I wanted to.

Anything wrong with fetching it from my fork? Then you can decide for yourself what changes in yours, rather than having it imposed on you from outside.

[2017-03-16 16:30] gonzaponte commented on #174
Right. I will do that.

[2017-03-16 17:39] jacg opened #177 "PMAPs interface"
The PMAPs interface we currently have is an accidental by-product of the implementation choices we happen to be going with right now: no effort has been made to design a decent interface for PMAPs.

The presence or absence of zeros (whether it be in the HDF5 file or in the datastructure used in the transient representation) in the S2Sis is a matter of implementation: the client doesn't care how an

[2017-03-16 17:46] jjgomezcadenas commented on #177
So say we all! As a physicist I am shocked to find out that the what I thought as the prettiest of all the interfaces is plain crap. As a wizard's apprentice I am happy to eat peras with you as soon as possible and have some fun designing and implementing a shiny JCK interface.

We all should take notice of that and starting right now think the interfaces before we start implementing.

Thanks Mast

[2017-03-17 08:20] jacg commented on #165
I just want to record publicly that, after having worked in this part of the code, my opinion has changed drastically: I now think that we should remove the dataframes completely, if we are not exposing them as the client interface. They only seem to complicate matters.

[2017-03-17 08:22] jacg commented on #165
I am closing this as a preliminary *implementation* has been done in #171, while the discussion of the *interface* will take place in #177.

[2017-03-17 08:22] #165 closed, assigned to nobody

[2017-03-17 09:19] jjgomezcadenas commented on #165
Also for the record, I do think they are a convenient way to load the tables in memory. If there are alternative (more efficient, cleaner) ways to do it, I am willing to eat my peras with you.

[2017-03-17 10:41] gonzaponte opened #178 "Error in df_to_pmaps_dict when reading an empty file"
I have encountered a bug when trying to read back pmaps produced with the new pmap writer interface. For some reason, the file is empty, which means that the `read_pmaps` function in reco/pmaps_functions.py returns empty data frames. This causes the following error in df_to_pmaps_dict:
[code]
 I think by default, pandas Data Frames tend to use doubles, unless the data explicitly says otherwise. Th

[2017-03-17 10:49] jjgomezcadenas commented on #178
I think @jmbenlloch may not be available for a couple of days. Do you find the same problem with all files?

I am quite puzzled because I added tests that checked both the writing and the reading back of the pmaps. Although I had no defence in case that the file was empty, so the protection and tests will surely help.

[2017-03-17 10:50] gonzaponte commented on #178
Just one file, that's why I think it was something unrelated to IC.

[2017-03-17 10:50] jjgomezcadenas commented on #178
OK, please do add the protection and tests.

[2017-03-19 00:43] jjgomezcadenas opened #179 "PyQt for python 3"
Vicente Herrero has developed a very nice lab tools GUI based in PyQt. I was thinking in a similar tool for fast analysis and online monitoring of data.

After some trying it appears that all conda channels that install PyQt both for mac osx and Linux are python 2.7.

Questions: any one has found a conda install for python 3.5/3.6?
Otherwise, shall we install with another tool (e.g, pip3)?

[2017-03-19 09:32] jjgomezcadenas commented on #179
Disregard, pyqt comes directly with our default distributions!

[2017-03-19 09:32] #179 closed, assigned to nobody

[2017-03-19 13:08] gonzaponte commented on #174
I have updated the data file for testing and the problem is still there. It seems we are not ***always*** matching slices in PMTs and SiPMs. For example for event 36, peak 0 in the test file we have (read directly from disk):
[code]

And for event 37, peak 0:
[code]

In event 36, S2-PMT contains 12 slices, while S2-SiPM contains 11 slices (in all SiPMs). On the other hand, event 37 has 9 slices bo

[2017-03-19 18:02] jjgomezcadenas commented on #174
Thanks @gonzaponte great work!
I don't think debugging involves Irene, which uses functions mostly from peak_functions and pmaps_functions. I suspect the problem comes from rounding error when rebbinning in S2, but I have no idea where it is. Will be very grateful if you and or @jmbenlloch can take a look. Right now I am in Canfranc, trying to make sense of initial data, have very little time for

[2017-03-19 18:10] gonzaponte commented on #174
Ok then.

It does not involve Irene as long as you extract the event that fails from the data so you have a failing example to study what is going on, so I will do that.

[2017-03-19 19:38] gonzaponte commented on #178
The solution if have found is very unsatisfying... It basically consists of an explicit conversion to the desired types. In order to be clear, here is the new code:
[code]

I had to do this because:
1. Cython does not allow you to declare types within an `if`statement. I have tried to put the cdef lines inside a`if not df.empty` statement, but it won't compile.

2. The cython function checks wheth

[2017-03-19 19:48] jjgomezcadenas commented on #178
I agree! @jmbenlloch we should find a way to protect against empty files!

[2017-03-20 13:15] gonzaponte commented on #174
The problem comes when t[i+1] - t[i] < 1 mus. For some reason, the last two elements of the S2-PMT time array are within 1 mus:
[code]
This causes the function `index_from_s2` to return the indices 589 and 600, and the difference is then 11 rather than the original 12 slices. This can be easily fixed by ***rounding*** the time array instead of flooring it, but the question is: should we allow this

[2017-03-20 14:01] jjgomezcadenas commented on #174
Yes, I believe that 1 mus is a very acceptable time resolution

[2017-03-20 18:49] gonzaponte commented on #174
I think there is a more profound problem here...

Imagine the case attached. Solid lines represent integer values of time in mus, while dashed lines represent time slices created by rebinning the waveform. They don't match because we define the beginning of the slice to be the first sample above threshold.

Everything in the drawing correspond to the same peak, as the beginning of one piece is les

[2017-03-20 20:03] jjgomezcadenas commented on #174
I agree the current solution is less than perfect, but how often we run into this, and how bad it is? My feeling is that it is irrelevant, since everything stays within ranges of 1 bus, which is a small quantity compared with our resolution (due to diffusion and grid).

Fixing it, as you well realise would be a major effort (and one has to watch out performance). Of course, if you want to give it

[2017-03-20 20:19] gonzaponte commented on #174
The point is that this solution solves the current bug, but introduces another one.

Difficult to quantify, but let's say it is of the order of 1%.

It is ***not too bad*** in the sense that we are working with that right now and it is not critical (partially because I am not using time slices in the SiPMs at all).

I may have found another solution, but it is kinda nasty. Instead of picking the m

[2017-03-20 21:52] jjgomezcadenas commented on #174
Actually, I think this is a brilliant solution.

Absolutely!

[2017-03-20 21:53] gonzaponte commented on #174
I'll push that, then.

[2017-03-21 10:03] gonzaponte commented on #174
I have pushed the fix and updated test file. All tests passed. I will open a PR and if everybody is happy, I can squash it to a single commit and then you can merge it into master.

[2017-03-30 14:36] gonzaponte opened #191 "Add DECONV_PARAM table to Irene-produced files"
We need to add this table to keep track of the params used.

[2017-03-30 14:37] gonzaponte commented on #191
The current structure is:
[code]
 but
[code]
 do not appear anywhere. @jjgomezcadenas, please comment.

[2017-03-30 14:46] jjgomezcadenas commented on #191
Of these 3 parameters only one is still used

The parameter needs to be passed to a DeconvolutionCity. The other two can be eliminated from the table.

[2017-03-31 08:57] jacg opened #194 "Travis auto cancellation"
We should switch this on for `nextic` (and for our own forks):

https://blog.travis-ci.com/2017-03-22-introducing-auto-cancellation

[2017-03-31 09:12] jacg commented on #174
Can this be closed?

[2017-03-31 09:13] jjgomezcadenas commented on #174
yes, tis is done, I am closing it.

[2017-03-31 09:13] #174 closed, assigned to nobody

[2017-03-31 09:15] jjgomezcadenas commented on #194
Agreed! Who switches on nextic ? You or @jmbenlloch

[2017-03-31 09:17] gonzaponte commented on #194
This is crucial, or I will eventually collapse Travis' queues with my countless mistakes...

[2017-03-31 10:19] jmbenlloch commented on #194
I have activated it for nextic/IC both in branches & pull requests. It seems to be a beta feature, so say something if you find any odd behavior in your PRs. For the moment I'll close this issue.

[2017-03-31 10:19] #194 closed, assigned to nobody

[2017-03-31 10:21] jmbenlloch commented on #191
Closed by #192.

[2017-03-31 10:21] #191 closed, assigned to nobody

[2017-04-07 11:49] gonzaponte opened #201 "Argument list too long"
I encountered the following error trying to use command line options:

[code]

This has nothing to do with python, but with the shell. Does anyone, particularly @jacg or @jmbenlloch, know a workaround to this?

My approach would be to use quotes around the `-i` argument and expand it with `glob`.

[2017-04-07 12:15] jacg commented on #201
Hmm, I guess that it's the star buried in the middle of all that

which is responsible for giving you a very long arguement list. I can't tell from here, but I guess there must be quite a few files matching that pattern on your filesystem.

I suspect that would still leave you with the same fundamental problem: the argument list being too long! It doesn't matter how you compose it, if it's too lon

[2017-04-07 12:21] jmbenlloch commented on #201
You can use simple quotes to prevent bash from making variables expansion. I've written a little program which only prints sys.arg. See:

[code]

[2017-04-07 17:38] gonzaponte commented on #201
That is what I was thinking about, @jmbenlloch. I guess this is the only solution.

[2017-04-07 18:15] gonzaponte opened #203 "Cities inheritance structure"
I have noticed something in the inheritance chain of the base cities that may not be structurally correct.

All base cities inherit from City, which seems to be designed to work as the general manager which controls the job-related parameters (such as IO files, number of events, etc.), but it also holds information from the database. However, base cities do not care about IO at all as they simply

[2017-04-07 18:23] jjgomezcadenas commented on #203
I like this. What do you think @jacg?

[2017-04-07 18:34] jacg commented on #203
Forming an opinion worth sharing would take far more time than I have available at present.

[2017-04-07 18:41] jjgomezcadenas commented on #203
My opinion is then to postpone the split of the cities until I have some time to discuss with @jacg, since we have more urgent things to do, in particular to review Dorothea. Agreed, @gonzaponte?

[2017-04-07 18:44] gonzaponte commented on #203
Sure, I opened this issue just to start the discussion so that @jacg can meditate (because Jedis meditate) about it!

[2017-04-08 10:49] jjgomezcadenas opened #205 "Travis is failing due to fault installation of pytest-xdist version 1.15.0"
This is the error log.

Collecting hypothesis-numpy
  Downloading hypothesis-numpy-2.0.0.tar.gz
Collecting flaky
  Downloading flaky-3.3.0-py2.py3-none-any.whl
Collecting pytest-xdist
  Downloading pytest-xdist-1.15.0.tar.gz (87kB)
[?25l
[K    11% |â–ˆâ–ˆâ–ˆâ–Š                            | 10kB 9.7MB/s eta 0:00:01
[K    23% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ                        | 20kB 8.8MB/s eta 0:0

[2017-04-08 13:47] jacg commented on #205
Very quickly:

Without investigating, my guess would be that the problem is with the latest version of `pytest-xdist` that has been uploaded to PyPI, rather than anything to do with Travis per se.

I can think of two obvious workarounds:

1. Comment out `- pytexst-xdist` in the `make-environment` section in `manage.sh`.

2. Explicitly specify an older version of `pytest-xdist`.

We don't use `pyte

[2017-05-02 10:34] jacg opened #208 "Build broken, probably because of database change"
I just tried to push a trivial commit, and Travis/pytest gave 8 failures and 56 errors.

Rerunning builds which had passed earlier, now gives a similar failure.

Downloading the latest version of the database makes the tests fail in a similar way on my local machine.

Does anyone have a quick fix?

[2017-05-02 11:05] jmbenlloch commented on #208
I am checking what happened to find out where is the error. Until we manage to fix it, maybe you can take the previous DB version and run the tests locally, You can download the file here: http://jobenllo.web.cern.ch/jobenllo/localdb.sqlite3

[2017-05-02 16:34] jacg opened #211 "Rebase + merge --no-ff policy"
I would like to change our merge policy to the following:

+ All PRs must be rebased on top of `master`. (Just like we have been doing so far.)

+ The merge itself comes in two varieties:

  1. If the PR contains just one commit: `merge --ff`

   2. If the PR contains more than one commit: `merge --no-ff`, with a well-written commit message.

The point of this is

1. To leave a record of the units

[2017-05-02 23:20] jjgomezcadenas commented on #211
I see no problem provided that we find a way to do it in GitHub + magit. If we need to do such things by hand, it will become messy...

[2017-05-03 07:55] #208 closed, assigned to nobody

[2017-05-03 08:09] jacg commented on #211
Agreed.

I have merged #209 using this new policy. I used pure Magit, bypassing GitHub. It's easy, but it would be preferable if GitHub could be set up to guide the process.

I suggest you let me do all the merging of PRs for now (unless it's urgent and I'm not available) so that I can explore the possibilities, pitfalls, etc. Then we can decide whether we want to adopt it in the long term or not.

[2017-05-09 14:19] jacg commented on #205
This seems to have sorted itself out, as expected.

[2017-05-09 14:19] #205 closed, assigned to nobody

[2017-05-09 14:20] jacg commented on #201
Can this be closed now?

[2017-05-09 14:21] gonzaponte commented on #201
Yes

[2017-05-09 14:21] #201 closed, assigned to nobody

[2017-05-09 14:40] jacg commented on #156
No tests fail when these functions are deliberately broken.

[2017-05-09 14:42] jacg commented on #143
@jjgomezcadenas You and I should look at this with peras and make a decision.

[2017-05-09 14:45] jacg commented on #177
I hope that y'all have collected lots of juicy use cases for me.

I expect my inbox to be flooded with them any minute now!

[2017-05-09 14:48] jjgomezcadenas commented on #143
Agreed, next week!

[2017-05-09 14:50] jjgomezcadenas commented on #177
More peras, next week!

[2017-05-15 12:28] jacg commented on #106
The problems in my `test.matplotlib` [branch](https://github.com/jacg/IC/tree/test.matplotlib) seem to have gone away. By this I mean

+ Everything passes in Travis
+ Everything passes locally, as long as I recreate the `IC3.5` and `IC3.6` conda environments from scratch.

In other words, the current versions of the relevant libraries no longer seem to suffer from the two problems we observed:

+

[2017-05-18 10:56] jmbenlloch opened #226 "Numpy array hashing"
Numpy arrays are unhashable, many of our objects use them and therefore are unhashable themselves. We need to find a solution.

[2017-05-18 13:10] jjgomezcadenas opened #227 "Hypothesis speed"
Recent work has shown that hypothesis array generation is very slow (typically a factor 30) wrt to NUMPY random number generation. This brings about the following dilemma: a) speed: NUMPY would be preferable to hypothesis; b) simplification of counter-examples: hypothesis would be preferable to NUMPY.

A possible solution is to use NUMPY by default and switch to hypothesis when tests fail.

[2017-05-18 13:27] jjgomezcadenas opened #228 "rename pos to xy"
We are using "pos" to denote in practice "xy position". We would like to change "pos" to "xy".

[2017-05-19 12:52] #227 closed, assigned to jacg

[2017-05-20 18:39] jacg commented on #211
This idea has proved popular, so we are accepting this as our standard policy. Please leave merging into `nextic/master` to @jmbenlloch & @jacg, or ask one of them to show you how to do it: we have not identified a way to do it in GitHub, so it must be done locally.

[2017-05-20 18:39] #211 closed, assigned to nobody

[2017-05-24 09:56] jacg opened #234 "Spurious failures in test_corrections_1d"
This test gives too many false negatives. This can probably be resolved by fiddling with the `flaky` parameters.

[2017-05-30 12:11] jerenner opened #238 "Blob energies returned as set in paolina.py function blob_energies"
Since the blob energies are returned as a set, if they have the same value, the set will contain only 1 element with that value.  Therefore if the user attempts to obtain the energies expecting 2:

[code]

a `StopIteration` error will occur.  One could get around this by checking the length of the returned set `eblobs` but Paola disagrees because the user should always expect two blobs.  Note that

[2017-05-30 14:06] jerenner commented on #238
One possible alternative to be discussed can be found here:
[https://github.com/jerenner/IC-1/blob/paolinarev/invisible_cities/cities/paolina.py](https://github.com/jerenner/IC-1/blob/paolinarev/invisible_cities/cities/paolina.py)
[https://github.com/jerenner/IC-1/blob/paolinarev/invisible_cities/cities/paolina_test.py](https://github.com/jerenner/IC-1/blob/paolinarev/invisible_cities/cities/paoli

[2017-05-30 16:07] jacg commented on #238
The probability of two blobs having the same energy is essentially zero. This isn't the problem you seem to be addressing. (If this were the problem, the solution would probably be to return an ordered tuple, rather than a set of blobs. This is simple to implement and offers guarantees that can be used in the tests (and elsewhere)).

The problem you seem to be addressing is that of only having one

[2017-05-30 16:24] paolafer commented on #238
I don't agree. There is also the possibility that the track has more than one voxel, but it is short, so each blob includes all the voxels of the track. In this case, you have two well-defined and different extremes and two blobs that have the same energy.

[2017-05-31 11:50] #238 closed, assigned to nobody

[2017-05-31 15:49] gonzaponte commented on #234
I would like to solve this by generating data distributed according to some custom pdf with hypothesis. I haven't found anything about that in the documentation, so I will do it with fixtures unless someone finds another way.

[2017-05-31 15:52] gonzaponte commented on #234
The solution of this issue is attempted in #241.

[2017-06-01 11:21] jacg opened #242 "Comment on Zaira parameters"
@gonzaponte we are revising the config files in `invisible_cities/config/` to prepare them for

+ use in *real* command line tests
+ documentation

Please comment.

Is there anything missing?

Note that we are wondering whether some of these entries are obsolete.

@jjgomezcadenas asserts that you have 10 s.

    # zaira.conf

    # Example configuration file for Zaira

    # Input files
    PATH_I

[2017-06-01 17:05] jacg commented on #234
Fixed in #241.

[2017-06-01 17:05] #234 closed, assigned to gonzaponte

[2017-06-07 08:36] jacg opened #244 "Event numbers stored in 32 bits"
In order to ensure unique event numbers in MC data, we have adopted the strategy of adding the Python hash of the data filename base to the local event number, provided by the Nexus generation. This means that if the event numbers in MCRD (Nexus) files start at 0 for each file, then Diomira-generated files (RWF) start at `hash(filename) + local_event_number`.

To reduce the probability of collisio

[2017-06-07 18:06] jjgomezcadenas opened #247 "File electrons_511keV_z250_RWF.h5 in test_data does not have /Run group"
File electrons_511keV_z250_RWF.h5 does not have a /Run group and must be regenerated. Also check that all files in the test_data repository have /Run group.

[2017-06-08 09:50] abotas opened #249 "Some S2s and their corresponding S2Sis are not the same length"
Looking at pmaps of Na montecarlo data I have found events with S2s (pmt S2s) and S2Sis (sipm S2s) of different length. I am not sure if this is a bug or if it is allowed, but it is problem because we do not record the times in the S2Si as we do in S2. (When there is a clear 1-1 mapping between S2 and S2Si values this is no problem)
Since we don't have the times of the S2Si, reconstructing z-coord

[2017-06-08 10:58] jjgomezcadenas commented on #249
Ale, intentamos hablar de esto esta noche, OK?

[2017-06-08 10:59] abotas commented on #249
sounds good!

[2017-06-09 16:06] jacg opened #251 "Command line completion for `city` command"
The new `city` command is used to run all completed cities. This could benefit from command line completion assistance.

[2017-06-15 16:16] Aretno opened #253 "Warning in pytest after clean installation in OS X 10.9.5"
After trying to install IC (using  `source manage.sh install_and_check 3.6`) the pytest utility has found the following warnings:

[code]

@jjgomezcadenas @gonzaponte can you comment on this?

[2017-06-15 17:05] gonzaponte commented on #253
Numpy's verbosity is too high, sometimes. In this case, the warnings are yield when a division by 0 or nan occurs, I think. There is a way to silence that, but it may be a bad idea since it can make debugging more obscure. As you say, those are just warnings, so they can be ignored as long as we know their cause.

[2017-06-15 17:23] gonzaponte commented on #253
Oh, and that's new from pytest that issues a warning summary. You wouldn't see that usually.

[2017-06-28 13:59] #143 closed, assigned to jacg, jjgomezcadenas

[2017-06-30 13:03] #249 closed, assigned to nobody

[2017-06-30 13:04] abotas commented on #249
resolved with new pull request rebin waveform

[2017-06-30 13:51] abotas opened #262 "Too many things called S2"
If no one tells me not to, I will make a quick, tiny PR to solve this:

We have a variable in the code, S2, that means different things in different places. These idiosyncrasies are not a big deal I tried to ignore them, but now as reuse IC functions/objects the ambiguity infects the code I am developing.

1) In the majority of places in the code, we call S2: a dictionary mapping peak numbers (key

[2017-06-30 16:24] jjgomezcadenas commented on #262
Agreed, pobres enemigos!

To complicate matters further, we also call S2 (in event_model.py) the high level interface!!!
So a way out of it is:

PMaps as you should S1s, S2s, S2Sis.
S1, S2 and S2Si ---> instances of high level class (in event_model.py)
dictionary of peak number (key) to peak --> S1d, S2d, S2Sid.
The individual elements of the S1/S2 should be called peaks, where needed.

Does this

[2017-06-30 18:09] abotas commented on #262
Yes, sounds good. I put this in a tiny PR

[2017-07-03 11:08] paolafer opened #263 "Failure in tests"
One of tests is failing in my Mac, namely

invisible_cities/reco/sensor_functions_test.py::test_cwf_blr[electrons_40keV_z250_MCRD.h5]

with the following error:

E           assert 1.7658670951263973 < 1
invisible_cities/reco/sensor_functions_test.py:47: AssertionError

Any idea of what the reason is, @jjgomezcadenas ?

[2017-07-03 13:12] jjgomezcadenas commented on #263
The test checks that the result of the convolution + deconvolution is equal (within tolerance) to the original waveform. The problem can be fixed increasing the tolerance, but I don't understand why the test passes everywhere except in your Mac.

[2017-07-04 10:20] paolafer opened #264 "Cecilia city"
I've started debugging cecilia and I've found a minor issue of clarity.
The parameter data_mc_ratio is actually MC/data, as I deduce from how it is used in the code. Shouldn't we call the parameter mc_data_ratio?

[2017-07-04 10:21] jjgomezcadenas commented on #264
Yes, I see no problem to do that. Go for it, prepare a PR with the name change.

[2017-07-10 08:21] Aretno commented on #263
I have updated my master to the latest repository and I'm having the same issue Paola has with this same test.

[2017-07-10 14:55] gonzaponte opened #266 "Weird sipm signal after Diomira"
@jmbenlloch and @abotas have noticed that the signal in the tracking plane after passing through diomira does not make sense, as shown in [here](https://github.com/jmbenlloch/ICARO/blob/master/icaro/MC/MC_mapping.ipynb).

I will investigate further.

[2017-07-10 19:00] gonzaponte commented on #266
I suspect this bug has nothing to do with the code. The notebook demonstrating this effect uses some display that can be misleading (integrate of the sipm response). If I plot the actual waveform of one of the relevant sipms, it makes sense, as shown in this picture.
![image](https://user-images.githubusercontent.com/8233521/28034812-99c5ca20-65b2-11e7-8920-b8f3dd1703f2.png)
On the other hand, if

[2017-07-11 11:16] gonzaponte commented on #266
I think I have found the problem. I took a look at the pdf of the "noisy" SiPM in the previous comment and it looks like this:

![image](https://user-images.githubusercontent.com/8233521/28065736-3b9655f4-663a-11e7-8dbe-809d2c37e47e.png)

Having up to ~20 pes of noise is unrealistic, but I don't know where is this coming from (something went wrong during the calibration? is the SiPM just not worki

[2017-07-11 12:32] jjgomezcadenas commented on #266
Guys, there are two things to do: One is to implement in Diomira the capability of masking sensors (and propagate that to the other cities, though the data base). The second thing is to check with Andrew to find out it the wrong sensors are under control (e.g, are they bad sensors or did something go wrong with the last calibration)?

@gonzaponte, @jmbenlloch you have the floor

[2017-07-11 12:34] gonzaponte commented on #266
I agree. I am working on the first point.

[2017-07-11 13:30] gonzaponte opened #267 "load_pmaps in io module rather than reco"
It seems to be the right place.

[2017-07-11 13:58] jjgomezcadenas commented on #267
It is already done (in the PR open)

[2017-07-11 14:00] gonzaponte commented on #267
Great. Done in #265.

[2017-07-11 14:00] #267 closed, assigned to nobody

[2017-07-12 10:53] jjgomezcadenas commented on #262
All this is addressed in #265

[2017-07-12 10:53] #262 closed, assigned to nobody

[2017-07-12 10:53] jjgomezcadenas commented on #266
Is this already understood?

[2017-07-12 10:54] jjgomezcadenas commented on #264
I will include this change in the on-going revision I am making in cities, you don't need to do it.

[2017-07-12 12:19] gonzaponte commented on #266
Yes, this is addressed in #268. We still have to:
1. Monitor sipms pdfs coming from calibration.
2. Update the database masking the noisy sensors.

The first point is not relevant for this issue, but I wanted to list it so we don't forget. Is the second one already addressed, @jmbenlloch?

[2017-07-13 10:11] gonzaponte opened #270 "Mismatch between the number of events requested and the actual number of events processed"
In at least a couple of cities, there is a block of code that makes things wrong. I am referring to:
[code]
When using this block ***at the beginning of a loop***, it creates a shift of one unit between the number of events processed and `nevt_in`. This may be causing bugs to pass silently, particularly in tests, where, I think, we only process one event. In this case, we just do `nevt_in = 1` and

[2017-07-13 11:02] paolafer commented on #264
I'm doing other changes to cecilia, since I've found other problems. Let me do all the modifications to cecilia, is that ok?

[2017-07-13 11:10] jacg commented on #270
I trust that, once we have finished refactoring the cities, this block (or whatever replaces it) will be written *exactly once* and re-used where appropriate!

[2017-07-13 11:36] gonzaponte opened #271 "default value for parameters then they are actually needed"
In `peak_functions_c.py` we have:
[code]
The `time`and `length` arguments have a default empty tuple value, but they actually need to be a length-2 tuple, or the code will crash. Is there any reason for them to have default values?

[2017-07-13 11:59] jjgomezcadenas commented on #264
yes, you have the floor

[2017-07-13 12:02] jjgomezcadenas commented on #271
I believe there is no real reason for these parameters to take defaults, you are right. Let me look into it.

[2017-07-13 14:58] jjgomezcadenas commented on #271
Fixed now, will be included in the upcoming PR

[2017-07-14 07:40] jjgomezcadenas commented on #271
closed through #265

[2017-07-14 07:40] #271 closed, assigned to nobody

[2017-07-20 07:38] jjgomezcadenas commented on #270
that should be solved by #272

[2017-07-20 07:38] #270 closed, assigned to nobody

[2017-07-20 07:39] jjgomezcadenas commented on #266
Is this solved, @gonzaponte, @jmbenlloch ?

[2017-07-20 07:40] jjgomezcadenas commented on #264
Cecilia has been (provisionally) deleted, since it contained mixed functionality (it was partially a simulation city and partially a processing city). The plan is to extend Diomira so that in addition of simulating the electronics is capable of simulating the trigger.

[2017-07-20 07:40] #264 closed, assigned to nobody

[2017-07-20 07:41] jjgomezcadenas commented on #263
Do you still have this problem, @paolafer , @Aretno ?? It is not showing up anywhere else

[2017-07-20 07:42] #253 closed, assigned to nobody

[2017-07-20 07:43] jjgomezcadenas commented on #228
Solved by new type "xy" in /types

[2017-07-20 07:43] #228 closed, assigned to jmbenlloch

[2017-07-20 07:44] jjgomezcadenas commented on #203
I believe most of this issues are addressed now.

[2017-07-20 07:44] #203 closed, assigned to nobody

[2017-07-20 07:46] jjgomezcadenas commented on #178
Progress here, @gonzaponte, @jmbenlloch?

[2017-07-20 07:47] jjgomezcadenas commented on #177
Solved by new interface

[2017-07-20 07:48] jjgomezcadenas commented on #156
This should be fixed now.

[2017-07-20 07:48] #156 closed, assigned to nobody

[2017-07-20 07:49] jjgomezcadenas commented on #242
This should be clear now.

[2017-07-20 07:49] #242 closed, assigned to nobody

[2017-07-20 08:43] Aretno commented on #263
Yes, I have. I think @jahernando also had this issue. I tipically get "assert" values between 3-5.

[2017-07-20 08:54] gonzaponte commented on #266
A tiny production has shown agreement between twf and rwf. @jmbenlloch wants to propagate the changes in the database required for this check to the official db and recheck with the small production we are going to use for debugging.

[2017-07-20 08:59] gonzaponte commented on #178
We coded a `try: ... except: ...` protection scheme in `Dorothea` which is the city that triggered this issue. Now it depends on whether we want to implement this protection within the `read_pmaps` function. My position here is that we should not, but it is open for discussion.

[2017-07-20 10:51] jjgomezcadenas commented on #263
This is very funny. It never appears in my local or in TRAVIS. Not sure what is best here.

[2017-07-20 10:55] jerenner commented on #263
I am also getting a failed test on my Mac with invisible_cities/reco/sensor_functions_test.py:47: AssertionError with:
E           assert 3.992222624122006 < 1

[2017-07-20 10:55] jjgomezcadenas commented on #178
The new version of IC does not appear to include this protection. Will you please check and suggest where it should go?

[2017-07-20 11:01] gonzaponte commented on #178
It is already implemented in KrCity:
[code]

[2017-07-20 11:03] jjgomezcadenas commented on #178
Sorry, of course1 This is the best place to implement that protection, I think (it is the city that worries about its own business, while the free functions do not need to). Thus, I think we can close this issue.

[2017-07-20 11:03] #178 closed, assigned to nobody

[2017-07-20 11:04] jjgomezcadenas commented on #263
I cannot reproduce this error locally. Are u running the last version of the code?

[2017-07-20 11:06] jerenner commented on #263
I got the error this morning when running the code on Alex's branch debug-cities

[2017-07-20 12:30] jmbenlloch commented on #263
Maybe is some old binary file (pyc or whatever), you could try running: `bash   manage.sh clean` and then `source manage.sh work_in_python_version 3.6` again.

[2017-07-20 13:43] Aretno commented on #263
No improvement on my side with the cleaning.

[2017-07-20 13:46] jerenner commented on #263
The cleaning does not seem to help for me either

[2017-07-27 07:41] jjgomezcadenas commented on #266
I think this is fixed. New productions seem OK.

[2017-07-27 07:41] #266 closed, assigned to gonzaponte

[2017-07-27 07:41] jjgomezcadenas commented on #36
We have chosen MIT. Legals added to /doc

[2017-07-27 07:41] #36 closed, assigned to jmbenlloch

[2017-07-27 07:43] jjgomezcadenas commented on #108
After many months of work it is clear that ICARO is just a client of IC, but we have no way to enhance IC standards there (too fast development and NB driven development). We will need to reckon with ICARO at some other time, if ever.

[2017-07-27 07:43] #108 closed, assigned to jjgomezcadenas

[2017-07-27 18:22] paolafer opened #281 "Request for a new exception"
I'd like to add a new exception to be raised when no clusters are found in a slice. At the moment SipmEmptyList is raised, but it's misleading, in my opinion. I propose a ClusterEmptyList exception, instead.

[2017-07-27 19:00] jjgomezcadenas commented on #281
Go ahead, write a small branch and make a PR. Get @abotas to help you

[2017-07-27 19:03] jjgomezcadenas opened #282 "type hint:"
I propose that we start to use type hints seriously:

For example:

    @staticmethod
    def valid_peak(peak : Peak,
                   energy : minmax, width: minmax, height : minmax) -> bool:
        """Returns True if the peak energy, width and height
        is contained in the minmax defined by energy, width and
        height.

        """
        f1 = energy.contains(peak.total_energy)

[2017-07-27 19:41] jacg commented on #282
Sounds good. But please specify Duck Types rather than concrete types wherever sensibly possible.

[2017-08-01 10:24] gonzaponte opened #286 "__len__ method in S1/S2/S2Si classes"
Can we add the __len__ method to the S1, S2 and S2Si classes? I would find it very comfortable for analysis.

[2017-08-01 10:28] gonzaponte commented on #286
Sorry, I missed the `number_of_peaks` property in `S12`.

[2017-08-01 10:28] #286 closed, assigned to nobody

[2017-08-03 09:41] paolafer opened #287 "MC true information"
I'm looking at a file of pmaps produced recently (last week) with irene, starting from a RWF file that @jmbenlloch gave me, and it looks like only the information of the first event is saved. I remember that it was an issue @jerenner and I were having a couple of months ago in Geneva, hasn't it been solved yet? It is quite important to have true info in order to understand the performance of coron

[2017-08-03 10:28] jjgomezcadenas commented on #287
I think the events are saved by the event_indx is always zero. I will investigate today, if I can, before travelling. Otherwise @jmbenlloch, try and take a look, it must be a trivial problem.

[2017-08-03 11:25] jjgomezcadenas commented on #287
Hola, I confirm that there is a problem with the index of the MC (e.g, MC number).

1. The MC index (number) in MCRD files starts at 0 and runs sequentially (0, 1, 2, ...) the MCRD files appear to be correct.

2. In the RWF (after DIOMIRA), we have written a "generated number" (obtained from the file name), which does not change. So there is a bug somewhere (we should be adding the MCRD index, to

[2017-08-09 10:46] gonzaponte opened #288 "Wrong definition of rms in barycenter"
In the `barycenter` function coded in [invisible_cities/reco/xy_algorithms.py](https://github.com/nextic/IC/blob/f5aef7b8b58f3173e52ee17eb979122dd1a6fd07/invisible_cities/reco/xy_algorithms.py) we have:
[code]
Which is the variance, not the standard deviation. I think this is not intented, but correct me if I am wrong.

[2017-08-09 10:50] paolafer commented on #288
@abotas and I were wondering a good while on this, once, and in the end we concluded that the way this code is used in IC is correct. If one should change the name of the variable, that is another issue ...

[2017-08-09 10:52] gonzaponte commented on #288
Where is it used?

[2017-08-09 16:24] jjgomezcadenas commented on #288
Yes its the variance and treated as such in all parts of the client code... but the name is wrong!

Enviado desde mi iPhone

[2017-08-09 16:24] jjgomezcadenas commented on #288
Precisely. Correct use wrong name

Enviado desde mi iPhone

[2017-08-09 16:25] jjgomezcadenas commented on #288
Look in the tests

Enviado desde mi iPhone

[2017-08-09 16:31] gonzaponte commented on #288
In my opinion, using the standard deviation is more appropriate than the variance, but as long as we are consistent it is fine with me. This affects the Cluster class as well, which has everything named std.

[2017-08-10 13:04] #287 closed, assigned to nobody

[2017-08-23 09:31] abotas opened #296 "I think cpf.correct_s1_ene(s1.s1d, csum) in PmapCity doesn't do anything anymore"
I could be wrong but I've checked for some events and I think this line of code doesn't do anything anymore. line 524 in base_cities.PmapCity.pmaps

`s1 = cpf.correct_s1_ene(s1.s1d, csum)`
I think the input s1 and output s1 are the same is this true?

Can we get rid of it? or am I missing something?

[2017-08-23 09:38] jjgomezcadenas commented on #296
Yes it doesn’t do anything anymore, a fossile!

[2017-08-23 17:07] Aretno opened #299 "Failure in two diomira tests."
I updated today to the current status of nextic/master and now two diomira tests are failing (in addition to the blr one mentioned in https://github.com/nextic/IC/issues/263). Using python 3.6. I tried to do a clean also just to make sure nothing was messing with it.

[code]

[2017-08-23 19:50] jjgomezcadenas commented on #299
Have you compiled cython (source manage compile_and_run)

[2017-08-24 06:24] Aretno commented on #299
Yes, I think after the clean the setup does the compile automatically. I tried to do it again, this was the output (mostly deprecated numpy API warnings and two warnings on pmaps_functions_c which shouldn't affect Diomira, if I'm not mistaken)

[code]

[2017-08-24 08:04] jjgomezcadenas commented on #299
This is OK, cython just being chatty...

[2017-08-24 09:28] jjgomezcadenas commented on #296
Ale, please, submit PR to get rid of this fossil.

[2017-08-24 09:29] jjgomezcadenas commented on #296
@abotas please, submit PR to get rid of this fossil.

[2017-08-24 09:30] Aretno commented on #299
I don't know if this is solved, on my last post I just copied the part of chatty cython but the test failure still happened afterwards. Sorry, I did not explain myself properly.

[2017-08-24 09:30] jjgomezcadenas commented on #288
@gonzaponte can you submit a PR where all the (wrong) "std" names are consistently changed to "var" names?

[2017-08-24 09:36] jjgomezcadenas commented on #282
OK, then if everybody agrees, @abotas, @gonzaponte, @paolafer, @jmbenlloch, @jerenner, @jacg let's try to write all new functions with type hints.

http://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html
http://mypy.readthedocs.io/en/latest/kinds_of_types.html
http://mypy-lang.org/examples.html

[2017-08-24 09:37] jjgomezcadenas commented on #281
Already done

[2017-08-24 09:37] #281 closed, assigned to nobody

[2017-08-24 09:37] jjgomezcadenas commented on #247
Already fixed

[2017-08-24 09:37] #247 closed, assigned to jmbenlloch

[2017-08-24 09:41] jmbenlloch commented on #299
I think we have an issue with the versions of the dependencies we use. @Aretno can you execute ` conda env export` on a shell where you have the IC env and copy here the output?

[2017-08-24 09:43] jjgomezcadenas commented on #299
Now, this is strange, tests are not failing in any other machine that I know, including Travis. All the errors seem to be related with cython. Which version doyou have (cython --version)? which version of conda (conda --version)?

[2017-08-24 09:48] Aretno commented on #299
@jmbenlloch

[code]

@jjgomezcadenas

[code]

[2017-08-24 10:01] jjgomezcadenas commented on #299
My conda version is 4.3.21. Cython version is the same.

[2017-08-30 10:45] gonzaponte opened #307 "Command line options not working properly"
Some command line options are not working properly. For example:

- -n, --nevents. It does not work because the variable used in cities is named nmax,
- --runall. This one is simply ignored.
- -s, --skip. This one is also ignored.
- -f, --first-event. This one is also ignored, and should be the same as -s.

I have only checked the -n option, but I didn't find anything about the others in the code.

[2017-08-30 10:48] gonzaponte opened #308 "nmax option not stopping execution right away in Dorothea"
When using a value of nmax inferior to the number of events, the program keeps looping over files. This happens *at least* in Dorothea, but I think it is something common to all cities.

[2017-08-30 12:04] gonzaponte opened #309 "Current version of Dorothea awfully slow"
The current version of Dorothea is running very slowly. I have compared the timing between this version and the (very) old and stable version we use by default. The outcome for 100k events:
old version: 146.9 s
new version: 742.8 s (5x slower!)

This is making the data processing very tedious. I guess this somehow goes back to the big refactorization of the cities.

[2017-08-30 12:17] jacg opened #310 "Many warnings while running tests"
Starting at version 3.1 pytest displays warnings that were raised during the tests' excution.

Our test suite produces a few screenfuls of warnings. These need to be analyzed and

1. if the warning points at an error in our code, the code needs fixing

2. if the warning is a false positive, the code needs to be rewritten in a way that silences the warning.

[2017-08-30 12:19] jacg commented on #309
Can I perform such a run with data available in our repo?

[2017-08-30 12:23] jacg commented on #299
What is the status of this?

A completely fresh check out and install of IC and all its dependencies, from scratch, works fine here.

[2017-08-30 12:24] gonzaponte commented on #309
We have a few pmaps in database/test_data/KrMC_pmaps.h5, but I don't know if that is enough for timing purposes.

[2017-08-30 12:28] gonzaponte commented on #310
They are, mainly, attempts to operate with empty arrays or divisions by 0. We handle this situation in the code *after* the warning is issued. We do that because numpy returns `nan` in those cases. I see two options:
1. `np.warnings.filterwarnings('ignore')`, which I don't think you will approve.
2. define functions that handle these cases. For instance, we could define and use `mean_handle_empty`

[2017-08-30 12:29] jacg commented on #307
We need automated tests for these.

There are two options:

+ execute a command line and parse the output (ugly, flaky, but less likely to bypass something important in the chain)

+ feed a fake `argv` directly into a python function, and check the return value (much cleaner, but it might miss some step which could give rise to errors)

[2017-08-30 12:35] jacg commented on #310
Have you any idea how ugly the code would get if we tried to prevent the situation from arising in the first place?

How did you guess?

Much better!

[2017-08-30 12:42] jjgomezcadenas commented on #307
I have assigned fixing this and automated tests to @gonzaponte and @jacg OK?

[2017-08-30 12:47] jjgomezcadenas commented on #309
This issue brings up two different questions.

1. Providing data not in the repository. This is needed for instance when we want to run with large files. We can use the gallery (e.g, our http server at neutrinos), or a shared space in our servers (e.g, neutrinos). We would need to open an account for @jacg in neutrinos but this is trivial. What do you prefer? (solutions are not mutually exclusive)

[2017-08-30 12:47] gonzaponte commented on #310
Well, I must admit, that I find not very pleasant to define functions such as
[code]
Because numpy already does this check internally (and it can actually handle empty arrays), only that it does issue a warning. But I guess there is no other option.

[2017-08-30 12:47] gonzaponte commented on #307
ok

[2017-08-30 12:48] jjgomezcadenas commented on #310
Not obvious to me. Perhaps we can live with the warnings specific to this type of issue, no?

[2017-08-30 12:49] gonzaponte commented on #309
it is fine with me

[2017-08-30 13:04] jacg opened #311 "Parallel test speed"
Could you all please run

1. `time bash manage.sh run_tests`
2. `time bash manage.sh run_tests_par`
3. `time bash manage.sh run_tess_par N`, for different values of `N`.

and report the times you see, along with the number of processors on which ran the timings.

Here are my results:

1. `run_tests`: 50s
2. `run_tests_par 2`: 36s.
3. `run_tests_par 3`: 28s.
4. `run_tests_par 4`: 26s.
5. `run_tests

[2017-08-30 13:06] jacg commented on #309
LFS!

(At a reasonable price scheme: we'll have to check how the landscape has evolved since I looked into this a few months ago.)

[2017-08-30 13:13] jacg commented on #310
No! Absolutely no way!

Having screens full of warnings go past every time you run the code, desensitises you to all sorts of messages and drowns out any signal that there might be buried in the noise. Sooner or later this causes you to miss something important.

**Thou shalt heed warnings and either fix the issue to which they alert you, or silence the false positive.**

(I'm still extremely piss

[2017-08-30 13:13] gonzaponte commented on #311
real or user?

[2017-08-30 13:17] jacg commented on #311
We care about how long you have to wait until you see the full results of the test suite, so wall clock, however that happens to be labeled in your version of the shell. (In my case, `total`).

Also note that the variance in the timings in nontrivial. (I just got a 26s run on 8 CPUs, compared to the earlier 33s.)

[2017-08-30 13:20] jacg commented on #309
I'm happy to be assigned, as long as you realize that the time I have available for IC will be very sporadic in the coming weeks/months, so don't expect anything to happen any time soon.

[2017-08-30 13:23] jjgomezcadenas commented on #310
Amen.

[2017-08-30 13:26] jjgomezcadenas commented on #309
@gonzaponte should take the lead on this since Dorothy is her girl. But he can always use the support of the master.

[2017-08-30 13:30] jacg commented on #309
Please give me the command I should issue to get the longest Dorothea run I can get with what is currently in the repo.

[2017-08-30 13:38] gonzaponte commented on #309
`city dorothea $ICDIR/config/dorothea.conf`

[2017-08-30 13:44] jacg commented on #309
Yup ... which takes the `KrMC_pmaps.h5` file you mentioned earlier, which runs 10 events in about 0 seconds ... so I'll need a bit more to work with.

[2017-08-30 13:51] jacg commented on #309
Do we have *anything* in the repo that will allow me to run *any* city for 10 seconds or more?

[2017-08-30 13:59] gonzaponte commented on #309
I don't think so. The files we have in the repo are there so we can run tests, but since we don't need many events for that, the files are filled with the minimal amount of data.

[2017-08-30 14:11] jjgomezcadenas commented on #309
As a temporary fix, @gonzaponte can you put the file you used for your Dorothy tests somewhere accessible to @jacg ?

[2017-08-30 14:29] gonzaponte commented on #309
Yes, is a link to google drive (or a similar service) ok? I can share a password-protected zip file with the data.

[2017-08-30 15:16] jacg commented on #310
I'm trying a more fine-grained version of this ... but strange things are happening. Anyway, I hope to be able to avoid having to write stuff like

    return np.mean(array) if array.size else np.nan

so don't waste your time on doing stuff like that, for now.

[2017-08-30 15:18] gonzaponte commented on #310
Actually, I am almost done with that...

[2017-08-30 15:21] jacg commented on #310
Which version? filter warnings, or change the functions?

[2017-08-30 15:22] gonzaponte commented on #310
The functions

[2017-08-30 15:23] jacg commented on #310
Well, OK, stick it in a PR. If I ever get the filtering to work satisfactorily we can compare and pick the one we prefer.

[2017-08-30 15:37] jacg commented on #310
OK, I'm convinced that the targeted filtering apporach is not going to work satisfactorily. Go ahead with yours.

[2017-08-30 15:37] gonzaponte commented on #310
By the way, half of the warnings were coming from float overflows. Setting limits to hypothesis solves it, so it does not need fixing the code, just the tests.

[2017-08-30 16:18] jacg commented on #263
What is the status of this? Are these tests still failing for anyone?

[2017-08-30 16:20] jacg commented on #253
This has been picked up in #312 and will be addressed in a forthcoming PR. The warnings must be silenced.

[2017-08-30 17:00] jacg commented on #309
Should work.

[2017-08-30 17:16] gonzaponte commented on #309
https://drive.google.com/open?id=0B5Om0RlXo1xGOUtKVUpUaGJLdWc

[2017-08-30 17:36] jacg commented on #309
Got it. How should I use these? I tried feeding one of them to Dorothea, and got

    sqlite3.OperationalError: no such table: ChannelGain

[2017-08-30 17:38] gonzaponte commented on #309
Mmm. Have you updated the database? You should also use run_number 4446, just in case.

[2017-08-30 17:48] jacg commented on #309
The problem was caused by me having checked out the `git-lfs` branch in the meantime, which got me an old version of the database.

What is the exact command I should give? It now runs, but under 2 seconds.

[2017-08-30 17:53] gonzaponte commented on #309
`city dorothea $ICDIR/config/dorothea.conf -r 4446 -i 'data_jacg/*' -o outputfile.h5` should work. But ***first*** you need to change nmax to -1 in the configuration file, because the command line option is not working.

Edit by @jacg: added quotes around `data_jacg/*`.

[2017-08-30 21:19] jjgomezcadenas commented on #309
Quick suggestions. Check event_index in the tables... in for some reason we have forgotten to index the tables in the pmaps writers, Dorothy will run much slower..

[2017-08-30 21:22] #310 closed, assigned to nobody

[2017-08-30 21:24] gonzaponte commented on #309
Ok, we need to fix that and reprocess then. It will have a big impact, for
sure.

[2017-08-30 21:26] jacg commented on #309
Which means that the command line options need to be fixed first. Let's see if I can find the time to do it tomorrow.

[2017-08-30 21:49] jacg commented on #307
Which name do we prefer `nmax` or `nevents`?

[2017-08-30 21:51] jacg commented on #307
Let's pick one of them. Which one?

[2017-08-30 22:16] jjgomezcadenas commented on #307
-nmax
-f

[2017-08-31 08:21] jacg commented on #307
Just like I prefer `first-event` over `skip` because it contains 'event' and therefore self-documents what it is talking about, I would prefer `nevents` over `nmax`.

[2017-08-31 08:54] gonzaponte commented on #307
I suggest `n-events-max` and `first-event` to make everybody happy.

[2017-08-31 08:59] gonzaponte commented on #309
I can work on it, if you want.

[2017-08-31 09:00] jacg commented on #307
That's what I was going to suggest.

[2017-08-31 09:08] jacg commented on #309
I'll have a couple of hours this afternoon to try to come up with some sensible tests.

[2017-08-31 09:11] jacg commented on #309
Errm, sorry, forget that, wrong issue! I'll try to write some tests for #307.

[2017-08-31 10:28] gonzaponte commented on #308
I need the input from the master here. I don't feel comfortable calling the method `max_events_reached` in `file_loop` as a means of deciding to stop the loop because it would print a message for a second time.

What do you feel is the best option?:

1. `event_loop` to return a `forced_stop` flag that is used by `file_loop` to decide whether to stop or to carry on with the loop.

2. Use a flag in

[2017-08-31 10:40] abotas commented on #308
This also happens in irene - i think ya probably everywhere

[2017-08-31 11:03] gonzaponte commented on #309
I have checked that the tables are indexed. In `pmap_io.py ->  _make_pmp_tables`:
[code]

So it must be something else, I am trying to figure it out.

[2017-08-31 13:52] abotas commented on #311
@gonzaponte i think for is it is real
run_tests: 39s
run_tests_par 2: 22s
run_tests_par 3: 26s
run_tests_par 4: 28s
run_tests_par 5: 30s

[2017-08-31 14:00] abotas opened #315 "pmap constructors should do something smart when they are initialized with empty dicts"
Right now I think they all build empty pmap classes.

the best thing I can think to do is to have them raise an icexception if initialized with empty dicts. In this case we would also have to change code in other places to catch the exception. This should speed up pmap cities a little. But it's not backwards compatible in the sense that people making pmaps using peak/pmap functions in a notebook,

[2017-08-31 14:07] gonzaponte commented on #315
I don't know what you mean. What is the point in not letting the user initialize them as empty?

How?

[2017-08-31 14:51] abotas commented on #315
I mean in the classes S1, S1Pmt, S2Si, etc we can immediately raise an exception if they are initialized with empty dictionaries. I cant think of how they could be useful empty, and maybe by immediately raising an exception we avoid some overhead, at least by avoiding initializing all their base classes.

In `irene--> PmapCity.pmaps --> peak_functions_c.find_s1/s2/s2si`,
For each event:
1) we cons

[2017-08-31 15:00] gonzaponte commented on #315
Ok, I see. I don't think raising an exception is necessary, though. For me, rearranging the code so it does not generate empty instances is enough (and great!). I might be thinking about a non-existing case where it is useful to have the flexibility of empty classes, so I would like to hear what the bosses have to say.

[2017-08-31 15:19] abotas commented on #315
We can definitely avoid exceptions if we want. But with the way the classes are implemented now pmap class instances really need to be replaced to be changed, so empty instances i dont think can be useful.

For ex: If you have an empty s2, and then say s2.s2d = {peak1:blah, peak2:balh}, and then say s2.peaks[peak1], you will get a key error even though you've filled s2d. This is because s2.peaks i

[2017-08-31 17:29] jjgomezcadenas commented on #315
I think rising an exception when init with empty dict (something that should not happen) is mandatory...:)

[2017-09-01 03:22] abotas opened #319 "icusers in canfranc are not seeing when their jobs have crashed"
icusers have rerun IC-dev in canfranc over a few different runs and isotopes now. The the dev irene version of irene has been run tens of thousands of times and crashed probably hundreds of times. But no one knew this was happening. We send the jobs to a queue system so maybe the prints and errors are being written to a file somewhere? Even if the output is written somewhere i guess no one is seei

[2017-09-01 06:32] jjgomezcadenas commented on #319
This is a vert imporrtant point. Comments @jmbenlloch?

[2017-09-01 07:31] abotas commented on #319
I should also mention i've hacked together the fix for IC-dev in canfranc and run a couple small productions check my [PR](https://github.com/nextic/IC/pull/320) fixed the bug and to make sure anyone runs anymore dev productions in the immediate future doesn't lose events to this bug.

So IC-dev in canfranc has been quick fixed, but now IC-dev in canfranc is not consistent with any version of next

[2017-09-01 09:38] gonzaponte commented on #319
The output of the jobs is stored, although it is currently saved in an obscure and painful way. The name of the log file is of the form `.oXXXXXX`. Notice the `.` at the beginning, making it difficult for the enemy to find the file. This should be fixed in the `irene_prod.py` script by JM.

And, since we are talking about that, I propose a new repository in the IC family where we store and version

[2017-09-01 09:48] abotas commented on #319
The `.` is very sneaky... I didn't see the files.

[2017-09-01 09:59] abotas commented on #319
Still, I agree that it would be nice to make this more obvious. Also for large runs there are many of these `.0XXX` files and you have to do a lot of scrolling to search them entirely. If it is easy to add something that tells us if and where there was a crash i think that would be very helpful.

Otherwise we are responsible for searching through at least a few of these log files to check for cras

[2017-09-01 10:02] gonzaponte commented on #319
When there is an error, a `.eXXXXX` file should be produced, I think. After that, it is easy to check whether it has been a crash or not.

[2017-09-01 10:06] abotas commented on #319
Ahhh ok, that makes things much easier! In that case at least when we run the IC-dev repo we need to check to make sure there are none of those files. Who else is running IC-dev and needs to know this? At least @jerenner

[2017-09-01 10:55] jjgomezcadenas commented on #319
Agreed we need a repo to store prod. Ugly name: icprod. Pretty name: Ceres (Godest of Earth). Vote.

[2017-09-01 11:21] Aretno commented on #263
It still does for me. I think @jmbenlloch also saw these tests failing in Canfranc computers.

[2017-09-01 11:22] Aretno commented on #299
I still have the same problems, I have tried to do a clean install of IC (but not of the dependancies that live in conda) and still having the same failures.

[2017-09-01 11:37] gonzaponte commented on #319
I haven't found a good name with "IC" in the name. I like Ceres.

[2017-09-01 11:38] jacg commented on #263
I suggest that you move your conda installation out of the way (`cp $HOME/miniconda $HOME/miniconda.moved-away`) and then do a full `source manage.sh install_and_check 3.6` in a fresh shell)

This should tell us whether its caused by some feature of your machine, or some feature of your existing conda state.

Same for #299.

[2017-09-01 11:46] abotas commented on #319
Me too ceres!

[2017-09-01 12:50] jacg commented on #307
What is the relationship between `--run-all` and `--n-events-max` (née `--nevents`) supposed to be?

[2017-09-01 12:52] gonzaponte commented on #307
I was just writing about that. `--run-all` is supposed to override `--n-events-max` so all events are processed. But since we can put `-n -1`, I think it is redundant.

[2017-09-01 12:55] Aretno commented on #263
Indeed it seems it was something in my conda, now this tests and those of #299 seem to be fixed. However I have a new one:

[code]

[2017-09-01 13:08] jacg commented on #263
Does this happen consistently, or have you tried it only once?

[2017-09-01 13:15] Aretno commented on #263
No, I checked right now and it does it randomly. I suppose it's because I have the PC overloaded with stuff. One thing to note is that I had anaconda installed instead of miniconda, maybe other users experimenting this issue also had anaconda.

[2017-09-01 13:19] gonzaponte commented on #263
I don't know if you remember, @jacg, but when we were testing the module `fit_functions.py` we found that hypothesis had problems with generating "big" arrays. We found the limit to be 1024 elements. This might have changed in recent releases, but I haven't found yet anything in the [changelog](https://hypothesis.readthedocs.io/en/latest/changes.html), although there have been a few twiches to the

[2017-09-01 13:30] jacg commented on #263
If you mean that it is running lots of other things at the same time, then that could well be the case. The health check merely signals that hypothesis is struggling to come up with valid examples in a reasonable amount of time.

@gonzaponte Yes, I remember, but I don't see what that could have to do with the current case. This particular test has a hard limit of 1000, so we cannot exceed that. If

[2017-09-01 14:01] jacg commented on #263
Unlikely (but not impossible).

Miniconda and anaconda are essentially the same thing, the main difference is that miniconda installs a bare minimum of packages at the beginning, and then you can install extra ones as you need them. Anaconda assumes you are going to need just about every package in existence and installs millions of them during the initial install. Apart from that, its the same pa

[2017-09-01 14:23] Aretno commented on #263
Yes, I meant running several things at once, I'll try to run the tests again when I'm not running anything else and let you know, thanks!

[2017-09-02 09:57] #288 closed, assigned to nobody

[2017-09-05 08:33] #315 closed, assigned to nobody

[2017-09-05 08:45] jacg commented on #307
Given that `--run-all` and `--n-events-max` (and their corresponding config file entries) can give rise to contradictory information, I think that we should do one of the following:

+ Raise an exception if these two settings contradict eachother
+ Eliminate `--run-all` altogether, and make an absence of `--n-events-max` imply 'run all'.

I am strongly in favour of the latter.

[2017-09-05 09:13] gonzaponte commented on #307
Me too.

[2017-09-05 09:39] jjgomezcadenas commented on #307
Me2

[2017-09-05 11:59] jacg commented on #307
Of course, the absence of `--n-events-max` on the command line (or the absence of `n_events_max` in a config file) should *not* override a setting of the option lower down in the configuration implicitly, but an *explicit* override should be possible.

I see a number of ways of doing it:

1. use `-1`  (or any negative number) to mean 'run_all'
2. use `0` to mean 'run_all'
3. use `None` to mean run

[2017-09-05 12:22] gonzaponte commented on #307
Are you saying that you do not prefer option 5 as the best option EVER? ;)

Some comments:
- Option 1 is very old-fashioned. I think *art* uses it, @jjgomezcadenas will then say "HELL NO", however, I am comfortable using it.
- Options 2-4 seem a bit odd... What does run "run 0/None/False" events mean? You may say "What does run -1 events mean?"... But it seems more natural to me.
- Can you expand

[2017-09-05 12:32] jacg commented on #307
Of course option 5 is the best ever ... exept for this line in the Zen of Python

The absence of such a type from the standard library, or even PyPI, would require us to create such a type, and it doesn't seem a very practical approach in this context.

It seems quite weird, doesn't it? But if you take into account that we have renamed this option as `--n-events-max`, the question turns into 'what

[2017-09-05 12:33] jacg commented on #307
... as for option 5, while I'd love to play with an implementation of it, I really don't have time for that right now.

[2017-09-05 12:42] gonzaponte commented on #307
I guess you have already checked [PyMonad](https://pypi.python.org/pypi/PyMonad/).

[2017-09-05 12:59] jacg commented on #307
I have, though it's been a long time since I took a close look at it. There's too much stuff there and I don't think we want to let it anywhere near IC ... just yet ... coz once you let the genie out of the bottle ...

Actually, I'm not sure when @jjgomezcadenas was planning on telling you that for the next major version IC will be rewritten in Haskell. When he does, you'll realize that we won't n

[2017-09-05 13:07] gonzaponte commented on #307
He has been leaking something here and there... I will resume my Haskell learning soon then...

[2017-09-05 13:55] jacg commented on #307
After struggling with the implementation a bit (`None` has all sorts of other meanings deep within our handling of the configuration) I propose another approach:

rather than `--n-events-max None` on the CLI and `n_events_max = None` in the config files, I propose that we have something like

`--n-events-max All` and `n_event_max = All` in order to explicitly override any limits set lower down in

[2017-09-05 13:56] gonzaponte commented on #307
`All` as a variable or as a string?

[2017-09-05 13:58] jacg commented on #307
As a singleton *object* whose type is not `str` and whose sole purpose is to identify that situation. A Lisp symbol, if you like.

[2017-09-05 14:01] jacg commented on #307
The first-order implementation of `All` (or whatever we would call it) might be

    class All:
        pass

We would probably want to endow it with a helpful docstring.

[2017-09-05 14:05] jacg commented on #307
I prefer the class approach to the perhaps more obvious

    All = object()

because

1. The class has more informative `__repr__` and `__str__`.
2. There's somewhere to put a docstring.

Alternatively, we could write a symbol type, but I'm reluctant to do that until we have more than one symbol.

[2017-09-05 14:31] gonzaponte commented on #307
Conceptually, we just want a more obvious version of `n_events_max = -1`, right? So we could simply do `All = -1`. Another option is to implement the comparison operators for an empty class `All` so it does never stop the loop.

We would still have to handle the "All" (string) coming from the CLI, wouldn't we?

[2017-09-05 16:17] jacg commented on #307
Not really. As you pointed out yourself, semantically it doesn't make sense.

Urgh! I know that a lot of Python libraries do that sort of thing, but that's because they were written by people who don't know better: people who don't realize how useful symbols are (and have probably never thought about the concept). The same goes for those who use strings instead of symbols (e.g. matplotlib), althou

[2017-09-05 16:18] jacg commented on #307
Yup. No problem.

[2017-09-05 16:30] gonzaponte commented on #307
Sorry, I didn't mean to *actually* use `All = -1`, it was rather a picture in my mind. I agree that `All` should be a symbol, or something very similar and that, for that purpose, enumerations sound good.

[2017-09-05 16:34] jacg commented on #307
Until we have more than one of symbol relating to the same concept, I think that `Enum`s are more trouble than they're worth. I'll go with `class All: pass` for now.

If and when we need anything more sophisticated, let's try the `enum` module.

[2017-09-05 17:44] gonzaponte commented on #311
Results in Canfranc (12 CPUs):
[code]

Although I think these results may be compromised by other people using the machines.

[2017-09-05 20:17] jacg commented on #307
Summarizing the state of play:

+ `--skip` which was a synonym for `--first-event`, has been removed.
+ `--nevents` (known as `nmax` in the code) has been renamed `--n-events-max`.
+ `--run-all` has been removed and replaced with `--n-events-max All`.

[2017-09-05 20:18] jacg commented on #307
`--print-mod` is used in the CLI, but `nprint` is used in the config files. Which do we want to keep? Or do we want to change it to something else?

[2017-09-05 20:33] jacg commented on #307
For testing purposes I need a combination of city + test data file which will process all events in the file as quickly as possible, but there should be a number of events (not just a single one) in the file.

Which city + data file is best suited for this?

[2017-09-05 20:38] jjgomezcadenas commented on #307
Sorry about being so quiet about this whole thing (may best for everybody),  very busy days just back in Spain.

Also, I see that the master has disclosed that IC2.0 will be written in Haskell. I am sure everybody in NEXT will be happy about it!

As for city + data. Probably best to use Penthesilea, which has full input output but light input (PMAPS) (while Irene, for example has RWF files which a

[2017-09-05 20:52] jacg commented on #307
`KrMC_pmaps.h5` should do the trick, shouldn't it? It contains 27 events, and they get processed at 0.002 s / event.

[2017-09-05 20:57] jjgomezcadenas commented on #307
yes, I think so

[2017-09-05 21:39] jacg commented on #307
How many events should be processed with CLI flags `--first-event 10 --n-events-max 15` (assuming that there's a bazillion events in the file)?

+ 6 (events from 10 to 15 inclusive)
+ 15 (15 events starting with event 10)
+ something else?

[2017-09-05 22:22] jjgomezcadenas commented on #307
I assume first answer is right

[2017-09-06 05:44] jacg commented on #307
If that is the case, could we please replace `--first-event` and `--n-events-max` with a single parameter called something like `--event-range`?

[2017-09-06 06:13] jjgomezcadenas commented on #307
absolutely

[2017-09-06 06:32] jacg commented on #307
In which case I await confirmation from @gonzaponte, @jmbenlloch, @abotas, and anyone else who cares, that this is indeed the interpretation we want.

If we go ahead with this, how about something like:

+ `--event-range first last`
+ `--event-range first 10`
+ `--event-range 20 last`

It might even be possible to make a shortcut for the first

+ `--event-range all` (but here it would be prudent t

[2017-09-06 07:36] jacg commented on #308
It worries me that every time a city implements an `event_loop` method, this whole bunch of cruft has to be recoded from scratch, in an ad-hoc way.

+ There is very little code reuse.
+ This gives plenty of scope for the implementor to get it wrong.
+ Each new incarnation would need to be tested separately, and for some cities this will give rise to some very slow tests.

(And the counter class th

[2017-09-06 08:08] jjgomezcadenas commented on #308
The code in the cities has not quite been implemented ad-hoc. It has been written and rewritten many times, and in fact a lot of cruft has been taking away since early versions. A lot has already been abstracted (e.g, file loop).

What remains (event_loop) is what makes one city different from the others. *Almost*. Let me explain.

These are the cities in IC at this moment.

*DIOMIRA* which transf

[2017-09-06 08:36] jacg commented on #308
No, but I am specifically referring to the need to repeat, in its full, ugly, tedious and error-prone glory, the logic of skipping events, in every single implementation of `event_loop`. This is being done ad-hoc even though it's almost identical for all cities. This is **bad**.

The fact that event skipping has been completely broken until now, is largely a consequence of this ad-hoc rewriting of

[2017-09-06 09:21] gonzaponte commented on #307
`print-mod` seems more obvious

The data in that file are the PMAPS for events 23-51. Some of those events contain only S1, some of them contain only S2, and some of them contain both. I think it works well for your purposes.

I would interpret it as "run 15 events starting at event 10".

Sound good to me.

Why `all` and not the symbol `All`?

An abbreviation for `--run number` that is not `-r` so

[2017-09-06 09:23] jacg commented on #307
Do we agree that `--event-range 10 20` should give us 10 events? I.e. event-range should define a semi-open interval, just like Python's ranges and slices?

[2017-09-06 09:24] jjgomezcadenas commented on #307
agree with @gonzaponte and also agree with semi open interval a la python, as suggested by @jacg

[2017-09-06 09:28] jacg commented on #307
It's a minor N-th order point: I'm just trying to be nice to the user and not force annoying capitalization in the middle of commands.

[2017-09-06 09:29] jjgomezcadenas commented on #307
Seems indeed a nice thing to do.

[2017-09-06 09:35] gonzaponte commented on #307
I do.

Ok.

[2017-09-06 09:35] jacg commented on #307
OK, here's a second iteration concerning the `--event-range` interface:

+ `-e all` : all events in the files
+ `-e 34` : first 34 events in the files
+ `-e 10 15` : 5 events, starting at number 10
+ `-e 12 last` : skip the first 12 events (I trust that event numbers start at `0`)

How does that look?

I welcome suggestions for a short synonym for `all` that does not clash with a Python builtin.

[2017-09-06 09:40] gonzaponte commented on #307
Looks good to me.

full?

[2017-09-06 09:46] jacg commented on #307
`full` fits well with `--event-range`. It bothers me a bit with `-e` because I guess I was thinking of `-e` as 'events'. Which raises the question: do we prefer `--event-range` or `--events`?

[2017-09-06 09:54] gonzaponte commented on #307
`--event-range` fits better, I think. But then the case `--event-range X` to run the first X files can be misleading.

[2017-09-06 11:11] paolafer opened #328 "Crash in voxelize_hits paolina function when only 1 hit is present"
I've realized that the function voxelize_hits in paolina_functions gives an error when the collection of hits is composed of just 1 item. This happens because the calculated boundaries are the same and the number of bins is zero. However, the correct behaviour should be that one voxel be built, so the number of bins be 1.

[2017-09-06 11:20] jacg commented on #328
Please add a test to `paolina_functions_test.py` detailing your expectations. Start a PR with that test in it.
Once that's in place, someone (possibly me, if I have the time) can make it pass.

[2017-09-06 13:28] jacg commented on #328
This is addressed in #329.

[2017-09-06 15:23] jacg commented on #307
Not to anyone remotely familiar with Python, I would hope.

The cost of using `all` rather than `full` isn't all that great: it's just that you'll be in for a surprise if you ever try to use the builtin `all` in a config file. Which is pretty unlikely, I hope.

If we use `all` rather than `full`, that shifts the balance a bit towards `--events`.

[2017-09-06 15:29] jacg commented on #307
After a major rewrite resulting from the move from `--first-event` and `--n_events_max` to `--event_range` I am getting a few test failures. Three of these are essentially

    assert nrequired == nactual

and all of these fail because `nrequired == 2` while `nactual == 1`. This happens in

+ `test_irene_electrons_40keV`
+ `test_isidora_electrons_40keV`
+ `test_irene_runinfo_run_2983`

As I am not

[2017-09-06 15:53] gonzaponte commented on #307
I can't see anything why these tests would fail. The messy commit would help.

[2017-09-06 15:56] jacg commented on #307
It's there at the end of #324. Which is where meant to ask my question, sorry.

[2017-09-06 16:10] gonzaponte commented on #307
The tests are still using `n_events_max`. Am I missing something?

[2017-09-07 07:54] abotas opened #331 "our writers create_index() at the wrong time?"
Francesc Alted asked us why we `create_index()` in our writers, as soon as we make the table, before we put anything in them. He suggests do this after we fill our pytables to avoid buggy behavior with flushes. He also says this is usually faster.

I've checked with a toy and there things seem to write 10-15% faster without the create_index. You can see that notebook [here](https://github.com/abot

[2017-09-07 09:53] abotas commented on #331
Update: after running irene with ipmt over 1k Kr event from run 4446 a few different times, I find that Irene is consistently marginally faster without the `create_index()`.
2.0 events/sec without `create_index`
1.9 events/sec with `create_index`

So, I think we should take it out of the writers. It's not clear to me what purpose it serves --maybe it speeds things up for cities that read the pmaps

[2017-09-07 10:09] abotas commented on #331
Update 2:
It's putting `create_index()` _before_ filling the pytables that seems to be giving us issues. In the toy, when I `create_index()` after filling the pytables, it is faster and there is no buggy pytables behavior.

So there is no downside to putting `create_index` after filling the pytables, but I'm not sure if it does anything or if we should just get rid of it.

[2017-09-07 12:11] gonzaponte commented on #331
`create_index` is needed for the read back of data to be fast. We can't remove, so it seems the optimal solution is to call this method *just before* closing the file.

[2017-09-07 15:02] jjgomezcadenas commented on #331
Correct, create_index is needed and we should move it right after closing the files. Let's do it @abotas and be done with it!

[2017-09-07 22:24] jacg commented on #299
@jjgomezcadenas This is whole issue could have been avoided if #170 were ready; then we could write in the manual: "If tests fail mysteriously on your machine but not on Travis and elsewhere, then try

    bash manage.sh update_all

Or words to that effect.

Without #170 we will periodically waste our time on this sort of stuff.

[2017-09-07 22:24] #299 closed, assigned to nobody

[2017-09-07 22:26] jacg commented on #263
Here's another example of why we need @307.

[2017-09-07 22:26] #263 closed, assigned to nobody

[2017-09-08 09:19] #328 closed, assigned to nobody

[2017-09-08 09:52] abotas commented on #331
Yesterday I wrote that simply using `create_index` after populating the pytables solved all the problems. This was not entirely true. It vastly decreases the opportunities for buggy pytables crashes, but a manual flush afterwards is still necessary. See:
https://github.com/abotas/ICARO/blob/city-monitors/icaro/reco/when-to-create-index.ipynb

Francesc Alted suggested we close the files after popul

[2017-09-08 09:52] #331 closed, assigned to nobody

[2017-09-08 10:47] jmbenlloch opened #335 "Managing productions"
As pointed out by @gonzaponte  in issue #319 we should create a new repository for the scripts & configurations used both in data and MC productions. In that thread people's vote went to 'Ceres', so in principle that will be the name.

We will need to create tags both in nextic and in ceres to keep track of the versions (both code & configs) used to process data. For IC we could go with semantic v

[2017-09-08 13:03] jjgomezcadenas commented on #335
@jmbenlloch  Agree with the scheme, perhaps tags in CERES should include a key to indicate whether the production is data or MC, so dd-yyy-mm-dd or mc-yyy-mm-dd. Please proceed.

[2017-09-08 14:08] #307 closed, assigned to jacg, gonzaponte

[2017-09-08 14:08] #308 closed, assigned to nobody

[2017-09-09 13:34] jacg commented on #309
So that's 0.0015 s / event -> 0.0075 s / event.

I'm on a different machine, so we can't compare these directly, but the current version run on the 17000 events in the files you sent me, gives me 0.0017 s / event. IOW, I don't seem to be able to reproduce the problem here.

[2017-09-09 19:16] jacg opened #337 "Git identities"
When the email address in a commit does not match the address associated with your GitHub account, GitHub sometimes does not recognize the user correctly.

Please ensure that your git identity is set correctly:

    git config --global user.name "Fulano Mengano"
    git config --global user.email fulano@mengano.com

(You can omit the `--global` to set it on a per-repository basis.)

@abotas in par

[2017-09-10 07:21] paolafer commented on #337
Hi! I'm not sure I know how to do 1., and realize about 2.

[2017-09-10 07:43] jacg commented on #337
As shown in the original comment above:

    git config --global user.name "Paola Ferrario"
    git config --global user.email <whatever email address you registered on GitHub>

You will have to do this on every machine on which you develop, and remember to do it when moving to a new machine.

Grepping through the logs for (case insensitive) 'Paola' finds 12 commits, all with the same email addres

[2017-09-10 07:55] paolafer commented on #337
Ok, done it. So, now my name should be Paola Ferrario instead of Paola from now on?

[2017-09-10 08:04] jacg commented on #337
For all your future commits, yes. As long as you remember to set it again on any new machine.

I won't go back and fix your human-readable name in history, as GitHub dosen't care about that at all, and I really want to avoid rebasing `master`.

[2017-09-10 08:08] jacg commented on #337
@jerenner I can see 3 different addresses for you:

1. On a MacBook
2. a CERN visitor on dyndns
3. on nextp12

Clearly your git identity is not configured.

[2017-09-10 08:12] jacg commented on #337
@ansimez Yours needs confiuring too: your commits are registered to an email address on your macbook.

[2017-09-10 08:32] jacg commented on #337
@jerenner @ansimez Please communicate to me the email address you have registered with GitHub.

Anyone else, If you would like me to fix your human readable names, speak now or forever hold your peace. I will do one final rebase of `nextic/master` sometime this evening, and then I really don't want to do it again!

Locally I have already made the following changes, awaiting to be pushed to `nextic

[2017-09-10 09:27] Aretno commented on #337
Mine is "aretno@gmail.com". I'll do my git config tomorrow using "Ander Simón" as my human-readable name if accent marks are allowed, if not, "Ander Simon". Thanks!

[2017-09-10 10:28] jerenner commented on #337
I'll set my user.name as "Josh Renner"
I'll also set my user.email to: josh.e.renner@gmail.com

I had not set these before, and looking at my commits in Magit, it looks like my name was often followed by something that is not a correct email: for example <jrenner@nextp12.ific.uv.es>.  This seems to be the case for all previous commits I had made in my fork of IC.  Really the only recent relevant c

[2017-09-10 10:41] jacg commented on #337
OK, with that I now have a clean and consistent set of identities in my version of `master`.

@jmbenlloch has human-readable name 'jmbenlloch' and @gonzaponte has human-readable name 'Gonzalo'. If you would like these changed, let me know today. Otherwise I'll push what I have, and hopefully we'll be done with rebasing `nextic/master`.

[2017-09-10 10:42] gonzaponte commented on #337
I am not sure if this goes in the line of this issue, but when I merge some
PR, I use the name I see in Github as the author. For instance, jacg,
jjgomezcadenas, etc. Insted of the actual names. Am I doing it wrong?

[2017-09-10 10:55] jacg commented on #337
I recall that for some people I had to use the name and for some I had to use the userid, in order to get (ma)git to recognize it. I've never really got to the bottom of that.

Given that (in our current rebase --no-ff policy) you create these merge commits for PRs in your local repo, which is not really aware of GitHub, it's not clear to me how the *GitHub* id matters.

Keep doing what you were d

[2017-09-10 10:57] jacg commented on #337
If @jmbenlloch and @gonzaponte are happy with their single-word human-readable names, I can push now and close this issue.

[2017-09-10 10:57] gonzaponte commented on #337
I am.

[2017-09-10 13:29] jjgomezcadenas opened #338 "Large number of warning when running tests in new installation"
I have a new IC installation (new MAC), everything has run OK but I get a very large number of warnings:

Could the relevant suspects (e.g, @gonzaponte mainly) take a look and comment? Thanks!

=============================== warnings summary ===============================
invisible_cities/cities/zaira_test.py::test_zaira_KrMC
  /Users/jjgomezcadenas/Projects/IC/invisible_cities/reco/corrections.

[2017-09-10 13:52] gonzaponte commented on #338
Is this with the current master? Those warnings were fixed in #312.

[2017-09-10 14:03] jjgomezcadenas commented on #338
Sorry, forgot to update. All is clear now.

[2017-09-10 14:03] #338 closed, assigned to nobody

[2017-09-10 16:02] jacg commented on #337
I have pushed the history with the updated identities to `nextic/master`.

[2017-09-10 16:02] #337 closed, assigned to nobody

[2017-09-14 18:32] paolafer opened #339 "Missing parameter reco_algorithm"
I've noticed that the Penthesilea's parameter reco_algorithm has been killed. I haven't follow the whole discussion, so maybe I've missed something, but why has it happened? My understanding is that we want people to be able to try different algorithms, which can be chosen via a configuration parameter. Is this possible in the current code?

[2017-09-14 19:12] jjgomezcadenas commented on #339
Well, there were only two algorithms and one was a particular case of the other. You can still run barycenter by setting negative lm_radius. Look at the config files in config, for example
dorothea_kr_with_barycenter...

[2017-09-14 20:08] paolafer commented on #339
I was not thinking about the barycenter, but a possible different algorithm.
However, also in the case of barycenter, I see two possible issues. The first one is that it doesn't seem intuitive to me that a negative lm_radius in corona means a barycenter. It seems completely arbitrary.
The second one is about possible configuration parameters in the barycenter algorithm itself. We have seen in the

[2017-09-14 20:19] paolafer commented on #244
I've realized only now that I'd been assigned this issue, sorry! I think it can be closed, since now MC events come with unique numbers within the same production.

[2017-09-14 20:25] jjgomezcadenas commented on #339
we cross that river when it comes.

But it is documented, so not an issue.

When (if) we have the specific case we can work it out. Passing parameters should be simple enough.

[2017-09-14 20:31] paolafer commented on #339
Well, we changed a code that allowed multiple algorithms to the current one, so what was the reason for that?

Ok, let's call it a suggestion, then.

I think that the case is there: the barycenter algorithm reconstructs better when a selection of the SiPMs is made previously, based on the ratio of the SiPM charge over the SiPM with maximum charge.

[2017-09-14 20:35] jjgomezcadenas commented on #339
Simplicity. Both algorithms were the same.

Why on Earth do you want to mix the barycenter algorithm with a selection? Write a function that selects the SiPMs you want, then call barycenter with those SiPMs.

[2017-09-14 20:42] jacg commented on #339
@jjgomezcadenas Could you please prepend `>` to text that you are quoting? The fact that things you quote and things you are saying look identical in your posts, does make them unnecessarily difficult to follow! (I have edited your last two comments here, accordingly.)

[2017-09-14 20:44] jjgomezcadenas commented on #339
Like this? With pleasure. Sorry!

[2017-09-14 20:45] paolafer commented on #339
I don't think that the algorithms are the same. In fact, corona **calls** barycenter. If we really want to unify them, we should use lm_radius = 0 and new_lm_radius = infinity, in the case of barycenter...

[2017-09-14 20:48] jacg commented on #339
That's it. Thanks.

[2017-09-14 20:51] jjgomezcadenas commented on #339
Sorry, what I meant to say was that one algorithm was an special case of the other. Corona searches local maxima and then calls a barycenter around them. What we call barycenter (and should have called global barycenter) simply calls a barycenter for a given set of SiPMs. In any case there was no special reason to make these separate algos. They can be easily configured by parameters and actually

[2017-09-16 07:15] jjgomezcadenas commented on #339
I think we can close this for now

[2017-09-16 07:15] #339 closed, assigned to nobody

[2017-09-16 07:15] jjgomezcadenas commented on #335
@jmbenlloch please go ahead, create directory, set tag, and close this

[2017-09-16 07:17] jjgomezcadenas commented on #166
Since this is fully correlated with #134 I think we can close it

[2017-09-16 07:17] #166 closed, assigned to nobody

[2017-09-16 07:19] jjgomezcadenas commented on #226
Why is that important @jmbenlloch? We are not hashing our objects

[2017-09-16 07:19] #244 closed, assigned to paolafer, jmbenlloch

[2017-09-16 07:21] jjgomezcadenas commented on #296
Fixed

[2017-09-16 07:21] #296 closed, assigned to nobody

[2017-09-16 07:22] jjgomezcadenas commented on #309
Any further insight here, @gonzaponte ?

[2017-09-16 07:58] jacg commented on #226
Chicken and egg: We are not hashing our objects, because they are unhashable!

I forget the exact context, but there was a situation where storing our objects in a set would have produced a simple and efficient algorithm, but their unhashability threw a spanner in the works.

[2017-09-16 08:00] jacg commented on #251
Errrm, @jjgomezcadenas  why did you close this?

[2017-09-16 08:03] jjgomezcadenas commented on #251
Sorry! I thought that since we had the "city" command already implemented the issue was closed. I read too quickly! Sorry!

[2017-09-20 14:27] jmbenlloch commented on #335
This is done already in https://github.com/nextic/CERES

[2017-09-20 14:27] #335 closed, assigned to nobody

[2017-10-02 09:28] abotas opened #347 "counters bug running dorothea with corona"
There is a counter `n_events_more_than_1_cluster` in `Counter` that is never initialized (i think it is only in one place in the code and we are trying to add 1 to it).

When I try to run dorothea with corona it crashes immediately.
I think this is a simple fix, but I don't know if this is a counter we care about or if we should just get rid of it? @gonzaponte @jjgomezcadenas

[code]

[2017-10-02 09:46] gonzaponte commented on #347
It is not harmful to have it.

[2017-10-03 11:50] gonzaponte commented on #134
Closed via #349.

[2017-10-03 11:50] #134 closed, assigned to nobody

[2017-10-03 18:43] gonzaponte opened #353 "Version control"
In #349 we have been discussing how to proceed regarding version control. So far, we have agreed to commit to the repository `.yaml` files with fixed versions of each package. The open question is how to proceed when upgrading to a newer version. This is not urgent, as we are now keeping the versions in a stable configuration, but has to be addressed in the future. We would also like to add some t

[2017-10-03 19:22] jacg commented on #353
What we really need is a mechanism for keeping the conda environment package versions in sync with the currently checked out commit!

A rough outline of the implementation could be

1. add a utility to `manage.sh` which updates the `ICX.Y` environment to the versions specified in the now-committed `.yaml` file.

2. add a git hook which invokes this on every checkout. This could make checkouts veee

[2017-10-03 19:34] jjgomezcadenas commented on #353
sounds daunting! And I wonder whether the evil (slow checkouts, rebasing) outweighs the good!
(sorry about too much chatting, I am caught with other obligations and I cannot code, thus talk is the last resort...)

[2017-10-03 19:57] jacg commented on #353
We need to find a balance between the pros and the cons. Without automatic syncing of the dependencies with the client code using them, we will keep on running into stuff such as #299. This wastes precious time and resources.

The question is, what can we provide without making other things become too costly?

It is not a question that we can answer today.

Perhaps the right compromise might be a

[2017-10-05 13:26] jerenner opened #356 "Loading multiple DST and hits files"
For loading DSTs there are currently two functions, one (load_dst) to load a single DST and another (load_dsts) that loads several and concatenates them:

1. Should these functions be combined into 1 single function that handles both cases (single file or multiple files)?
2. Should a similar function be written to load hits from multiple files?  (Currently load_hits only handles 1 file)

[2017-10-05 13:59] gonzaponte commented on #356
I think we can combine them. If we force the arguments `group` and `name` to be keyword arguments we can take an arbitrary number of files as positional arguments using the star syntax.

[2017-10-05 17:02] gonzaponte opened #357 "Travis taking too long"
Lately, Travis is taking too long to make the build. The last one is over 20 minutes and seems to be stuck in the tests rather than in the downloads or in the setup. I don't know if the parallel testing is the issue here, but I don't see any other reason. Also, the output of Travis contains stuff I haven't seen before, but I did never pay too much attention to it anyway.

[2017-10-05 17:03] #347 closed, assigned to nobody

[2017-10-06 09:34] gonzaponte opened #360 "Weird behavior in S2Si"
I have found a weird behavior in this method of the S2Si class:
[code]

This means that
- If the peak does not contain any SiPM, the function will say it is 0
- If the peak does contain at least 1 SiPM, but not the one we are looking for, the function will raise an exception.

I think we should raise `SipmNotFound` in both cases. Do you agree @jjgomezcadenas? I am preparing a PR with some small ch

[2017-10-06 14:45] gonzaponte opened #361 "Compile-only option"
Can we include a compile cython components option to `manage.sh` that doesn't run the tests?

[2017-10-06 16:24] gonzaponte commented on #361
Maybe it is not necessary since the compilation is done entirely by the command `python setup.py develop`.

[2017-10-06 18:02] gonzaponte commented on #360
Same for `S2Si.sipm_waveform` and  `S2Si.sipm_waveform_zs`. In these cases, they raise a `SipmEmptyList` if the peak is empty, but these functions are looking for a particular SiPM, they don't care about how many SiPMs the peak contains. It doesn't feel natural to raise an exception for something you are not concern about, they should raise a `SipmNotFound` exception, I think.

[2017-10-07 16:44] jacg opened #363 "Assign merge commits to reviewer who approved PR"
We currently have a policy to assign merge commits to the main author of the commits in a PR. I propose that we switch to assigning the merge commit to the reviewer who approved the PR, with the approval comment included in the merge commit comment, along with the main comment introducing the PR.

[edit: We should also include the PR number in the commit message. Better still, in the title of the

[2017-10-07 18:03] gonzaponte commented on #363
I don't disagree, but can you elaborate on the logic behind it?

[2017-10-07 19:02] gonzaponte opened #364 "Open intervals for minrun-maxrun in database"
When we search for data in the database based on some run number, we look for those rows between `MinRun` and `MaxRun` with an open interval. For example:

[code]

Since the data runs have never matched those numbers so far, there has never been a problem with that. Do we want to change it to be a right-open interval like `[MinRun, MaxRun)`? I've been struggling to figure out why a test failed bec

[2017-10-08 07:57] jacg commented on #364
Sticking to the strong Python convention of semi-open intervals would certainly conform to the principle of least surprise.

What's really shocking in this case is that it's an *open* interval: usually deviations from the semi-open convention tend towards closed intervals, so open seems very surprising indeed.

The fact that you lost time on undertanding a test failure because of it, is an indicat

[2017-10-08 08:07] jacg commented on #363
Review and approval of a PR are a significant part of the PR's history. Currently we note authorship in the commits themselves, but we have no record of the identity of the reviewer, except trawling through the PRs on GitHub, but there is no link between the commits that make up the PR in a local repo and the GitHub PR in which they were accepted.

The author is probably the primary source of wisd

[2017-10-08 09:10] gonzaponte commented on #363
Sounds good to me.

Yes, I find that particularly useful.

[2017-10-08 09:44] jjgomezcadenas commented on #363
I smell blood soon to be spilled here...

[2017-10-08 12:11] jacg commented on #357
This seems to be caused by a new version of hypothesis: lots of tests are now hitting the default timeout limit of 60s. We don't see this in our local repos, because

1. Most of us are running older versions of hypothesis, locally
2. Travis runs the `hard` profile, which tries 1000 cases, while our `dev` profile, which we use by default locally, tries only 10 cases.

I have run the tests on 8 proc

[2017-10-08 12:31] jacg commented on #363
Yup, I think it's the most important part of the idea. Adding the URL of the PR in the message body could be good.

Oh yessss, the hounds shall be unleashed.

[2017-10-08 17:42] gonzaponte opened #367 "Dev database during installation"
We are currently downloading the dev version of the database in our travis build:
[code]
Is there any reason for that? I have a PR not passing the tests because this db is not up to date.

[2017-10-08 18:31] jacg commented on #367
Travis uses `run_tests_par` which calls `download_test_db` if `localdb.sqlite3` is not found. So the separate step you mention does seem superfluous.

I am not really up to speed on the difference between the dev and non-dev versions of the database.

As @jmbenlloch committed that line with the title 'Use dev version of the DB in travis', perhaps he's in the best position to answer your question.

[2017-10-09 02:28] jmbenlloch commented on #364
I agree there is an error there, but I think the interval has to be closed `[MinRun, MaxRun]` due to two things:

1- That is the way data is stored in the DB now. For instance:

[code]

2- We arre using the same DB as the ART software, if we change the DB to use semiopen intevals, we may break compatibility with ART.

So, in my opinion, we sould put: `select * from ChannelMask where MinRun <= {3}

[2017-10-09 02:50] jmbenlloch commented on #367
When that commit was made we had a problem with some data from the database. It seemed that some channels which were not masked needed to be masked, so we created a new `dev` DB to do this change.

The idea was to keep two copies of the DB: `production` and `dev`. The new changes will be tested first in the `dev` version and then, if everything was ok, the will be propagated to the production one.

[2017-10-09 05:58] jacg commented on #367
Just remove the line. No need to do it explicitly as the `run_tests*` functions download the production database if no database is found.

[2017-10-09 07:24] jmbenlloch commented on #367
Done. If we agree to do that, there is a PR open with that solution (#368) that could be merged.

[2017-10-09 08:08] jacg commented on #363
Do we agree to the following merge policy?

Mergers should use the PR number and title as the title of the merge commit. The merge commit comment should contain the most useful and informative combination of the PR's opening comment and the reviewer's acceptance comment.

If we stick to this policy then I have no strong opinion whether the merge commit should be assigned to the author or the revie

[2017-10-09 08:19] gonzaponte commented on #363
I do agree.

I want to emphasize that we (me particularly) should use more descriptive titles in our pull requests. Reviewers must demand a better title if it describes the PR poorly.

[2017-10-09 08:23] gonzaponte commented on #364
Ok. You mean that `MaxRun` is always the next `MinRun` minus one. Closed intervals make sense here.

[2017-10-09 09:40] jjgomezcadenas commented on #363
I sense the raise of new era of better men here. Watch out! Regula mortals may be scared by too much a liberal use of "must" and "should".

[2017-10-09 09:51] jacg commented on #363
And there I was wondering what literary reference I had missied in *Regula*. Is this Regula some sort of god or daemon? Imagine my disappointment when I figured out she was just a typo!

[2017-10-09 09:53] jjgomezcadenas commented on #363
What actual code you refer to?

[2017-10-09 09:55] paolafer commented on #363
Same for me, hahaha!

[2017-10-09 10:07] jacg commented on #363
@jjgomezcadenas Now you've really lost me. In this thread I am not referring to any code at all. I am referring to your previous comment.

Are you sure you meant to post here?

[2017-10-09 10:09] jjgomezcadenas commented on #363
Sorry, yes, I had not seen the typo! Of course I meant Regular mortals.

[2017-10-09 11:24] #367 closed, assigned to nobody

[2017-10-11 09:42] jacg opened #371 "Understand and fix hypothesis issues"
We need to invest some time and effort into understanding and fixing the increasing number of problems that we are seeing in our hypothesis tests.

**EDIT THIS COMMENT TO PROVIDE MORE DETAILS AND LINKS TO RELEVANT PRs etc.** ... when I have some time ..

[2017-10-11 13:13] jacg commented on #371
It seems that many of the problems that we have seen in recent weeks were related to the evolution of the coverage feature in hypothesis itself. For example, see [this issue](https://github.com/HypothesisWorks/hypothesis-python/issues/879) in the hypothesis repo.

It seems that much of this is fixed in hypothesis 3.32, as can be seen from the timings in the table in the comments of #357. #372 Prop

[2017-10-11 14:03] jacg commented on #363
It seems that we are broadly agreed. Here is our new policy for commits that merge PRs into `next/icmaster`:

1. Start the merge commit *title* with 'PR #XYZ'.

2. Include the URL of the PR in the commit message.

3. Include as helpful as possible a combination of the introduction comment and approval comment in the commit message.

4. Set the approving reviewer as the author of the merge commit.

[2017-10-11 20:12] jjgomezcadenas commented on #371
Is this issue then solved @jacg ?

[2017-10-11 20:13] jjgomezcadenas commented on #360
I believe your last PR (just approved) addresses this. Right @gonzaponte?

[2017-10-11 20:14] jjgomezcadenas commented on #357
Is this connected with the (more or less solved) issue of upgrading hypothesis?

[2017-10-11 20:15] jjgomezcadenas commented on #356
Is this issue solved then @gonzaponte? Can we close it?

[2017-10-11 20:15] jjgomezcadenas commented on #319
I think this is solved

[2017-10-11 20:15] #319 closed, assigned to nobody

[2017-10-11 20:36] jjgomezcadenas opened #373 "Hard and Soft reviews."
In today's analysis meeting a proposal has been made to start introducing some sense in the development of analysis. Remember that analysis is mostly run by notebooks living in ICARO. So far, it has been a jungle. We are trying now to introduce some sense.

Analysis will still be formulated in NBs since their ability to put together code and plots is really useful. Different analysis will go to di

[2017-10-12 06:27] jacg commented on #309
It would have been nice to have some feedback from @gonzaponte before closing this.

[2017-10-12 06:34] jacg commented on #357
I think that this had to stay open, as long as the solution was the **temporary** workaround of **holding back** the version of hypothesis.

Now that we are solving it by using the **most recent** hypothesis, we can probably assume that the problem was caused by hypothesis rather than by us.

If that is the case, the solution can be considered **permanent**, and the issue can be closed.

[2017-10-12 06:34] #357 closed, assigned to nobody

[2017-10-12 06:42] jacg commented on #371
Oooooh, no you don't!

The whole point of this issue is to leave a reminder that some **careful** thought has to be invested into understanding exactly whether and how naive use of hypothesis is responsible for some of the problems we are seeing.

The whole point is that this has to be done *carefully* **when time allows**.

So closing it in a rush in a midnight pogrom of frail, defenceless and un

[2017-10-12 07:24] jjgomezcadenas commented on #371
Well, I am glad that I asked...

[2017-10-12 09:30] gonzaponte commented on #309
@gonzaponte doesn't have time to look at this right now, but it can remain open until I do. It seems having open issues/PRs in github is itself an issue.

[2017-10-12 09:38] jacg commented on #309
On the one hand, it is good to go through stale issues and close those which can be closed sensibly. On the other hand, some people are a bit too trigger-happy in this process. (I wonder whether such people associate open issues with bad karma?)

[2017-10-12 09:50] gonzaponte commented on #364
This should't have been closed. There is no PR fixing it.

[2017-10-12 09:53] gonzaponte commented on #360
Yes, it will be automatically closed when the PR is merged.

[2017-10-12 09:54] jjgomezcadenas commented on #309
Man used to drink a good single malt late at night, for happy dreams, now he's dry like a desert. Guess he gets some pleasure out of issues closing, specially at small hours. He just meant well, though, trying to cut the pile shorter. Otherwise the list becomes so long that one stops looking at issues... or so he says.

[2017-10-12 09:55] gonzaponte commented on #356
It is not *solved*, because we haven't discussed it. I am in favor of a single function handling both cases, but there isn't any other opinion here...

[2017-10-12 09:56] jjgomezcadenas commented on #364
Sorry, I don't get it. I think it is agreed that we cannot use semi-open interval in the case of the DB

[2017-10-12 09:57] gonzaponte commented on #364
We have agreed on the solution, but it is still not implemented.

[2017-10-12 10:24] jacg commented on #363
I hereby declare the policy set out in the previous comment to be the official IC merge-commit policy.

[2017-10-12 10:24] #363 closed, assigned to nobody

[2017-10-12 10:31] jacg commented on #309
It is *important and worthwhile* to close stale issues that need closing. As you say, one negative consequence is that a long list of open issues just encourages you to ignore them all.

But the process of closing them must *discriminate* between those that really should be closed, and those that need to remain open.

[2017-10-12 10:50] jjgomezcadenas commented on #309
Agreed, late night bouts are kind of dangerous. Apologies

[2017-10-12 11:56] #360 closed, assigned to nobody

[2017-10-12 18:41] paolafer opened #374 "Missing MC true information in hits created by Penthesilea"
I've realized that MC true info is not written in the Penthesilea step. I think we should have MC true info in MC output files, in general.

[2017-10-13 06:38] jacg commented on #373
That's a very cavalier statement!

... or they won't realize the plot is wrong; and they'll waste a lot of time on believing the nonsense that they've been looking at.

Anyway, I am in danger of producing a voxel / track visualizer, as a byproduct of something I am doing outside of IC. Where should I put this code?

[2017-10-13 07:03] jjgomezcadenas commented on #373
Or perhaps I am trying to choose the laser evil. If we insist that people working in analysis have to add tests to their plot functions, then they will simply keep them in their NBs and the consequence will be a proliferation of the same thing over and over. On the other hand,  I have almost never seen a function producing a wrong plot tricking me. Generally when you try to plot something is all v

[2017-10-13 07:04] jjgomezcadenas commented on #373
In IC/ICARO. BTW, I did produce some (surely inferior, nasty and despicable) versions of voxels and track visualisers months ago. So, here is an example of how, by putting stuff in IC/ICARO we can improve...

[2017-10-13 07:29] jacg commented on #373
There is a world of difference between 'insisting that people working in analysis have to add tests to their plot functions' and acknowledging that 'a mistake in a plotting function is almost irrelevant' is indeed a cavalier statement.

Absolutely agreed.

I agree completeley. And yet I stand by my original statement.

If you are after two different levels of review, I wonder whether ICARO should

[2017-10-13 07:47] jjgomezcadenas commented on #373
Nooo!! God forbids! As soon as we step out of IC, we are doomed. Before you knew it, people would be back using root. Let's keep the stuff in IC, let's try to do our best, let's compromise!!! No unilateral declaration of independence please, no new Free Socialist Republic of ICARO where marijuana is free and reviewers are all sold out to the gold of Moscow.

[2017-10-13 07:55] paolafer commented on #373
I'd be happy to contribute, can you just clarify the main point of the discussion? Is it whether to create a different repository for ICARO or putting it inside IC?

[2017-10-13 07:56] jjgomezcadenas commented on #373
Actually, there are two ICAROS (sorry, just to keep the enemy confused). ICARO as a repository is the place where people runs their notebooks for analysis. It is a very happy place, sex and drugs are free and you can lie around the beach most of the time. You lump all your code in Notebooks which you duplicate randomly and frequently. ICARO is indeed a client of IC. A drunk client, for that matter

[2017-10-13 07:58] jacg commented on #373
WTF!?!? Root? What are you talking about?

Of course there would be a review process in ICARO: the *soft* review in the title of this issue. And a standard part of that soft review would be a **hard** rejection of anything that uses Root on any other inadmissible evil. ICARO should be an IC-based analysis repository.

The central part of my message is that ICARO should depend on IC, and IC should

[2017-10-13 08:03] jacg commented on #373
Sorry, I really do have other things to be doing right now ... so I don't have time to go over details right now.

Let me just reiterate the fundamental principle:

**Reconstruction does not depend on analysis, so there should be no hint of analysis code in the reconstruction framework's repo.**

If you go against this principle, weird stuff is going to start creeping up on us, and then, many mont

[2017-10-13 08:03] jjgomezcadenas commented on #373
See what happens? @paolafer  has spent too much time in ICARO beach and not enough in IC factory.

The main point of the discussion is to implement the strategy suggested at the analysis meeting two days ago. To clarify again:

1. ICARO is an analysis repository which depends on IC. The main objects there are Notebooks.
2. Notebooks tend to proliferate, typically duplicating code, as they are crea

[2017-10-13 08:07] jacg commented on #373
Fine, treat the current ICARO repo as a nursery, from which successful useful stuff can be taken, cleaned up, and promoted to ICARO-adult, but, please, for the love of all that is good, do not stick client code in the repository of the provider.

[2017-10-13 08:08] jjgomezcadenas commented on #373
What do you call analysis code? Is a plot analysis code? or a pretty-print utility? or a fit function?

I don't think there is such thing as analysis code. Analysis code is just the tale told by an idiot, full of sound and fury, meaning... whatever it means, but the tale itself is ugly and this is why is kept in a notebook.

The *pieces* used to tell the tale are a different story. They are often

[2017-10-13 08:09] jjgomezcadenas commented on #373
OK, this is a good rule of thumb. The review should make sure of that.

[2017-10-13 08:11] jjgomezcadenas commented on #373
BTW. In hvt_mpl.py (in IC/ICARO) you find my poor attempts at plotting functions (tracks, voxels and such). They are pretty ugly, but last time I tried they worked. Decent plotting is a different story, BTW, that we need to address some time.

[2017-10-13 09:12] jacg commented on #373
Let me present an argument to convince you that this is claim is fundamentally flawed.

The claim assumes that there is some user who is actively and continuously using the plotting function. What happens if nobody has been using the function for a few weeks or months? What happens if other things on which it relies have changed in a way that breaks the function? What happens if the user wants to

[2017-10-13 09:40] jjgomezcadenas commented on #373
Agreed, you have a point. The problem is that automated tests seem to be a very hard to add to plotting functions.

Methinks we need a IC-wide discussion to understand how to organise the analysis...

[2017-10-13 10:37] jacg commented on #373
Not so!

I have shown how it can be done in #119.

Any utility worth including should be accompanied by at least one (preferably several) simple example of its usage. The example should produce an image, and that example source along with the resulting image can be used to make a test à la #119.

There's no point in having these utilities in the repo if they are a secret or if it is difficult to f

[2017-10-16 20:54] jjgomezcadenas opened #377 "We need to review PRs"
We have about 10 PRs opened and more are coming. We need to start reviewing and approving some of them, or we are gonna stale development. Ideas??

[2017-10-16 22:49] abotas commented on #377
I have no ideas but I can help approve at least the ones I understand

[2017-10-16 23:12] jjgomezcadenas commented on #377
Actually there is a PR from you still hanging... what is the status?

[2017-10-17 02:55] abotas opened #378 "strange problem when trying to run source manage.sh work_in_py..."
When I run
`source manage.sh work_in_python_version 3.6`
 I get a strange error:
[code]

I think this first occurred after I rebased a branch of mine on top of master. I tried all the initial stuff I always try (compiling, cleaning, dowloading the db etc) but none of it worked. Eventually i deleted / recloned everything and did a new `install_and_check` and it the problem disappeared.

But a few h

[2017-10-17 02:57] abotas commented on #377
Yes! That is almost done-- as it has been for far too long-- I think I can make it all the way done by tomorrow.

[2017-10-17 05:19] jacg commented on #378
`use_coverage` is a setting that was added to hypothesis itself in 3.29 (about 4 weeks ago). Its use in a `conftest.py` appeared on `nextic/master` 6 days ago. That part of the problem should go away if you ensure that you have a version of hypothesis >= 3.29.

[2017-10-17 16:21] abotas commented on #378
ok completely resolved, closing the issue

[2017-10-17 16:21] #378 closed, assigned to nobody

[2017-10-17 18:16] gonzaponte commented on #374
I am working on it, but we need #376 first.

[2017-10-23 10:40] gonzaponte commented on #363
This policy applies to multiple-commit PRs only, right?

[2017-10-23 16:21] abotas commented on #363
There is no merge commit with single commit PRs, right?

So the policy can only apply to multiple-commit PRs

[2017-10-23 16:32] gonzaponte commented on #363
Yes, that was my reasoning too, but should I reword the commit to include the PR number, for example?

[2017-10-23 16:43] abotas commented on #363
I would guess yes, so they look consistent... but that's just me

[2017-10-24 18:11] jacg commented on #363
Yes, this only applies to PRs with a merge-commit, which only exist for PRs with more than one commit.

Rewording to include the PR number would be good.

[2017-10-27 08:21] jacg commented on #363
We have agreed to start merge commit titles with `PR #nnn`.

I propose that we save ourselves 3 precious characters by dropping the `PR ` and using just `#nnn`.

[2017-10-31 07:41] jacg commented on #363
There's just one problem with using `#nnn` at the statr of the title: Git understands `#` at the beginning of a line as a comment.

Simple solution: put a space before it. This saves us only 2 rather than 3 characters. I'll take it.

[2017-11-02 01:50] Zac-HD commented on #371
Hi @jacg, I'm a maintainer on Hypothesis, and I'd love to work through any problems you've been having so we can fix them (with either code or better documentation 😄)

If your issues were *just* performance-related, we're aware of them and working on those upstream - both in the issue linked above and further upstream in Coverage itself.  Otherwise, I'll need some more information to help!

[2017-11-02 09:00] jacg commented on #371
Hi @Zac-HD,

Yes, I know who you are: I have a couple of PRs open in the hypothesis repo, and you have been helping me there.

Just like those PRs, this issue is something to which I fully intend to return, but at the moment I am overstretched on things which have a higher priority for me.

Thank you very much for reaching out with the offer, which I *will* take up ... when I get the time to work

[2017-11-02 15:52] paolafer opened #387 "Masked channels"
During today's S&A meeting I've realized that we are not taking into account masked channels in the corona algorithm. They matter, because we ask the sensors within corona be more than a fixed number. If one of these sensors is masked, this number should decrease by 1 (this is how we had  corona implemented in art). I can take care of this, but I wanted to raise the issue, first, because this chan

[2017-11-02 15:55] paolafer commented on #387
Maybe we could keep this information outside xy_algorithm, just changing the corona parameter nsipm in the place where the algorithm is called (HitCity, maybe?).

[2017-11-02 15:55] gonzaponte commented on #387
The functions can take an extra argument with the masked sensors or something like that. I think we can and should avoid introducing the `database` dependence in `xy_algorithms`

[2017-11-02 16:00] gonzaponte commented on #387
I have just taken a look at the code and this seems a reasonable option. However, I don't see yet how are going to take this into account, because we don't know if a masked channel is around the signal region or not. And even if we know, we can't know whether it would have had signal or not.

[2017-11-02 16:07] paolafer commented on #387
Right, you need to know which one is the hottest SiPM, to know its neighbours...

[2017-11-02 16:15] gonzaponte commented on #387
Ok, I have seen the C++ implementation as well. I like your proposal. Are you going implement it?

[2017-11-02 17:06] paolafer commented on #387
Yes, but I think that we *need* to make xy_algorithm dependent on database. Is that ok?

[2017-11-02 17:09] gonzaponte commented on #387
I don't see the need for that. As you mentioned earlier...

[2017-11-02 17:11] jjgomezcadenas commented on #387
This is not a problem, we use the data base all the time and have a local copy of the data base at our disposal.

[2017-11-02 17:40] gonzaponte commented on #387
*Conceptually*, `corona` does not need to know about the database. The function is designed to be "abstract" in the way that it takes x-y positions and charges and produces an invariant result. This encapsulation makes our life easy in many ways (testing is a good example of that). If you need to handle special cases, do it separately and pass "pure" information to your algorithm. If we begin to i

[2017-11-02 17:56] paolafer commented on #387
I mentioned that, before realizing what you pointed out, that one needs to know the hottest SiPM, in order to check if any of its neighbours is masked. But this piece of information is accessed only inside the corona algorithm... This is why I think that we cannot avoid calling the database from inside the algorithm. Am I missing something?

[2017-11-02 18:03] gonzaponte commented on #387
Do you need to do that for each iteration? In any case, I think it can be done by passing the list of masked sensors to `corona`. There is a function `get_nearby_sipm_inds` that select those sensors that are nearby. It can also look for the masked ones if we have them.

[2017-11-02 18:08] paolafer commented on #387
Ok, if you prefer this way.

[2017-11-02 18:40] jacg commented on #387
I feel that these words of wisdom need to be emphasized (though "abstract"  and *encapsulation* should really be *pure* and *purity* or *referentially transparent* and *referential transparency*, so I have taken the liberty of editing the text):

... and its simplicity, comprehensibility, debugability, testabilitiy and many other valuable -ities.

Listen to this man! (For he understands the perils

[2017-11-02 18:43] jjgomezcadenas commented on #387
Jesus Almighty! How may karma points has @gonzaponte won on this one???

[2017-11-02 21:15] paolafer commented on #387
Can I have at least one micropoint for having asked ;-)? So I can start the rising from ῞Αιδης where I lie...

[2017-11-06 15:15] paolafer opened #389 "Possible bug in voxelize_hits"
After a careful comparison of our codes and results using paolina functions, @jerenner and myself realized that, using different versions of those functions, the results change substantially.
In particular, while I'm using the current master, Josh is using a master at commit 07e9f9a21bc97bdedfd90d66a89d713a301ab99a.
In particular, the energy distribution of the blobs is very different, the selecti